// Start about-us section //
.about-us {
    padding: @sectionPadding;

    .about-container {
        display: flex;
        flex-direction: column;
    }

    .about-content {
        display: flex;
        flex-direction: column;
    }

    .about-image {
        display: flex;
        flex-direction: column;
    }

    .heading {
        margin-bottom: 2rem;

        h2 {
            text-align: center;
        }

        p {
            margin-top: 0.5rem;
            text-align: center;
        }
    }

    .values-info {
        display: flex;

        img {
            width: 100%;
            height: 100%;
        }
    }
}
// End about-us section //

// Start testimonial section//
.testimonial {
    padding: @sectionPadding;

    .testimonial-container {
        display: flex;
        flex-direction: column;
    }

    .testimonial-content {
        display: flex;
        flex-direction: column;
    }

    .testimonial-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        background: linear-gradient(#00326C 68%, @whiteColor 68%);
        box-shadow:@shadowLight;
        position: relative;
        z-index: 1;
        width: 96%;
        margin: 8px auto;

        &::before,
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 80px;
            height: 80px;
        }

        ;

        &::before {
            left: 0;
            bottom: 0;
            background-image: url(../img/aboutus/layer-left.png);
        }

        &::after {
            right: 0;
            bottom: 0;
            background-image: url(../img/aboutus/layer-right.png);
        }

        p {
            text-align: center;
            color: @whiteColor;
        }

        span {
            display: flex;
            width: 60px;
            height: 60px;
            margin-top: 1rem;
            margin-bottom: 1rem;

            img {
                width: 100%;
                height: 100%;
            }
        }

        h3 {
            margin-bottom: 0.5rem;
        }

        .stars {
            width: 100px;
            margin-top: 0.5rem;
        }

        .designation {
            color: @textColor;
        }
    }

    .owl-nav {
        display: flex;
        justify-content: space-between;
        width: 96px;
        margin: 0 auto;
        margin-top: 1.5rem;

        .owl-prev,
        .owl-next {
            background-image: url(../img/aboutus/testimonial-arrow.svg)!important;
            background-repeat: no-repeat!important;
            background-size: contain!important;
            background-position: center!important;
            opacity: 0.5;
            width: 35px;
            height: 35px;
            background-color: #fff!important;
            border-radius: 50%;
            outline: none;
        }

        .owl-next {
            transform: rotate(180deg);
        }

        .btn-active {
            opacity: 1;
        }
    }
}
// End testimonial section//

// Start skills section //
.skills{
    padding: @sectionPadding;

    .skills-container{
        display: flex;
        flex-direction: column;
    }
    .skills-list{
        display: flex;
        flex-direction: column;
    }
    .skills-item{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        padding: 1rem;
        box-shadow: @shadowLight;
        border-radius: 5px;
        position: relative;
        z-index: 1;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: @whiteColor;
            left: 0;
            top: 0;

        }
    }
    .skills-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            margin: 0.5rem 0;
            text-align: center;
            font-size: 18px;
        }
        p{
            text-align: center;
        }
        span{
            display: flex;
            width: 50px;
            height: 50px;
            img{
                width: 100%;
            }
        }
    
    }
}
// End skills section //
