// Start Banner section //
.certification-banner {
    background: @blueGradient;
    .banner-container {
        display: flex;
        flex-direction: column;
    }
    h1,p {
        color: @whiteColor;
    }
    .breadcrums {
        .black {
            display: none;
        }
        .white {
            display: flex;
        }
    }
}
// End Banner section //

// Start Cisco Section
.cisco {
    padding: @sectionPadding;
    .cisco-container {
        display: flex;
        flex-direction: column;
    }
    .cisco-list {
        display: flex;
        flex-direction: column;
    }
    .heading {
        margin-bottom: 0;
    }
    .cisco-content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: @whiteColor;
        box-shadow: @shadowLight;
        margin-top: 1.5rem;
        border-radius: 25px;
        align-items: center;
    }
    h3 {
        text-align: center;
    }
}
// End Cisco Section 