// Start Banner section //
.certification-banner {
    background: @blueGradient;
    .banner-container {
        display: flex;
        flex-direction: column;
    }
    h1,p {
        color: @whiteColor;
    }
    .breadcrums {
        .black {
            display: none;
        }
        .white {
            display: flex;
        }
    }
}
// End Banner section //