// Start Banner section //
.certification-banner {
    background: @blueGradient;
    h1,p {
        color: @whiteColor;
    }
    .breadcrums {
        .black {
            display: none;
        }
        .white {
            display: flex;
        }
    }
}
// End Banner section //

// Start Certification-Course Section
.certification-course {
    padding: @sectionPadding;
    .course-container {
        display: flex;
        flex-direction: column;
    }
    .course-list {
        display: flex;
        flex-direction: column;
    }
    .heading {
        margin-bottom: 0;
    }
    .course-content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: @whiteColor;
        box-shadow: @shadowLight;
        margin-top: 1.5rem;
        border-radius: 25px;
        align-items: center;
    }
    a {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }
}
// End Certification-Course Section

// Start Method Section
.method {
    padding: @sectionPadding;
    background: @blueGradient;
    position: relative;
    z-index: 1;
    #foreground {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        right: 0;
        bottom: 0;
        opacity: 0.2;
        height: 100%;
        width: 100%;
        background-image: url(../img/certification/foreground.png);
        animation: star-move 40s linear infinite;
    }
    .method-container {
        display: flex;
        flex-direction: column;
    }
    .method-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .method-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        width: 48%;
        z-index: 1;
    }
    span {
        display: flex;
        height: 93px;
        width: 93px;
        background-color: @whiteColor;
        border-radius: 50%;
        padding: 1.6rem;
        margin-bottom: 2.5rem;
        background-image: url(../img/certification/method-img.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: -35px;
            left: 34px;
            background-image: url(../img/certification//method-arrow.svg);
            height: 60px;
            width: 25px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            z-index: -1;
            
        }
    }
    p {
        text-align: center;
        color: @whiteColor;
        font-weight: bold;
    }
}
// End Method Section

// Start Enquiry Section
.enquiry {
    padding: @sectionPadding;
    .enquiry-container {
        display: flex;
        flex-direction: column;
    }
    .enquiry-content {
        display: flex;
        flex-direction: column;
    }
    .contact-list {
        display: flex;
        flex-direction: column;
    }
    .contact-content {
        display: flex;
        flex-direction: column;
        background-image: none;
        box-shadow: @shadowLight;
        background-repeat: no-repeat;
        padding: 1rem;
        margin-top: 1rem;
        width: 272px;
        align-self: center;
        p {
            font-size: 16px;
            font-weight: bold;
        }
        &:nth-child(1) {
            background-color: @whiteColor;
            span {
                background: @blueGradient;
            }
        }
        &:nth-child(2) {
            background: @blueGradient;
            span {
                background-color: @whiteColor;
            }
            p,a {
                color: @whiteColor;
            }
        }
    }
    .content {
        display: flex;
        margin-bottom: .5rem;
        align-items: center;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 37px;
            width: 37px;
            border-radius: 50%;
            padding: .5rem;
            margin-right: .5rem;
            img {
                height: 100%;
                width: 100%;
            }
        }
        
    }
    .enquiry-img {
        display: flex;
        height: 100%;
        width: 100%;
        margin-top: 2rem;
        position: relative;
        z-index: 1;
        &::before, &::after {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
        }
        &::before {
            top: 32%;
            left: 11%;
            background-image: url(../img/certification/enquiry-lines.svg);
            height: 28px;
            width: 40px;
            animation: rotate 12s linear infinite;
        }
        &::after {
            bottom: 13%;
            right: 0%;
            background-image: url(../img/certification/dotted-square.svg);
            height: 47px;
            width: 83px;
            z-index: -1;
            animation: rotate 12s linear infinite;
            animation-delay: 2s;
        }
        img {
            height: 100%;
            width: 100%;
        }
    }
}
// End Enquiry Section