// Start Unable Section
.unable {
    padding: @sectionPadding;
    background: @blueGradient;
    .unable-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    h2, p {
        color: @whiteColor;
    }
    h2 {
        margin-bottom: 1rem;
    }
}
// End Unable Section

// Start Role Section
.role {
    padding: @sectionPadding;
    .role-container {
        display: flex;
        flex-direction: column;
    }
    .role-list {
        display: flex;
        flex-direction: column;
    }
}
// End Role Section