// Start Banner section //
.courses-banner {
    background: @blueGradient;
        .banner-content {
            h1,p {
                color: @whiteColor;
            }
    }
    .banner-points {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        align-items: flex-start;
        h2 {
            color: @whiteColor;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            li {
                color: @whiteColor;
                padding-left: 1.5rem;
                margin-top: 1rem;
                position: relative;
                z-index: 1;
                width: 100%;
                &::before {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: url(../img/courses/check.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 18px;
                    width: 18px;
                }
            }
        }
    }
    .breadcrums {
        margin-bottom: 1rem;
        .black {
            display: none;
        }
        .white {
            display: flex;
        }
        ul {
            li {
                a {
                    font-size: 13px;
                }
            }
        }
    }
}
// End Banner section //

// Start course-intro section//
    .course-intro{
        padding: @sectionPadding;
        background-image: linear-gradient(#FFFFFF , #F5F5F5);

        .intro-container{
            display: flex;
            flex-direction: column;
        }
        .intro-para{
            font-weight: bold;
        }
        p{
            margin-bottom: 1rem;
        }
        ul{

            li{
                padding-left: 1.5rem;
                margin-top: 0.8rem;
                position: relative;
                z-index: 1;
                &::before{
                    content: '';
                    position: absolute;
                    z-index: -1;
                    background-image: url(../img/courses/checkmark.svg);
                    background-size: contain;
                    width: 17px;
                    height: 17px;
                    left: 0;
                    top: 4px;
                    background-repeat: no-repeat;

                }
            }
        }
    }
// End course-intro section //

// Start Foundation Section
.foundation {
    padding: @sectionPadding;
    .foundation-container {
        display: flex;
        flex-direction: column;
        .heading{
            margin-bottom: 0;
        }
    }
    .tabs-container {
        display: flex;
        flex-direction: column;
    }
    .tab-links {
        display: flex;
        flex-direction: column;
        .tab-click {
            display: flex;
            background-color: @whiteColor;
            padding: 1.5rem;
            margin-top: 3rem;
            box-shadow: @shadowLight;
            border-bottom: 4px solid #c0c0c0;
            width: 100%;
            position: relative;
            z-index: 1;
            &:first-child {
                margin-top: 2rem;
            }
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 20px;
                width: 0;
                height: 0;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom: 20px solid #c0c0c0;
            }
            .image {
                display: flex;
                justify-content: center;
                align-items: center;
                background: @blueGradient;
                padding: .7rem;
                height: 50px;
                width: 50px;
                border-radius: 0px 0px 25px 25px;
                position: absolute;
                top: -15px;
                &::before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    right: -14px;
                    width: 0;
                    height: 0;
                    border-right: 14px solid transparent;
                    top: 0;
                    border-bottom: 14px solid @lightblueColor;
                }
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .number {
                display: flex;
                font-size: 46px;
                transform: translateY(-20px);
                font-weight: bold;
                color: #f5f5f5;
            }
        }
        
        .active {
            border-bottom: 4px solid @lightblueColor;
            &::before {
                border-bottom: 20px solid @lightblueColor;
            }
        }
    }
    .tab {
        display: flex;
        font-size: 20px;
        font-weight: bold;
        align-self: flex-end;
    }
    .tab-common {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .buttons {
            position: relative;
            width: 100%;
            justify-content: flex-end;
            z-index: 1;
            &::before, &::after {
                content: '';
                position: absolute;
                z-index: -1;
                border-radius: 10px;
                height: 5px;
                bottom: 15px;
                left: 0;
            }
            &::before {
                width: 100%;
                background-color: #c0c0c0;
            }
            &::after {
                width: 33%;
                background-color: @lightblueColor;
            }
        }
        .overview-content {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            max-height: 400px;
            overflow: hidden;
            width: 100%;
        }
        .toggle {
            max-height: 100% !important;
            transition: all 0.3s ease-in, color 0s ease-in-out;
            & + .buttons {
                &::after {
                    width: 100%;
                }
            }
        }
        ul {
            li {
                display: flex;
                padding-left: 1.4rem;
                position: relative;
                z-index: 1;
                margin-top: 1rem;
                &::before {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    top: 4px;
                    left: 0;
                    background-image: url(../img/courses/star.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 16px;
                    width: 16px;
                }
            }
        }
        p {
            margin-top: .5rem;
        }
    }
    #faq {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    .faq-list {
        display: flex;
        flex-direction: column;
    }
    .faq-item {
        display: flex;
        flex-direction: column;
        background-color: @whiteColor;
        margin-bottom: 1.2rem;
        width: 100%;
        box-shadow: @shadowLight;
        &:last-child {
            margin-bottom: 0;
        }

        &.active {
            border-top-left-radius:15px ;
            border-top-right-radius:15px ;
            .ques {
            background: @blueGradient;
            border-top-left-radius:15px ;
            border-top-right-radius:15px ;
            strong{
                color: @whiteColor;
            }
            h3{
                color: @whiteColor;
            }
                span {
               
                  &::before{
                    transform: rotate(44deg);
                    background-color: @whiteColor;
                  }
                  &::after{
                    transform: rotate(-44deg);
                    background-color: @whiteColor;
                  }
                }
            }
        }
    }
    .ques {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding: 0.8rem;

        h3 {
            font-size: 14px;
            width: 79%;
        }

        span {
            width: 26px;
            height: 26px;
            position: relative;
            z-index: 1;
            display: flex;
            &::before,&::after{
                content: '';
                position: absolute;
                width: 12px;
                height: 3px;
                background-color: @lightblueColor;
                z-index: -1;
                transition: 0.8s ease-in-out;
                top: 12px;
            }
            &::before{
                
                transform: rotate(135deg);
                  right: 0px;
            }
            &::after{
                
                transform: rotate(-135deg);
                left: 6px;
              
            }

        }
    }
    .ans {
        display: none;
        padding: 0.8rem;
        padding-top: 8px;
        

        p {
            line-height: 1.6;
            font-size: 13px;
        }

        ul {
            margin-top: 5px;
            padding-left: 0.7rem;
            margin-left: 0.5rem;

            li {
                font-size: 13px;
                line-height: 1.5;
                list-style: disc;
            }
        }

    }
    #included {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        .heading {
            margin-bottom: 2rem;
        }
    }
    .included-list {
        display: flex;
        flex-direction: column;
         margin-top: 2.5rem;
    }
    .included-content {
        display: flex;
        flex-direction: column;
        background-color: @whiteColor;
        margin-bottom: 2rem;
        align-items: center;
        z-index: 1;
        &:last-child {
            margin-bottom: 0;
        }
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: @whiteColor;
            border-radius: 50%;
            height: 70px;
            width: 70px;
            position: relative;
             padding: 1.2rem;
            margin-bottom: 1.5rem;
            box-shadow: @shadowLight;
            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                top: -24px;
                left: 20px;
                height: 120px;
                width: 30px;
                background: #c0c0c0;
                border-radius: 20px;
                transform: rotate(45deg);
                animation: rotate 15s linear infinite;
                transition: 1s all;
            }
            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                top: -14px;
                left: -15px;
                width: 95px;
                height: 95px;
                background-color: @whiteColor;
                border: 2px dashed #C0C0C0;
                border-radius: 50%;
            }
            img {
                height: 100%;
                width: 100%;
            }
        }
        h3 {
            text-align: center;
        }
        &:hover {
            transition: 2s all;
            span {
               &::after{
                   border: 2px dashed @lightblueColor;
               }
               &::before{
                   background: @lightblueColor;
               }
            }
        }
    }
}
// End Foundation Section

// Start learn-more section //
    .learn-more{
        padding: @sectionPadding;
        background-image: linear-gradient(@bgColor , @bgColor , @whiteColor , @whiteColor);

        p{
            margin-top: 1rem;
        }
        .heading{
            margin-bottom: 0;
        }
        ul{
            li{
                padding-left: 1.5rem;
                margin-top: 0.8rem;
                position: relative;
                z-index: 1;
                font-size: 13px;
                &::before{
                    content: '';
                    position: absolute;
                    z-index: -1;
                    background-image: url(../img/courses/more-points.svg);
                    background-size: contain;
                    width: 15px;
                    height: 15px;
                    left: 0;
                    top: 4px;
                    background-repeat: no-repeat;

                }
            }
        }
        .more-content{
            ul{
                li{
                    &:last-child{
                        margin-bottom: 2rem;
                    }
                }
            }
        }
        .more-list{
            margin-top: 2rem;
        }
        .more-container{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            background-color: @whiteColor;
            border-top: 3px solid @darkblueColor;
            box-shadow: @shadowLight;
        }
    }
// End learn-more section //

// Start Unable Section
.unable {
    padding: @sectionPadding;
    background: @blueGradient;
    .unable-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    h2, p {
        color: @whiteColor;
    }
    h2 {
        margin-bottom: 1rem;
        width: 100%;
    }
}
// End Unable Section

// Start Training Section
.training {
    padding: @sectionPadding;
    background-color: @bgColor;
    .training-container {
        display: flex;
        flex-direction: column;
    }
    .filter-top {
        position: sticky;
        top: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        box-shadow: 0 0 17px #c1c1c1;
        background: @whiteColor;
        margin-bottom: 2rem;
        border-radius: 5px;
        cursor: pointer;
        align-items: center;
        .heading {
            margin-bottom: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 0;
            &::before {
                content: none;
            }
            h2 {
                width: calc(100% - 20px);
                font-size: 18px;
            }
            img {
                height: 15px;
                width: 15px;
                transform: rotate(88deg);
            }
        }
    }
    .form {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        .country-code{
            margin: 0;
            padding: 0;
        }
    }
    .select-dropdown {
        padding-bottom: 1.5rem;
        width: 100%;
    }
    select {
        background:@whiteColor;
        padding: 15px 20px 15px 10px;
        color: #787878;
        font-weight: 600;
        width: 100%;
        border: 1px solid #dbe2e8;
        outline: 0px;
        box-shadow: 5px 5px 10px 0 rgb(46 61 73 / 5%);
        cursor: pointer;
    }
    .calender-container {
        display: flex;
        flex-direction: column;
    }
    .calender-left {
        display: flex;
        flex-direction: column;
        .heading {
            margin-bottom: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            box-shadow: 0 0 17px #c1c1c1;
            background: @whiteColor;
            border-radius: 5px;
            cursor: pointer;
            &::before {
                content: none;
            }
            h2 {
                width: calc(100% - 20px);
                font-size: 18px;
                span {
                    font-size: 18px;
                }
            }
            img {
                height: 15px;
                width: 15px;
                transform: rotate(88deg);
            }
        }
    }
    .modes {
        display: flex;
        flex-direction: column;
       
    }
    .modes-list {
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .modes-active{
        display: flex;
    }
    .methods {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        align-items: center;
        img {
            height: 110px;
            width: 110px;
        }
        .blue {
            display: none;
        }
        .gray {
            display: flex;
        }
        p {
            font-size: 18px;
            font-weight: bold;
            margin-top: .5rem;
            text-align: center;
        }
    }
    .active{
        .blue {
            display: flex ;
        }
        .gray {
            display: none;
        }
    }
    .key-point {
        display: none;
        flex-direction: column;
        margin-top: 2rem;
        padding: 2rem;
        background: @whiteColor;
        box-shadow: @shadowLight;
        border: 7px solid #E5E5E5;
        align-items: center;
        background-image: url(../img/courses/top-arc.svg), url(../img/courses/bottom-arc.svg);
        background-repeat: no-repeat;
        background-size: 33% 21%;
        background-position: top left, bottom right;
        h2 {
            margin-bottom: .5rem;
            color: @lightblueColor;
            text-align: center;
        }
        p {
            margin: .5rem 0;
            text-align: center;
        }
    }
    .calender-right {
        display: flex;
        flex-direction: column;
    }
    .add-ons{
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        box-shadow: @shadowLight;
        background-color: @whiteColor;
        background-image: url(../img/courses/add-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        h2{
            position: absolute;
            background-image: url(../img/courses/add-layer.png);
            background-size: 100% 100%;
            padding: 1rem 1rem 2rem 2rem;
            display: flex;
            color: #FFFFFF;
            top: -18px;
            left: -14px;
            font-size: 20px;
        }
        .item{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            .offer{
                display: flex;
                align-items: flex-start;
                h3{
                    margin-left: 0.5rem;
                    font-size: 15px;
                }

            }
            p{
                text-align: left;
                 padding-left: 1.6rem;
                 font-size: 13px;
            }
        }
        &:nth-child(2){
            background-color: black;
        }
    }
    .online-block{
        display: flex;
        flex-direction: column;

        .exclude{
            display: flex;
            flex-direction: column;
        }
    }
    .add-foundation{
        display: flex;
        flex-direction: column;

        .foundation-content{
            display: flex;
            flex-direction: column;
            background-color:@whiteColor;
            margin-top: 2rem;
            box-shadow: @shadowLight;
            border-radius: 10px;
            padding-bottom: 1.5rem;
             border-bottom: 4px solid @lightblueColor;
        }
        h3{
            text-align: center;
            background-color: @bgColor;
            padding: 1rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .image{
            display: flex;
            border-bottom: 1px dashed #C0C0C0;
            padding: 1.5rem 0 1rem 0;
            padding-bottom: 0.5rem;
            width: 85%;
            align-self: center;
            img{
                width: 25px;
                height: 25px;
            }
            p{
                width: 80%;
                margin-left: 1rem;
                justify-content: flex-start;
                 display: flex;
            }
        }
        ul{
            padding: 1rem;
            li{
                display: flex;
                justify-content: space-between;
                margin-top: 0.5rem;
                &:last-child{
                    padding-top: 0.5rem;
                    border-top: 1px solid #C0C0C0;
                }

                p{
                    width: 40%;
                    display: flex;
                    font-weight: bold;
                    &:nth-child(2){
                        justify-content: flex-end;
                        color: @lightblueColor;
                    }
                }
            }
        }
        .buttons{
            flex-direction: column;
            .btn-white{
                margin-top: 1rem;
            }
        }
        .info{
            margin-top: 0.5rem;
            strong{
                color: @lightblueColor;
            }
        }
    }
    .info-content{
        padding: 1rem;
        background-color: @whiteColor;
        box-shadow: @shadowLight;
        border-radius: 10px;
        margin-top: 2rem;
    }

    .onsite-block{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        .onsite-form{
            background-color: @darkblueColor;
            flex-direction: column;
            padding: 2rem;
            .heading{
                p{
                    text-align: center;
                    margin-top: .5rem;
                    font-size: 12px;
                }
            }
            .input-container{
                background-color: #424E6E;
            }
            span{
                background-color: #687494;
            }
            .prefix{
                background-color: transparent;
            }
            input{
                color: @whiteColor;
            }
            p,label{
                color: @whiteColor;
            }
            .form-consent{
                input{
                    background-color: @whiteColor;
                    border-radius: 0;
                }
            }
            
        }
    }
   
    .course-content {
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;
        background-color: @whiteColor;
        box-shadow: @shadowLight;
        width: 272px;
        align-self: center;
    }
    .name {
        display: flex;
        flex-direction: column;
        background: linear-gradient(@textColor, #363636);
        padding: 1rem 1.5rem;
        .buttons {
            flex-direction: column;
            .btn-blue {
                margin-top: 1rem;
            }
        }
    }
    .course-name {
        display: flex;
        font-size: 18px;
        font-weight: bold;
        color: @whiteColor;
        text-align: center;
    }
    .detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        z-index: 1;
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                display: flex;
                height: 85px;
                width: 85px;
                background-color: @whiteColor;
                padding: 1rem;
                box-shadow: @shadowLight;
                border-radius: 50%;
                margin-bottom: 1rem;
                position: relative;
                img {
                    height: 100%;
                    width: 100%;
                }
                &::before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    background-color: @darkblueColor;
                    height: 82px;
                    width: 85px;
                    border-radius: 50%;
                    bottom: -5px;
                    left: 0px;
                }
            }
            .sub-content {
                display: flex;
                flex-direction: column;
                h3, p {
                    text-align: center;
                }
                p {
                    color: @lightblueColor;
                    margin-top: .5rem;
                }
            }
        }
    }
    .date {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        p {
            padding: 1rem .5rem;
            background-color: @whiteColor;
            box-shadow: @shadowLight;
            text-align: center;
            width: 76px;
            margin-top: 2.5rem;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: -17px;
                left: -6px;
                height: 27px;
                width: 88px;
                background-color: #f5f5f5;
            }
        }
    }
    .rate {
        display: flex;
        flex-direction: column;
        h3 {
            padding-bottom: 5px;
            border-bottom: 1px solid @blackColor;
            width: auto;
            margin: 1.5rem 0 .5rem;
            text-align: center;
        }
    }
    
    // Start no-schedule
    .no-schedule{
        padding: @sectionPadding;
        display: none;
        flex-direction: column;
        box-shadow: @shadowLight;
        margin-top: 2rem;
        background-color: @whiteColor;
        p{
            text-align: center;
            margin-top: .5rem;
            font-weight: 500;
            strong{
                color: @lightblueColor;
            }
        }
        .btn-blue{
            img{
                margin-right: 0;
                margin-left: .5rem;
            }
        }
    }
    // no-schedule
}
// End Training Section

// Start virtual Section
.virtual {
    padding: @sectionPadding;
    .virtual-container {
        display: flex;
        flex-direction: column;
    }
    .virtual-list {
        display: flex;
        flex-direction: column;
    }
    .virtual-content {
        display: flex;
        flex-direction: column;
        background-color: @whiteColor;
        box-shadow: @shadowLight;
        padding: 1.5rem;
        margin-top: 1.5rem;
        border-radius: 30px 30px 0px 30px;
        width: 272px;
        align-self: center;
        &:first-child {
            margin-top: 0;
        }
        .content {
            display: flex;
            justify-content: space-between;
            margin-bottom: .5rem;
            span {
                display: flex;
                height: 50px;
                width: 50px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            h2 {
                width: calc(100% - 60px);
            }
        }
    }
    .virtual-img {
        display: flex;
        flex-direction: column;
        background: @blueGradient;
        padding: 2rem;
        padding-bottom: 0;
        border-radius: 15px;
        align-items: center;
        margin-top: 2rem;
        h2 {
            color: @whiteColor;
            margin-bottom: 2rem;
            text-align: center;
            width: 100%;
        }
        span {
            display: flex;
            height: 145px;
            width: 145px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
// End virtual Section

// Start Work Section
.work {
    padding: @sectionPadding;
    padding-top: 0 !important;
    .work-container {
        display: flex;
        flex-direction: column;
    }
    .work-content {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        background-color: @bgColor;
        .heading {
            p {
                font-weight: bold;
            }
        }
    }
    .work-list {
        display: flex;
        flex-direction: column;
        h3, p {
            color: @whiteColor;
        }
        h3 {
            margin: 1rem 0;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        background-color: @lightblueColor;
        padding: 1.7rem;
        margin-top: 2rem;
        &:nth-child(2) {
            background-color: #0057BD;
        }
        &:last-child {
            background-color: #004596;
        }
        span {
            display: flex;
            height: 40px;
            width: 40px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
// End Work Section

// Start Language Section
.language {
    padding: @sectionPadding;
    background-color: @bgColor;
    .language-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .language-img {
        display: flex;
        flex-direction: column;
        background-color: @whiteColor;
        box-shadow: @shadowLight;
        align-items: center;
    }
    .info {
        display: flex;
        background-image: url(../img/courses/language-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 3rem 2rem;
        width: 90%;
        margin: 1rem;
        h2 {
            color: @whiteColor;
            text-align: center;
            width: 100%;
        }
    }
    .price {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        background-color: @whiteColor;
        padding: 0 1rem 2.5rem;
    }
    .prize , .offer,p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prize {
        font-size: 26px;
        text-decoration: line-through;
        color: #C0C0C0;
        margin: 0.5rem 0 .5rem;
    }
    .offer {
        font-size: 30px;
    }
    .language-content {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    .language-list {
        display: flex;
        flex-direction: column;
        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;
            padding: .3rem;
            background-position: left top;
            width: 272px;
            align-self: center;
            span {
                display: flex;
                height: 70px;
                width: 70px;
                background-color: @bgColor;
                border-radius: 50%;
                padding: .5rem;
                position: relative;
                z-index: 1;
                img {
                    width: 100%;
                    height: 100%;
                }
                &::before {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    background-image: url(../img/courses/half-arc.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 75px;
                    width: 75px;
                    top: 0;
                    left: -4px;
                }
            }
            h3 {
                width: calc(100% - 90px);
            }
        }
    }
}
// End Language Section

// Start Skill Section
.skill {
    padding: @sectionPadding;
    .skill-container {
        display: flex;
        flex-direction: column;
    }
    .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            text-align: center;
        }
    }
    .skill-list {
        display: flex;
        flex-direction: column;
    }
    .skill-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        background-color: @whiteColor;
        box-shadow: @shadowLight;
        margin-top: 1.5rem;
        width: 272px;
        align-self: center;
        h3 {
            margin-bottom: 1rem;
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
}
// End Skill Section

// Start Related Section
.related {
    padding: @sectionPadding;
    background: @blueGradient;
    .related-container {
        display: flex;
        flex-direction: column;
    }
    .related-list {
        display: flex;
        flex-direction: column;
    }
    .related-content {
        display: flex;
        justify-content: space-between;
        background-color: @whiteColor;
        box-shadow: @shadowLight;
        padding: 1rem;
        margin-top: 1.5rem;
        align-items: center;
        border-radius: 10px;
        position: relative;
        z-index: 1;
        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            height: 50px;
            width: 5px;
            background-color: #c0c0c0;
            margin: auto;
            transition: 1s ease-in-out;
        }
        &:hover {
            &::before {
                height: 100%;
                width: 100%;
                border-radius: 10px;
            }
        }
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .7rem;
            background-color: #f5f5f5;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .name {
            font-size: 16px;
            width: calc(100% - 80px);
        }
    }
}
// End Related Section

// Start Popular-Location Section
.popular-location {
    padding: @sectionPadding;
    .popular-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .popular-content {
        display: flex;
        flex-direction: column;
        background-color: @whiteColor;
        padding: 1.5rem;
        box-shadow: @shadowLight;
        h2, p {
            text-align: center;
        }
        p{
            margin-top: .5rem;
        }
    }
    .location-content {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 2rem;
    }
    .location-list {
        display: flex;
        flex-direction: column;
    }
    .content {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        position: relative;
        z-index: 1;
        border-radius: 10px 10px 10px 0px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        margin-top: 1.5rem;
        align-items: center;
        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            background-image: url(../img/courses/half-triangle.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            bottom: 0;
            left: 0;
            height: 70px;
            width: 75px;
        }
        .image {
            display: flex;
            height: 45px;
            width: 45px;
            margin-right: .5rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
        
    }
    // .location-name {
    //     width: calc(100% - 100px);
    //     font-size: 16px;
    // }
    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        background: @blueGradient;
        padding: .5rem;
        height: 45px;
        width: 45px;
        border-radius: 8px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
// End Popular-Location Section