// Start cart-banner section
.cart-banner{
    background-color: @darkblueColor;
    h1,p{
        color: @whiteColor;
    }
}
// End cart-banner section

// Start  empty section
.empty{
    padding: @sectionPadding;
    .empty-container{
        display: flex;
        flex-direction: column;
    }
    .empty-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    span{
        display: flex;
        height: 150px;
        width: 100%;
        background-image: url(../img/emptycart/cart-img.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        img{
            width: 100%;
            height: 100%;
        }
    }
    h3,p{
        text-align: center;
        margin-top: 1rem;
    }
    .buttons{
        img{
            margin-left: .5rem;
            margin-right: 0;
            height: 12px;
            width: 12px;
        }
    }
}
// End empty section