
.courses{
    padding: @sectionPadding;
    .courses-container{
        display: flex;
        flex-direction: column;
    }
    .courses-list{
        display: flex;
        flex-direction: column;
    }
    .course-name{
        display: flex;
        flex-direction: column;
        background: @blueGradient;
        span{
            display: flex;
            img{
                width: 40px;
                height: 40px;
            }
        }
        .name{
            display: flex;
            h3{
                width: 100%;
                color: @whiteColor;
            }
            p{
                width: 50%;
                color: @whiteColor;
            }
        }
        a{
            img{

            }
        }
    }
}