.home-banner{
    .banner-container{
        box-shadow: @shadowLight;
    }
}
.courses{
    padding: @sectionPadding;
    .courses-container{
        display: flex;
        flex-direction: column;
    }
    .courses-list{
        display: flex;
        flex-direction: column;
    }
    .course-name{
        display: flex;
        flex-direction: column;
        box-shadow: @shadowLight;
        border-radius: 10px;
        padding: 1rem;
        position: relative;
        margin-top: 2rem;
        
        .icon{
            display: none;
            width: 50px;
            height: 50px;
            margin-right: .5rem;
            img{
                width: 100%;
                height: 100%;
                &:first-child{
                    display: flex;
                }
                &:last-child{
                    display: none;
                }
            }
        }
        .name{
            display: flex;
            flex-wrap: wrap;
            width: 96%;
            h3{
                width: 100%;
                margin-bottom: .5rem;
            }
            p{
                width: 50%;
                color: #C0C0C0;
            }
        }
        .arrow{
            display: none;
            align-items: center;
            justify-content: center;
            background-color: white;
            width: 40px;
            height: 40px;
            border-radius: 6px;
            position: absolute;
            right: -15px;
            top: 30%;
            box-shadow: 0 0 10px grey;
            img{
                width: 25px;
                height: 25px;
            }
        }
        &:hover{
            background: @blueGradient;
            .icon{
                img{
                    &:first-child{
                        display: none;
                    }
                    &:last-child{
                        display: flex;
                    }
                }
            }
            .name{
                h3, p{
                    color: @whiteColor;
                }
            }
            .arrow{
                display: flex;
            }
        }
    }
    .buttons{
        margin-top: 2rem;
    }
}
.effective{
    padding: @sectionPadding;
    background: @blueGradient;
    .effective-container{
        display: flex;
        flex-direction: column;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        img{
            width: 60px;
            height: 60px;
        }
        p{
            color: @whiteColor;
            margin-top: 1rem;
            font-size: 16px;
            font-weight: 700;
        }
    }

}
.whychoose{
    padding: @sectionPadding;
    .whychoose-container{
        display: flex;
        flex-direction: column;
    }
    .choose-list{
        display: flex;
        flex-direction: column;

    }
    .item{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-radius: 10px;
        align-items: center;
        margin-top: 1rem;
        img{
            width: 70px;
            height: 70px;
        }
        &:hover{
            transition: .5s ease-in-out;
            box-shadow: @shadowLight;
            background-color: @whiteColor;
        }
    }
    h3{
        margin: 1rem 0 .5rem 0;
        text-align: center;
    }
    p{
        text-align: center;
    }

}
.ways{
    padding: @sectionPadding;
    background-color: @darkblueColor;

    .ways-container{
        display: flex;
        flex-direction: column;
    }
    .ways-content{
        display: flex;
        flex-direction: column;
    }
    .ways-image{
        display: flex;
        padding: 1.5rem;
        border-radius: 20px;
        background-color: @whiteColor;
        margin-top: 2rem;
        img{
            width: 100%;
            height: 100%;
        }

    }
    .ways-list{
        display: flex;
        flex-direction: column;

    }
    .item{
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        position: relative;
        span{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            background-color: @whiteColor;
            border-radius: 50%;
            border: 5px solid @darkblueColor;
            box-shadow: 0 0 1px 1px #cfcfcf;
            z-index: 0;
        }
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            top: 15%;
            background-color: @whiteColor;
            z-index: 0;
            opacity: 0.3;
        }

    }
    .content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    h3{
        margin: 1rem 0 .5rem 0;
        color: @whiteColor;
    }
    p{
        color: @whiteColor;
    }

}
.delivery{
    padding: @sectionPadding;
    .delivery-container{
        display: flex;
        flex-direction: column;
    }
    .delivery-list{
        display: flex;
        flex-direction: column;
    }
    .item{
        display: flex;
        flex-direction: column;
        background-image: @blueGradient;
        margin-top: 2rem;
        color: @whiteColor;
        padding: 1rem;
        align-items: flex-start;
    
        img{
            width: 48px;
            height: 48px;
            transition: 1s all;
        }
    }
    h3{
        margin-bottom: .5rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid @whiteColor;
        width: auto;
        margin-top: .5rem;
        font-size: 17px;
        transition: 1s all;
    }
    p{
        color: @whiteColor;
        transition: 1s all;
    }
    a{
        text-decoration: underline;
        margin-top: .5rem;
        transition: 1s all;
    }
}
.facts{
    padding: @sectionPadding;
    padding-top: 0rem;
    .facts-container{
        display: flex;
        flex-direction: column;
    }
    .fact-content{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background: @blueGradient;
        border-radius: 10px;
    }
    h2{
        text-align: center;
        color: @whiteColor;
        margin-bottom: .5rem;
    }
    p{
        text-align: center;
        color: @whiteColor;
    }
    .facts-list{
        display: flex;
        flex-wrap: wrap;
    
        p{
            font-weight: 700;
            color: @blackColor;
        }
    }
    .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        width: 48%;
    
        img{
            width: 38px;
            height: 38px;
        }
        p {
            text-transform: uppercase;
        }
    }
    .fact-count{
        display: flex;
        margin: .5rem 0;
        align-items: center;
        font-size: 26px;
    }
    h3{
        color: @darkblueColor;
        text-align: center;
    }
}
.locations{
    padding: @sectionPadding;
    background-color: @bgColor;
    .locations-container{
        display: flex;
        flex-direction: column;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .location-name{
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        box-shadow: @shadowLight;
        margin-top: 1rem;
        align-items: center;
        background-image: linear-gradient(143deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 77%, #d6d6d6 77%);
        border-radius: 10px;
        span{
            width: 10%;
            font-weight: 700;
            color: @greyColor;
        }
        img{
            width: 30px;
            height: 30px;
            margin: 0 .5rem;
        }
        .blue{
            display: flex;
        }
        .white{
            display: none;
        }
        p{
            width: 63%;
            font-weight: 700;
            a {
                font-size: 18px;
                font-weight: bold;
            }
        }
        &:hover{
            background: linear-gradient(143deg , rgba(0,100,216,1) 0%, rgba(0,100,216,1) 77%, rgba(32,71,175,1) 78%);
            span, p{
                color: @whiteColor;
            }
            .blue{
                display: none;
            }
            .white{
                display: flex;
            }
            

        }
    }
    .buttons{
        width: 100%;
        justify-content: flex-start;
        margin-top: 2rem;
    }


}
.looking{
    padding: @sectionPadding;
    background-image: @blueGradient;
    .looking-container{
        display: flex;
        flex-direction: column;
    }
    .looking-for{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        box-shadow: 0 0 10px grey;
        background-color: @whiteColor;
        p, h2{
            text-align: center;
            width: 100%;
        }
        p{
            margin-top: 1rem;
        }
    }
    .clients-reviews{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

    }
    .reviews-outer{
        display: flex;
        flex-direction: column;
    }
    .reviews-inner{
        display: flex;
        flex-direction: column;
        p{
            color: @whiteColor;
            margin-bottom: .5rem;
        }
        h3{
            color: @whiteColor;
            margin-bottom: 0.2rem;
        }
        span{
            color: @whiteColor;
            font-size: 12px;
        }
        img{ 
            width: 120px !important;
            height: 30px;
        }
    }
    .author-name{
        display: flex;
        flex-direction: column;
    }
}
.partners{
    padding: @sectionPadding;
    .partners-container{
        display: flex;
        flex-direction: column;
    }
    p{
        text-align: center;
    }
    .partners-images{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 275px;
        align-self: center;
        align-items: center;
        img{
            width: 128px;
            height: auto;
            margin-top: 1rem !important;
            &:last-child{
                margin: auto;
            }
        }

    }
}
