// Start knowledge banner //
.knowledge-banner{
    background-image: @blueGradient;
    h1,p{
        color: @whiteColor;
    }

    .banner-info{
        display: none;
        height: 100%;
        margin-top: 2rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
// End knowledge banner //

// Start pass-clients section //
    .pass-clients{
        padding: @sectionPadding;
        padding-bottom: 0;

        .pass-container{
            display: flex;
            flex-direction: column;
        }
        .heading{
            p{
                margin-top: 1rem;
            }
        }

        h3{
            margin-bottom: 1rem;
        }
        .tagline{
            margin-top: .5rem;
        }
       

        .pass-content{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
        }

        .clients-pass{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            span{
                display: flex;
                width: 46%;
                height: 80px;
                margin-top: 1rem;
                padding: 0.7rem;
                box-shadow: @shadowLight;
                background-color: @whiteColor;
                border-radius: 10px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
// End pass-clients section //

// Start spending section //
    .spending{
        padding: @sectionPadding;

        .spending-container{
            display: flex;
            flex-direction: column;
        }

        
    .heading{
        margin-bottom: 0;
    }

    .buttons{
        margin-top: 2rem;
    }

        .spending-list{
            display: flex;
            flex-direction: column;
        }

        .item{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            box-shadow: @shadowLight;
            border-radius: 20px;
            position: relative;
            z-index: 1;
            margin-top: 2rem;
            width: 272px;
            align-self: center;
            &:nth-child(2){
                &::before{
                    background-image: url(../img/knowledge-pass/item-silver.png);
                }
            }
            &:nth-child(3){
                &::before{
                    background-image: url(../img/knowledge-pass/item-gold.png);
                }
            }
            &::before{
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                left: -12px;
                background-image: url(../img/knowledge-pass/item-bronze.png);
                width: 295px;
                height: 111px;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        }
        h3{
            margin-bottom: 1rem;
            color: @whiteColor;
        }
        ul{
            li{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                font-weight: bold;
                p{
                    display: flex;
                    width: 25%;
                    justify-content: flex-end;
                    margin-bottom: 0.3rem;
                    &:nth-child(1){
                        width: 60%;
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
// End spending section //

// Start right section //
    .why-right{
        padding: @sectionPadding;

        .right-container{
            display: flex;
            flex-direction: column;

            .heading{
                margin-bottom: 0;
                p{
                    text-align: center;
                    margin-top: 0.5rem;
                }
            }
        }

        .right-list{
            display: flex;
            flex-direction: column;

        }
        .content{
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            width: 100%;
            h2,p{
                text-align: center;
            }
            p{
                margin-top: 0.5rem;
            }
        }

        .right-item{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            align-items: center;

            span{
                display: flex;
                padding: 0.5rem;
                border: 1px solid #707070;
                width: 70px;
                height: 60px;
                position: relative;

                h3{
                    width: 26px;
                    position: absolute;
                    padding: 2px;
                    padding-left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: -10px;
                    left: -6px;
                    background-color: @whiteColor;
                    color: @darkblueColor;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
// End right section //

// Start benefit section //

    .benefit{
        padding: @sectionPadding;
        background-color: @darkblueColor;
        h3{
            color: @whiteColor;
            text-align: center;
        }
        .benefit-list{
            display: flex;
            flex-direction: column;
        }

        .benefit-info{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1rem;
            width: 272px;
            align-self: center;
            &:nth-child(1){
                margin-top: 0;
            }
            
            span{
                display: flex;
                width: 160px;
                height: 160px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
// End benefit section //

// Start budget section
.budget{
    display: none;
}
// End budget section

// Start knowledge section
.knowledge{
    padding: @sectionPadding;
    .knowledge-container{
        display: flex;
        flex-direction: column;
    }
    .pass-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p{
            margin-top: .5rem;
        }
    }
    .booking-list{
        display: flex;
        flex-direction: column;
    }
    .booking-info{
        display: flex;
        flex-direction: column;
        box-shadow:0px 0px 6px #ded9d9;
        padding: 1rem;
        width: 272px;
        align-self: center;
        margin-top: 1.8rem;
   
        &:nth-child(even){
            background-color: @bgColor;
        }
        span{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 50px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        h3,p{
            margin-top: .5rem;
        }
        h3{
            font-size: 18px;
        }
    }

}
// End knowledge section

// Start study section
.study{
    padding: @sectionPadding;
    padding-top: 1rem!important;

    .study-container{
        display: flex;
        flex-direction: column;
    }
    .study-list{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    .study-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: @shadowLight;
        padding: 1.5rem;
        padding-top: 0;
        background-color: @whiteColor;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom: 5px solid @darkblueColor;
        margin-bottom: 3rem;
        position: relative;
        z-index: 1;
        &::before{
            content: '';
            position: absolute;
            background-image: url(../img/knowledge-pass/study-bg.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            left: 0;
            top: -12px;
            height: 50px;
            width: 100%;
            z-index: -1;
        }
        &:last-child{
            margin-bottom: 0;
        }
        h2,p{
            text-align: center;
        }
        h2{
            color: @whiteColor;
            margin-top: -.3rem;
        }
        p{
            margin-top: 2rem;
        }
    }
}
// End study section

// Start requirement section
.requirement{
    display: none;
}
// End requirement section