
// Start topic-banner section //

    .topic-banner{
        background-image:@blueGradient;
        p,h2,h1,li{
            color: @whiteColor!important;
        }

        .choose-list{
            margin-top: 2rem;
            .heading{
                &::before{
                    background-color: @whiteColor;
                }
            }
            ul{
                li{
                    padding-left: 1.4rem;
                    margin-top: 1rem;
                    font-size: 14px;
                    position: relative;
                    z-index: 1;
                    &::before{
                        content: '';
                        position: absolute;
                        z-index: -1;
                        left: 0;
                        top: 4px;
                        background-image: url(../img/topic/check-white.svg);
                        background-size: contain;
                        width: 13px;
                        height: 13px;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
// End topic-banner section //

// Start benefit section
.benefit{
    padding: @sectionPadding;
    background-color: @darkblueColor;
    .benefit-container{
        display: flex;
        flex-direction: column;
    }
    .benefit-list{
        display: flex;
        flex-direction: column;
    }
    .benefit-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        &:last-child{
            margin-bottom: 0;
        }
        h3{
            color: @whiteColor;
            text-align: center;
        }
        span{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 180px;
            height: 180px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
// End benefit section