
// Start topic-banner section //

    .topic-banner{
        background-image:@blueGradient;
        p,h2,h1,li{
            color: @whiteColor!important;
        }

        .choose-list{
            margin-top: 2rem;
            .heading{
                &::before{
                    background-color: @whiteColor;
                }
            }
            ul{
                li{
                    padding-left: 1.4rem;
                    margin-top: 1rem;
                    font-size: 14px;
                    position: relative;
                    z-index: 1;
                    &::before{
                        content: '';
                        position: absolute;
                        z-index: -1;
                        left: 0;
                        top: 4px;
                        background-image: url(../img/topic/check-white.svg);
                        background-size: contain;
                        width: 13px;
                        height: 13px;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
// End topic-banner section //