@lightblueColor: #0064D8;
@darkblueColor: #1C2848;
@greyColor:#F2F2F2;
@textColor:#181818;
@bgColor: #F6F6F6;
@greyBorder: 1px solid #d7d7d7;
@whiteColor: #FFFFFF;
@blackColor:#000000;
@blueGradient: linear-gradient(#0064D8 ,#1C2848);
@shadowLight : 0px 0px 10px rgba(0, 0, 0, 0.098);
@sectionPadding : 3rem 1.5rem;
@sectionPadding-md : 3rem 2rem;
@sectionPadding-xl : 4rem 0rem;

    @font-face {
        font-family: 'Roboto';
        src: url('webfonts/Roboto-Light.ttf') format('truetype');
        font-weight:300;
    }
    @font-face {
        font-family: 'Roboto';
        src: url('webfonts/Roboto-Regular.ttf') format('truetype');
        font-weight:400;
    }
    @font-face {
        font-family: 'Roboto';
        src: url('webfonts/Roboto-Medium.ttf') format('truetype');
        font-weight: 500;
    }
    @font-face {
        font-family: 'Roboto';
        src: url('webfonts/Roboto-Bold.ttf') format('truetype');
        font-weight: 700;
    }
    

    * {
        box-sizing: border-box;
        font-family: Roboto;
    }
    p {
        line-height: 1.6;
        font-size: 14px;
        margin: 0;
        color: @textColor;
        width: 100%;
    }
    p strong,p b {
        font-weight: 700;
    }
    a{
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        font-size: 14px;
        font-weight: normal;
    }
    h1,h2,h3,h4 {
        margin: 0;
        width: 100%;
    }
    // h2 {
    //     font-size: 32px;
    //     font-weight: 600;
    //     font-style: normal;
    // }
    ul,
    li {
        padding: 0;
        margin: 0;
        color: @textColor;
        list-style: none;
    }

    li {
        font-size: 14px;
    }

    .container{
        width: 100%;
    }
    .flex-container{
        display: flex;
        margin: auto;
    }
    body{
        margin:0;
    }
    
       
    input[type="checkbox"]:before,
    input[type="checkbox"]:checked:before {
        position: absolute;
        top: -2px;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: 700;
    }

    input[type="checkbox"]:checked:before {
        content: '\2713';
    }

    input[type="checkbox"] {
        -webkit-appearance: none;
        height: 12px;
        width: 12px;
        padding: 7px;
        outline: none;
        cursor: pointer;
        border: 1px solid @whiteColor;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
        border-radius: 3px;
        position: relative;
        margin-left: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    // end hide select arrow on IE
    select::-ms-expand {
        display: none;
      }
    // end hide select arrow on IE

    //Start header sticky 
    .sticky{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transition: 1s;
        // background-color: #FFFFFF;
        height: auto;
        z-index: 2;
        .top-bar{
            display: none!important;
        }
        .bpt-logo{
            //padding: 0.8rem!important;
            img{
                width: 196px!important;                   
            }
            
        }
    }
    .sticky-up {
        top: -100px;
    }

    .sticky-down {
        z-index: 4;
    }
    //End header sticky

   //Start buttons
   .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    img {
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }
    .btn-blue, 
    .btn-white {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 18px;
        outline: none;
        box-shadow: @shadowLight;
        min-width: 150px;
        white-space: nowrap;
        border-radius: 100px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        &::before{
            content: '';
            width: 0%;
            height: 100%;
            background-color: #002353;
            position: absolute;
            -ms-transform: skewX(-20deg);
            transform: skewX(-20deg);
            left: -10%;
            opacity: 1;
            top: 0;
            z-index: -12;
            -ms-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
            transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
            box-shadow: 2px 0px 14px rgb(0 0 0 / 60%);

        }
        &::after{
            content: '';
                width: 0%;
                height: 100%;
                background-color: #20539A;
                position: absolute;
                -ms-transform: skewX(-20deg);
                transform: skewX(-20deg);
                left: -10%;
                opacity: 0;
                top: 0;
                z-index: -15;
                -ms-transition: all .4s cubic-bezier(.2,.95,.57,.99);
                transition: all .4s cubic-bezier(.2,.95,.57,.99);
                box-shadow: 2px 0px 14px rgb(0 0 0 / 60%);
        }
        &:hover{
            &::after,&::before{
                opacity: 1;
                width: calc(100% + 50px);
            }
        }
        }
        .btn-blue {
            background: @lightblueColor;
            color: @whiteColor;
        }
        .btn-white {
            background-color: @whiteColor;
            color: @blackColor;
            &::before{
                background-color: #e5e5e5;
            }
            &::after{
                    background-color: @lightblueColor;
            }
        }
    }
    //End buttons
    // Start heading
    .heading {
        margin-bottom: 1rem;
        width: 100%;
        position: relative;
        padding-top: 1rem;
        &::before{
            content: '';
            position: absolute;
            z-index: 0;
            width: 80px;
            height: 4px;
            border-radius: 10px;
            background-color: @darkblueColor;
            top: 0px;
        }
        h2{
            width: 100%;
            font-size: 26px;
        
        }
        span{
            color: @lightblueColor;
            font-size: 26px;
        }
    }
    .center-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            text-align: center;
            justify-content: center;
        }
        &::before{
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    .white-heading{
        &::before{
            background-color: @whiteColor;
        }
        h2 {
            color: @whiteColor;
        }
    }
    // End heading


    // Start Keyframes
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes size {
        0% {
            transform: scale(0.7);
        }
        50% {
            transform: scale(1);
        }
        100% {
            transform: scale(0.7);
        }
    }
    @keyframes star-move {
       0% {
           background-position: 0 0;
       }
       50% {
           background-position:  -100% -100%;
       }
       100% {
           background-position: 0 0;
       }
    }

    //Start contact us
    @keyframes glow {
        0%{
            color: transparent;
        }
        50%{
            color: @darkblueColor;
            opacity: .6;
        }
        100%{
            color: transparent;
        }
    }
    
    //End contact us
    
    // End Keyframes

    .pointer{
        cursor: pointer;
    }

    //Start inputfields
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: @shadowLight;
        background-color: @whiteColor;
        padding: 1.5rem;
        .heading{
            &::before{
                content: none;
            }
        }
        .form-input{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;

            .input-error {

                ::-webkit-input-placeholder {
                    /* Edge */
                    color:red;
                }
                :-ms-input-placeholder {
                    /* Edge */
                    color:red;
                }
                    span{
                        .black{
                            display: none;
                        }
                        .red{
                            display: flex;
                        }
                    }
                
            }
        }

        .form-consent {
            display: flex;
            font-size: 12px;
            margin-bottom: .4rem;
            width: 100%;
            &:last-child{
                margin-bottom: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
            input{
                border: none;
            }
            label {
                margin-left: .3rem;
                margin-bottom: .5rem;
                display: flex;
                align-items: center;
                width: 92%;
                font-size: 12px;
                &:last-child {
                    margin-bottom: 0;
                }
            }

            p {
                line-height: 1.4;
                font-size: 12px;
                a{
                    color: @lightblueColor;
                    font-weight: bold;
                    font-size: 12px;
                }
            }
        }

        .consent-error,
        .consent-error-other {
            margin-bottom: .5rem;

            p {
                color: red;
                line-height: 1.4;
                font-size: 12px;
            }
        }
    }
    .input-container {
        display: flex;
        margin-bottom: 1rem;
        background-color: @whiteColor;
        box-shadow: @shadowLight;
        width: 100%;
        span{
            display: flex;
            align-items: center;
            background-color: @bgColor;
            height: 100%;
            width: 50px;
            padding: .7rem;
            img{
                width: 20px;
                height: 20px;
                min-width: 20px;
            }
            .red{
                display: none;
            }
        }
        input,
        textarea {
            width: 100%;
            border: none;
            outline: 0;
            font-weight: 500;
            padding: .8rem 1rem;
            background-color: transparent;
        }
        textarea {
            height: 70px;
            resize: none;
            overflow: auto;
        }
        .phonecode-field{
            display: flex;
            select{
                width: 40px;
                border: none; 
                margin: .5rem 0;
                outline: 0;
                border-right: @greyBorder;
                box-shadow: none;
                color: @greyColor;
                background-color: transparent;

            }
            option{
                color: @textColor;
            }
            span{
            color: @greyColor;
            font-size: 14px;
            background-color: transparent;
            padding: 0.4rem;
            }
            .telephone{
                padding: 0px 10px 0px 2px;
            }

            .hidden-field{
                z-index:-1;
                width: 0;
                height: 0;
                pointer-events: none;
                overflow: hidden;
                input{
                    border: none;
                    padding: 0;
                }
            }
        }
        .field-black {
            select, span {
                color: #ccc0c0;
            }
        }

        ::-webkit-input-placeholder {
            /* Edge */
            color: #C0C0C0;
        }
        :-ms-input-placeholder {
            /* Edge */
            color: #C0C0C0;
        }
    }
    //End inputfields
    
    //Start breadcrums
    .breadcrums {
        display: flex;
        margin-top: 1rem;
        ul {
            display: flex;
            align-items: center;
        
        }
        li {
            color: @whiteColor;
            font-size: 14px;
        }
        
        .white,.black {
            width: 8px;
            height: 8px;
            margin: 0 .4rem;
        }
        .black {
            display: none;
        }
       
    }
    //End breadcrums

    // Start navbar //
    .navbar {
        display: flex;
        ul {
            list-style-type: none;
            margin-bottom: 0;

            .links-li {
                padding: 8px 0;
                border-bottom: 1px dotted @blackColor;
                cursor: pointer;

                &:first-child {
                    padding-top: 0;
                }

                &:nth-last-child(2) {
                    border-bottom: none;
                    padding-bottom: 0;
                }

                &:last-child {
                    display: none;
                    padding-bottom: 0;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    a{
                        display: flex;
                        width: 35px;
                        height: 35px;
                        padding: 6px;
                        background-color: @darkblueColor;
                    }
                    img{
                        width: 100%;
                        height:100%;
                     
                    }
                }

                .link {
                    font-size: 14px;
                    color: @blackColor;
                    text-decoration: none;
                }
            }

            .buttons {
                display: none;
            }
        }
        .top-bar{
            display: none;
        }

        .container {
            display: flex;
            align-items: center;
            padding:1rem;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.098);
            background-color: @whiteColor;
            
            .menu.active {
                box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.047);

                &+.menu-links {
                    padding: 15px;
                    width: 80%;

                    .menu-toggle {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }
                }
            }
        }

        .bpt-logo {
            display: flex;
            width: 200px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .menu {
            display: flex;
            z-index: 1;
            margin-left: auto;
            img {
                width: 22px;
                height: 23px;
            }
        }

        .menu-links {
            width: 0;
            transition: all .5s;
            height: fit-content;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 15;
            background-color: @whiteColor;
            flex-direction: column;

            .menu-toggle {
                color: @blackColor;

                img {
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                }
            }
        }


    }
    // End navbar //
 
    // Start banner//
    .banner {
        flex-direction: column;
        .banner-container{
            display: flex;
            flex-direction: column;
            padding: 2rem 1.5rem;
            .banner-content{
                display: flex;
                flex-direction: column;
                p{
                    color: @textColor;
                    margin-bottom: 1rem;
                    line-height: 1.8;
                }
                button{
                    width: 82px;
                    box-shadow: @shadowLight;
                    padding: .5rem;
                    background-color: @darkblueColor;
                    border-radius: 0;
                    outline: none;
                    color: @whiteColor;
                    border: none;
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 8px solid transparent;
                        border-right: 11px solid transparent;
                        border-bottom: 16px solid @darkblueColor;
                        transform: rotate(35deg);
                        left: -9px;
                    }
                   
                }
            }
            
        }
        h1{
            font-size: 26px;
            margin-bottom: 1rem;
        }
        .search {
            display: flex;
            border: 2px solid @darkblueColor;
            padding: 0.5rem;
            width: 100%;
            input {
                width: 88%;
                box-shadow: @shadowLight;
                padding: 0.8rem .5rem;
                padding-right: 1.5rem;
                border: none;
                outline: none;
            }
        }
        .topic-list{
            display: flex;
            margin-top: 2rem;
            ul{
                display: flex;
                flex-direction: column;
                width: 96%;
                margin: auto;
            }
            li{
                box-shadow: @shadowLight;
                &:nth-child(1){
                    a{
                        background-color: rgba(28,40,72,0.80); 
                        border-top-left-radius: 5px; 
                        border-top-right-radius: 5px; 
                    }                   
                }
                &:nth-child(2){
                    a{
                        background-color: rgba(28,40,72,.83);   
                    }
                   
                }
                &:nth-child(3){
                    a{
                        background-color: rgba(28,40,72,.89);
                    }
                       
                }
                &:nth-child(4){
                    a{
                        background-color: rgba(28,40,72,.92);
                        border-bottom-left-radius: 5px; 
                        border-bottom-right-radius: 5px;   
                    }
                   
                }
            }
            a{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem 1.5rem;       
                
                img{
                    &:first-child{
                        width: 35px;
                        height: 30px;
                    }
                    &:last-child{
                            width: 20px;
                            height: 20px;
                    }
                }
                p{
                    display: flex;
                    flex-direction: column;
                    font-size: 18px;
                    padding-right: 1rem;
                    border-right: 2px solid @whiteColor;
                    color: @whiteColor;
                    font-weight: 600;
                    width: 65%;
                }
                span{
                    font-size: 14px;
                    line-height: normal;
                    font-weight: normal;
                }
             
            }
            
            .owl-dots{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
            
                .owl-dot{
                    display: flex;
                    width: 15px;
                    height: 15px;
                    background-color: #C7C7C7;
                    margin-right: 7px;
                    outline: none;
                    border-radius: 18px;
                }
                
                .owl-dot.active{
                    background-color: @whiteColor;
                    box-shadow: 0 0 10px #b4b4b4;
                    width: 20px;
                    height: 20px;
                }
            
                }
        }
    }
    // End banner //

    //Start footer

    .footer{
        background-color: @darkblueColor;
        padding: @sectionPadding;
        .polygon-img{
            width: 18px;
            height: 18px;
        }
        .terms{
            padding-top: 1rem;
            padding-bottom: 0;
            color: @whiteColor;
        }
        h2{
            color: @whiteColor;
        }
        .heading{
            padding-top: 0;
            margin-bottom: 2rem;
            &::before{
                bottom: -10px;
                background-image: url('../../img/master/white-line.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-color: transparent;
                top: inherit;
            }
        }
        .footer-main{
            display: flex;
            flex-direction: column;
            align-items: center;
            .date{
                font-size: 10px;
                padding: 0;
            }
           
        }
        .footer-content{
            padding:1rem;
            background-color: @lightblueColor;
            display: flex;
            flex-direction: column;
            width: 100%;
            p{
                color:@whiteColor;
                font-size: 14px;
                padding: 0.5rem 0;
            }
        }
        .content{
            margin-bottom: 2rem;
            &:last-child{
                margin-bottom: 0;
            }
            
        }
        .social-media{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                width:40px;
                height:40px;
                border-radius: 50%;
                background-color: @whiteColor;
                margin-right: .5rem;
                &:last-child{
                    margin-right: 0;
                }
                &:nth-child(2){
                    border: 2px solid #003C93;
                }
                &:nth-child(3){
                    border: 2px solid #0097D8;
                }
                &:nth-child(4){
                    border: 2px solid #FF1B1B;
                }
                &:nth-child(5){
                    border: 2px solid #1856FF;
                }
            }
            img{
                width: 18px;
                height: 18px;
            }
            p{
                font-weight: 700;
                width: 100%;
            }
        }
        .links{
                li{
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        width: 100%;
                        border-bottom: 1px solid @whiteColor;  
                        opacity: 0.2;
                    }
                   
                }
        }
        ul{
            li{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-bottom: 1rem;
                img{
                    width: 8px;
                    margin-right: 0.5rem;
                    margin-top: 2px;
                }
                span{
                    display: flex;
                    align-items: center;
                    margin-left: 1.8rem;
                    width:100%;
                    margin-top: .5rem;
                    img{
                        width: 15px;
                        height: 15px;
                        margin-top: 0;
                    }
                }
                a{
                    color:@whiteColor;
                    font-size: 14px;
                    width: 88%;
                    word-break: break-word;
                  
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .logo-image{
            width:205px;
        }
        .contact-us{
            h2{
                font-size: 26px;
                margin-bottom: 1rem;
            }
            img{
                width: 15px;
                height: 15px;
            }
            p{
                width: 88%;
                padding: 0;
            }
        }
        .top-arrow{
            display: flex;
            position: fixed;
            right: 30px;
        }
       
    }

    //End footer

    //bottom bar
    
    .bottom-bar{
        background: @darkblueColor;
        box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.09803922);
        width: 100%;
        padding: 10px;
        position: fixed;
        bottom: 0;
        z-index: 100;
        display: flex;
        justify-content: space-around;
        .bottom-list{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
            a{
                display: flex;
                img{
                    width: 25px;
                }
            }
        }
    }
    //end bottom bar


    // Start popup
    .enquiry-popup{
        padding: @sectionPadding;
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: auto;
        z-index: 88;
        background-color: #ffffff6b;
        .popup-container{
            display: flex;
            flex-direction: column;
        }
        .enquire-popup{
            display: flex;
            flex-direction: column;
            box-shadow: @shadowLight;
            position: relative;
            z-index: 1;
            padding: 1.5rem;
            background-color: @whiteColor;
            border-radius: 28px;
            border-bottom: 2px solid @darkblueColor;
            &::before{
                content: '';
                position: absolute;
                background-image: url(../img/master/heading-bg.png);
                background-size: 100% 100%;
                height: 70px;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: -22px;
                width: 230px;
                background-repeat: no-repeat;
            }
            .cross{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                width: 30px;
                padding: .3rem;
                background-color: @whiteColor;
                border-radius: 50px;
                border: 4px solid @darkblueColor;
                position: absolute;
                right:15px;
                top: 36px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .form{
            box-shadow: none;
            width: 100%;
            padding: 0;

            .heading{
                padding-top: 0;
                margin-top: -2rem;
            }
            .form-input{
                justify-content: center;
                padding-top: 3rem;
            }
        }
    }
    // End popup

    // Start social
    .tooltips{
        display: none;
        }
        // End social

    // Start up-arrow{
    .up-arrow{
            display: none;
            position: fixed;
            right: 5px;
            bottom: 50px;
            height: 40px;
            width: 40px;
            box-shadow: 0 0 3px @blackColor;
            background-color: @whiteColor;
            border-radius: 4px;
            padding: .5rem;
            transform: rotate(-90deg);
            z-index: 3;
            img{
              width: 100%;
              height: 100%;
            }
    }
    // end up-arrow


//Start pegination

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
    // margin: 20px 0;
    margin-bottom: 0;
    margin-top: 20px;
    border-radius: 4px;
    width: 100%;
    height: fit-content;
        &>li {
            display: flex;
            flex-direction: row;
            margin-right: 10px;
            margin-bottom: 1rem;
            &>a, &>span {
            position: relative;
            padding: 4px 12px;
            margin-left: -1px;
            line-height: 1.8;
            color: @blackColor;
            text-decoration: none;
            box-shadow: 0 0 8px #e1e1e1;
            font-size: 14px;
            font-weight: 500;
            background: @whiteColor;
            border-right: 2px solid @lightblueColor;
            }

            &>a{
                &:hover{
                    background-color: @whiteColor;
                    box-shadow: 0 0 8px #c0c0c0;
                    border-right: 2px solid @darkblueColor;
                    font-weight: 600;
                    
                }
            }

            &:first-child {
                &>a, &>span{
                    margin-left: 0;
                    background: linear-gradient(to bottom right, @darkblueColor, @lightblueColor);
                    color:@whiteColor;
                    border-right: none;
                }
            }
            &:last-child{
                &>a,&>span{
                    background: linear-gradient(to bottom right, @darkblueColor, @lightblueColor);
                    color:@whiteColor;
                    border-right: none;
                }
            }
        }
        &>.disabled{
            &>a, &>span{
            &,
                &:focus,
                    &:hover{
                    cursor: not-allowed;
                    }
                }
            }
            
        & >.active{
        &>a, &>span{
        &,
        &:focus,
        &:hover{
        z-index: 1;
        color: #000000;
        cursor: default;
        box-shadow: 0 0 8px #c0c0c0;
        background-color: @whiteColor;
        border-right: 2px solid @darkblueColor;
    
        }
        }
        }
}
//End pegination