@lightblueColor: #0064D8;
@darkblueColor: #1C2848;
@greyColor:#F2F2F2;
@textColor:#181818;
@bgColor: #F6F6F6;
@greyBorder: 1px solid #d7d7d7;
@whiteColor: #FFFFFF;
@blackColor:#000000;
@blueGradient: linear-gradient(#0064D8 ,#1C2848);
@shadowLight : 0px 0px 10px rgba(0, 0, 0, 0.098);
@sectionPadding : 3rem 1.5rem;
@sectionPadding-md : 3rem 2rem;
@sectionPadding-xl : 4rem 0rem;

    @font-face {
        font-family: 'Roboto';
        src: url('webfonts/Roboto-Light.ttf') format('truetype');
        font-weight:300;
    }
    @font-face {
        font-family: 'Roboto';
        src: url('webfonts/Roboto-Regular.ttf') format('truetype');
        font-weight:400;
    }
    @font-face {
        font-family: 'Roboto';
        src: url('webfonts/Roboto-Medium.ttf') format('truetype');
        font-weight: 500;
    }
    @font-face {
        font-family: 'Roboto';
        src: url('webfonts/Roboto-Bold.ttf') format('truetype');
        font-weight: 700;
    }
    

    * {
        box-sizing: border-box;
        font-family: Roboto,sans-serif;
    }
    p {
        line-height: 1.6;
        font-size: 14px;
        margin: 0;
        color: @textColor;
        width: 100%;
    }
    p strong,p b {
        font-weight: 700;
    }
    a{
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
    h1,h2,h3,h4 {
        margin: 0;
    }
    // h2 {
    //     font-size: 32px;
    //     font-weight: 600;
    //     font-style: normal;
    // }
    ul,
    li {
        padding: 0;
        margin: 0;
        color: @textColor;
        list-style: none;
    }

    li {
        font-size: 14px;
    }

    .container{
        width: 100%;
    }
    .flex-container{
        display: flex;
        margin: auto;
    }
    body{
        margin:0;
    }
    
       
        input[type="checkbox"]:before,
        input[type="checkbox"]:checked:before {
            position: absolute;
            top: -2px;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            font-weight: 700;
        }

        input[type="checkbox"]:checked:before {
            content: '\2713';
        }

        input[type="checkbox"] {
            -webkit-appearance: none;
            height: 12px;
            width: 12px;
            padding: 7px;
            outline: none;
            cursor: pointer;
            border: 1px solid @whiteColor;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
            border-radius: 3px;
            position: relative;
            margin-left: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        
        .sticky{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            transition: 1s;
            // background-color: #FFFFFF;
            height: auto;
            z-index: 2;
            .top-bar{
                display: none!important;
            }
            .bpt-logo{
                padding: 0.8rem!important;
                img{
                    width: 196px!important;                   
                }
               
            }
        }
   //Start buttons
   .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    img {
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }
    .btn-blue, 
    .btn-white {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-size: 14px;
        font-weight: 600;
        padding: 12px 18px;
        outline: none;
        box-shadow: @shadowLight;
        min-width: 150px;
        white-space: nowrap;
        border-radius: 50px;
        }
        .btn-blue {
            background: @lightblueColor;
            color: @whiteColor;
        }
        .btn-white {
            background-color: @whiteColor;
            color: @blackColor;
        }
    }
    //End buttons
    // Start heading
    .heading {
        margin-bottom: 1rem;
        width: 100%;
        position: relative;
        z-index: 1;
        padding-top: 1rem;
        &::before{
            content: '';
            position: absolute;
            z-index: -1;
            width: 80px;
            height: 4px;
            border-radius: 10px;
            background-color: @darkblueColor;
            top: 0px;
        }
        h2{
            width: 100%;
            font-size: 26px;
        
        }
        span{
            color: @lightblueColor;
            font-size: 26px;
        }
    }
    .center-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            text-align: center;
            justify-content: center;
        }
    }
    .white-heading{
        &::before{
            background-color: @whiteColor;
        }
        h2 {
            color: @whiteColor;
        }
    }
    // End heading

    // Start Keyframes
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    // End Keyframes

    //Start inputfields

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: @shadowLight;
        background-color: @whiteColor;
        padding: 1.5rem;
        .heading{
            &::before{
                content: none;
            }
        }
        .form-input{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;

            .input-error {

                ::-webkit-input-placeholder {
                    /* Edge */
                    color:red;
                }
                :-ms-input-placeholder {
                    /* Edge */
                    color:red;
                }
                    span{
                        .black{
                            display: none;
                        }
                        .red{
                            display: flex;
                        }
                    }
                
            }
        }

        .form-consent {
            display: flex;
            font-size: 12px;
            margin-bottom: .4rem;
            width: 100%;
            &:last-child{
                margin-bottom: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
            input{
                border: none;
            }
            label {
                margin-left: .3rem;
                margin-bottom: .5rem;
                display: flex;
                align-items: center;
                width: 92%;
                font-size: 12px;
                &:last-child {
                    margin-bottom: 0;
                }
            }

            p {
                line-height: 1.4;
                font-size: 12px;
                a{
                    color: @lightblueColor;
                    font-weight: bold;
                }
            }
        }

        .consent-error,
        .consent-error-other {
            margin-bottom: .5rem;

            p {
                color: red;
                line-height: 1.4;
                font-size: 12px;
            }
        }
    }
    .input-container {
        display: flex;
        margin-bottom: 1rem;
        box-shadow: @shadowLight;
        width: 100%;
        span{
            display: flex;
            align-items: center;
            background-color: @bgColor;
            height: 100%;
            width: 50px;
            padding: .8rem 1rem;
            img{
                width: 20px;
                height: 20px;
            }
            .red{
                display: none;
            }
        }
        input,
        textarea {
            width: 100%;
            border: none;
            outline: 0;
            font-weight: 500;
            padding: .8rem 1rem;
            background-color: transparent;
        }
        textarea {
            height: 70px;
            resize: none;
            overflow: auto;
        }
        .phonecode-field{
            display: flex;
            select{
                width: 53px;
                border: none; 
                margin: .5rem;
                margin-left: 0;
                outline: 0;
                border-right: @greyBorder;
                box-shadow: none;
                color: @greyColor;
            }
            span{
            color: @greyColor;
            font-size: 14px;
            background-color: transparent;
            padding: 0;
            }
            .telephone{
                padding: 0px 10px 0px 4px;
            }

            .hidden-field{
                z-index:-1;
                width: 0;
                height: 0;
                pointer-events: none;
                overflow: hidden;
                input{
                    border: none;
                    padding: 0;
                }
            }
        }

        ::-webkit-input-placeholder {
            /* Edge */
            color: #C0C0C0;
        }
        :-ms-input-placeholder {
            /* Edge */
            color: #C0C0C0;
        }
    }

     
    //End inputfields
    
    // Start navbar //
    .navbar {
        display: flex;
        ul {
            list-style-type: none;
            margin-bottom: 0;

            .links-li {
                padding: 8px 0;
                border-bottom: 1px dotted @blackColor;
                cursor: pointer;

                &:first-child {
                    padding-top: 0;
                }

                &:nth-last-child(2) {
                    border-bottom: none;
                    padding-bottom: 0;
                }

                &:last-child {
                    display: none;
                    padding-bottom: 0;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    a{
                        display: flex;
                        width: 35px;
                        height: 35px;
                        padding: 6px;
                        background-color: @darkblueColor;
                    }
                    img{
                        width: 100%;
                        height:100%;
                     
                    }
                }

                .link {
                    font-size: 14px;
                    color: @blackColor;
                    text-decoration: none;
                }
            }

            .buttons {
                display: none;
            }
        }
        .top-bar{
            display: none;
        }
        .info{
            p{
                color: @textColor;
            }           
        }
        .container {
            display: flex;
            align-items: center;
            padding:1rem;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.098);
            background-color: @whiteColor;
            
            .menu.active {
                box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.047);

                &+.menu-links {
                    padding: 15px;
                    width: 80%;

                    .menu-toggle {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }
                }
            }
        }

        .bpt-logo {
            display: flex;
            width: 200px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .menu {
            display: flex;
            z-index: 1;
            margin-left: auto;
            img {
                width: 22px;
                height: 23px;
            }
        }

        .menu-links {
            width: 0;
            transition: all .5s;
            height: fit-content;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 15;
            background-color: @whiteColor;
            flex-direction: column;

            .menu-toggle {
                color: @blackColor;

                img {
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                }
            }
        }


    }
    // End navbar //

    //Start Breadcrums

    .breadcrums{
        display: flex;
        margin-top: 1rem;
        img{
            width: 8px;
            height: 8px;    
        }
        ul{
            display: flex;        
            align-items: center;   
        }
        li{
            color: @whiteColor;
            font-size: 14px;
           
            &:first-child{
                margin-right: .4rem;
            }
            &:last-child{
                margin-left: .4rem;
            }
        }
    }

    //End Breadcrums

 
    // Start banner//
    .banner {
        display: flex;
        flex-direction: column;
        .banner-container{
            display: flex;
            flex-direction: column;
            padding: 2rem 1rem;
            .banner-content{
                display: flex;
                flex-direction: column;
                p{
                    color: @textColor;
                    margin-bottom: 1rem;
                    line-height: 1.8;
                }
                button{
                    width: 82px;
                    box-shadow: @shadowLight;
                    padding: .5rem;
                    background-color: @darkblueColor;
                    border-radius: 0;
                    outline: none;
                    color: @whiteColor;
                    border: none;
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 8px solid transparent;
                        border-right: 11px solid transparent;
                        border-bottom: 16px solid @darkblueColor;
                        transform: rotate(35deg);
                        left: -9px;
                    }
                   
                }
            }
            
        }
        h1{
            font-size: 26px;
            margin-bottom: 1rem;
        }
        .search {
            display: flex;
            border: 2px solid @darkblueColor;
            padding: 0.5rem;
            width: 100%;
            input {
                width: 88%;
                box-shadow: @shadowLight;
                padding: 0.8rem .5rem;
                padding-right: 1.5rem;
                border: none;
            }
        }
        .topic-list{
            display: flex;
            
            margin-top: 2rem;
            ul{
                display: flex;
                flex-direction: column;
                width: 96%;
                margin: auto;
            }
            li{
                box-shadow: @shadowLight;
                &:nth-child(1){
                    a{
                        background-color: rgba(28,40,72,0.80); 
                        border-top-left-radius: 5px; 
                        border-top-right-radius: 5px; 
                    }                   
                }
                &:nth-child(2){
                    a{
                        background-color: rgba(28,40,72,.83);   
                    }
                   
                }
                &:nth-child(3){
                    a{
                        background-color: rgba(28,40,72,.89);
                    }
                       
                }
                &:nth-child(4){
                    a{
                        background-color: rgba(28,40,72,.92);
                        border-bottom-left-radius: 5px; 
                        border-bottom-right-radius: 5px;   
                    }
                   
                }
            }
            a{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem 1.5rem;       
                
                img{
                    &:first-child{
                        width: 35px;
                        height: 30px;
                    }
                    &:last-child{
                            width: 20px;
                            height: 20px;
                    }
                }
                p{
                    display: flex;
                    flex-direction: column;
                    font-size: 18px;
                    padding-right: 1rem;
                    border-right: 2px solid @whiteColor;
                    color: @whiteColor;
                    font-weight: 600;
                    width: 65%;
                }
                span{
                    font-size: 14px;
                    line-height: normal;
                }
             
            }
            
            .owl-dots{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
            
                .owl-dot{
                    display: flex;
                    width: 15px;
                    height: 15px;
                    background-color: #C7C7C7;
                    margin-right: 7px;
                    outline: none;
                    border-radius: 18px;
                }
                
                .owl-dot.active{
                    background-color: @whiteColor;
                    width: 20px;
                    height: 20px;
                }
            
                }
        }
    }
    // End banner //

    //Start footer

    .footer{
        background-color: @darkblueColor;
        padding: @sectionPadding;
        .polygon-img{
            width: 18px;
            height: 18px;
        }
        .terms{
            text-align: center;
            padding-top: 1rem;
            padding-bottom: 0;
            color: @whiteColor;
        }
        .blog{

        }
        h2{
            color: @whiteColor;
        }
        .heading{
            margin-bottom: 2rem;
            &::before{
                bottom: -10px;
                background-image: url('../../img/master/white-line.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-color: transparent;
                top: auto;
            }
        }
        .footer-main{
           
            .date{
                font-size: 10px;
                padding: 0;
            }
           
        }
        .footer-content{
            padding:1rem;
            background-color: @lightblueColor;
            display: flex;
            flex-direction: column;
            p{
                color:@whiteColor;
                font-size: 14px;
                padding: 0.5rem 0;
            }
        }
        .content{
            margin-bottom: 2rem;
            img{
    
            }
            &:last-child{
                margin-bottom: 0;
            }
            
        }
        .social-media{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                width:40px;
                height:40px;
                border-radius: 50%;
                background-color: @whiteColor;
                margin-right: .5rem;
                &:last-child{
                    margin-right: 0;
                }
                &:nth-child(2){
                    border: 2px solid #003C93;
                }
                &:nth-child(3){
                    border: 2px solid #0097D8;
                }
                &:nth-child(4){
                    border: 2px solid #FF1B1B;
                }
                &:nth-child(5){
                    border: 2px solid #1856FF;
                }
            }
            img{
                width: 18px;
                height: 18px;
            }
            p{
                font-weight: 700;
                width: 100%;
            }
        }
        .links{
                li{
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        width: 100%;
                        border-bottom: 1px solid @whiteColor;  
                        opacity: 0.2;
                    }
                   
                }
        }
        ul{
            li{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-bottom: 1rem;
                img{
                    width: 8px;
                    margin-right: 0.5rem;
                }
                span{
                    display: flex;
                    align-items: center;
                    margin-left: 1.8rem;
                    width:100%;
                    img{
                        width: 15px;
                        height: 15px;
                    }
                }
                a{
                    color:@whiteColor;
                    font-size: 14px;
                  
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .logo-image{
            width:205px;
        }
        .contact-us{
            h2{
                font-size: 26px;
                margin-bottom: 1rem;
            }
            img{
                width: 15px;
                height: 15px;
            }
            p{
                width: 88%;
                padding: 0;
            }
        }
       
    }

    //End footer

