@lightblueColor: #0064D8;
@darkblueColor: #1C2848;
@greyColor:#F2F2F2;
@textColor:#919191;
@bgColor: #F6F6F6;
@greyBorder: 1px solid #d7d7d7;
@whiteColor: #FFFFFF;
@blackColor:#000000;
@ShadowLight : 0px 0px 10px rgba(0, 0, 0, 0.098);
@sectionPadding : 3rem 1.5rem;
@sectionPadding-md : 3rem 2rem;
@sectionPadding-xl : 4rem 0rem;

    @font-face {
        font-family: 'Roboto';
        src: url('webfonts/Roboto-Light.ttf') format('truetype');
        font-weight:300;
    }
    @font-face {
        font-family: 'Roboto';
        src: url('webfonts/Roboto-Regular.ttf') format('truetype');
        font-weight:400;
    }
    @font-face {
        font-family: 'Roboto';
        src: url('webfonts/Roboto-Medium.ttf') format('truetype');
        font-weight: 500;
    }
    @font-face {
        font-family: 'Roboto';
        src: url('webfonts/Roboto-Bold.ttf') format('truetype');
        font-weight: 700;
    }
    
    * {
        box-sizing: border-box;
        font-family: Roboto;
        font-size: 14px;
    }
    p {
        line-height: 1.8;
        color: @textColor;
        margin: 0;
        color: @textColor;
    }
    p strong,p b {
        font-weight: 700;
    }
    a{
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
    h1,h2,h3,h4 {
        margin: 0;
    }
    h2 {
        font-size: 32px;
        font-weight: 600;
        font-style: normal;
    }
    .container{
        width: 100%;
    }
    .flex-container{
        display: flex;
        margin: auto;
    }
    body{
        margin:0;
    }