// Start offer-Banner section //
.offer-banner {
    background-color: @darkblueColor!important;
    h1,p {
        color: @whiteColor;
    }
}
// End offer-banner section

// Start bundle section
.bundle{
    padding: @sectionPadding;
    .bundle-container{
        display: flex;
        flex-direction: column;
    }
    .range{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .bundle-list{
        display: flex;
        flex-direction: column;
    }
    .project-bundle{
        display: flex;
        align-items: center;
        margin-top: 1rem;
        span{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 50px;
            margin-right: .5rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
        h3{
            font-size: 14px;
        }
    }
    .top-bundles{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    .bundles-info{
        display: flex;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
// End bundle section

// Start management section
.management{
    padding: @sectionPadding;
    .management-container{
        display: flex;
        flex-direction: column;

    }
    .management-bundles{
        display: flex;
        flex-direction: column;
    }
    .bundle-info{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 2rem;
        box-shadow: 0 0 10px grey;
        padding: 1rem;
    span{
        width: 45%;
        text-align: center;
        font-weight: bold;
    }
    }
    h3{
        width: 42%;
    }
    ul{
        width: 100%;
        li{
            &:first-child{
                font-weight: bold;
                font-size: 14px;
                padding-left: 0;
                &::before{
                    content: none;
                }

            }
            margin-top: .5rem;
            font-size: 12px;
            padding-left: 1.2rem;
            position: relative;
            font-weight: 500;
            &::before{
                content: '';
                position: absolute;
                background-image: url(../img/offer/star.svg);
                background-size: contain;
                height: 15px;
                width: 15px;
                left: 0;
                top: 2px;

            }
        }
    }

}
// End management section

//Start recommend section
.recommend{
    padding: @sectionPadding;
    background-color: @darkblueColor;
    .recommend-container{
        display: flex;
        flex-direction: column;
    }
    .recommend-info{
        display: flex;
        flex-direction: column;
    }
    p{
        text-align: center;
        color: @whiteColor;
    }
    input{
        background-color: transparent;
        border: none;
        margin-top: 1rem;
        padding-bottom: 1rem;
        color: @whiteColor;
        outline: none;
        border-bottom: 1px solid @whiteColor;
        width: 80%;
        align-self: center;
    }
    ::placeholder{
        color: @whiteColor;
    }
}
// End recommend section

//Start new-bundle section
.new-bundle{
    padding: @sectionPadding;
    .new-bundle-container{
        display: flex;
        flex-direction: column;
    }
    .inform-us{
        display: flex;
        order: 2;
        margin-top: 2rem;
        p{
            font-weight: bold;
            font-size: 16px;
        }
        .inform-list{
            display: flex;
            flex-direction: column;
        }
        .inform-item{
            display: flex;
            margin-top: .7rem;
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                background: @blueGradient;
                height: 40px;
                width: 40px;
                border-radius: 50px;
                padding: .6rem;
                margin-right: .5rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .inform-content{
        display: flex;
        flex-direction: column;
    }
    .latest-bundles{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        order: 1;
        p{
            margin-top: .5rem;
            &:nth-child(2){
                font-weight: bold;
                font-size: 16px;
                margin-top: 0;
            }
        }
    }
}
// End new-bundle section

