// Start offer-Banner section //
.offer-banner {
    background-color: @darkblueColor;
    .banner-container {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        h1,p {
            color: @whiteColor;
        }
        p{
            margin-top: .5rem;
        }
    }
    .breadcrums {
        display: flex;
        margin-top: 1rem;
        ul {
            display: flex;
            li {
                color: @whiteColor;
                font-size: 14px;
                &:first-child {
                    margin-right: .5rem;
                }
            }
        }
    }
}
// End offer-banner section



