// Start Banner section //
.onsite-banner {
    background-color: @darkblueColor;
    .banner-container {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        h1,p {
            color: @whiteColor;
        }
        p{
            margin-top: .5rem;
        }
    }
    .breadcrums {
        display: flex;
        margin-top: 1rem;
        ul {
            display: flex;
            li {
                color: @whiteColor;
                font-size: 14px;
                &:first-child {
                    margin-right: .5rem;
                }
            }
        }
    }
}
// End banner section

// Start training section
.training{
    padding: @sectionPadding;
    .training-container{
        display: flex;
        flex-direction: column;
    }
    .training-info{
        display: flex;
        flex-direction: column;
    }
    p{
        text-align: center;
    }
    .delegate{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        box-shadow: @shadowLight;
        padding: 1rem;
        background-image: url(../img/onsite/map-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        .heading{
            &::before{
                content: none;
            }
        }
    }
    .training-map{
        display: flex;
        margin-top: 1rem;
        img{
            width: 100%;
            height: 100%;
        }
    }

}
// End training section

// Start doorstep section
.doorstep{
    padding: @sectionPadding;
    .doorstep-container{
        display: flex;
        flex-direction: column;
    }
    .form{
        background-image: url(../img/onsite/form-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        p,label{
            color: @whiteColor;
        }
        input[type=checkbox] {
            background-color: @whiteColor;
            border-radius: 0;
        }
    }
    .form-consent{
        p{
        a{
            color: @whiteColor;
            font-weight: bold;
        }
    }
    }
    .input-container{
        background-color:#4B5773;
        .phonecode-field{
            span{
                background-color: transparent;
            }
            select{
                background-color: transparent;
            }
        }
        span{
            background-color: #6B7996;
        }
        ::placeholder{
            color: @whiteColor;
        }
        input,textarea{
            color: @whiteColor;
        }
    }
    .info{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        .info-list{
            display: flex;
            flex-direction: column;
        }
        .item{
            display: flex;
            margin-top: 2rem;
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                background: @blueGradient;
                height: 50px;
                width: 50px;
                min-width: 50px;
                border-radius: 5px;
                padding: .5rem;
                position: relative;
                &::before{
                    position: absolute;
                    content: '';
                    height: 50px;
                    width: 50px;
                    border-radius: 5px;
                    transform: rotate(45deg);
                    background:linear-gradient(#0064D8,#267BDD);
                    z-index: -1;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .item-info{
            display: flex;
            flex-direction: column;
            margin-left: 1.3rem;
            width: 70%;
            p{
                margin-top: .5rem;
            }
        }
    }
}
// End doorstep section


