// Start Banner section //
.testimonial-banner {
    background: @blueGradient;
    .banner-container {
        display: flex;
        flex-direction: column;
    }
    h1,p {
        color: @whiteColor;
    }
    .breadcrums {
        display: flex;
        margin-top: 1rem;
        ul {
            display: flex;
            li {
                color: @whiteColor;
                font-size: 14px;
                &:first-child {
                    margin-right: .5rem;
                }
            }
        }
    }
}
// End Banner section //

// Start Customers Section
.customers {
    padding: @sectionPadding;
    .customers-container {
        display: flex;
        flex-direction: column;
    }
    .heading {
        p {
            font-weight: bold;
            width: 100%;
        }
    }
    .customers-list {
        display: flex;
        flex-direction: column;
    }
    .customers-content {
        display: flex;
        flex-direction: column;
        background-color: @whiteColor;
        box-shadow: @shadowLight;
        margin-top: 2rem;
        padding-bottom: 1.5rem;
    }
    .content {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        p {
            width: 100%;
        }
        .customers-img {
            display: flex;
            height: 40px;
            width: 50px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin-bottom: 1rem;
        }
    }
    .info {
        display: flex;
        background-color: @lightblueColor;
        padding: 1rem;
        align-items: center;
        span {
            display: flex;
            width: 70px;
            height: 70px;
            margin-right: .5rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .designation {
        display: flex;
        flex-direction: column;
        width: calc(100% - 80px);
        h3, p {
            width: 100%;
            color: @whiteColor;
        }
        p {
            font-size: 12px;
        }
    }

}
// End Customers Section

// Start Services Section
.services {
    padding: @sectionPadding;
    background-color: @bgColor;
    .services-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            text-align: center;
            margin-bottom: 1.5rem;
        }
        p {
            text-align: center;
        }
    }
    .phone {
        display: none;
        align-items: center;
        justify-content: center;
        height: 85px;
        width: 85px;
        padding: 1.3rem;
        margin-bottom: 2rem;
        border-radius: 50%;
        background-color: @whiteColor;
        box-shadow: @shadowLight;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
// End Services Section

// Start Testimonial Section
.testimonial {
    padding: @sectionPadding;
    background: linear-gradient(45deg, @lightblueColor ,@darkblueColor);
    .testimonial-container {
        display: flex;
        flex-direction: column;
    }
    .heading {
        h2 {
            margin-bottom: .5rem;
        }
        &::before {
            background-color: @whiteColor;
        }
        p {
            color: @whiteColor;
            text-align: center;
            font-weight: bold;
        }
    }
    p, h3, h4 {
        color: @whiteColor;
    }
    h3, h4 {
        margin-top: .5rem;
    }
    h4 {
        font-size: 14px;
        font-weight: 400;
    }
    .testimonial-list {
        display: flex;
        flex-direction: column;
    }
    .testimonial-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: @lightblueColor;
        border-radius: 6px;
        padding: 1rem;
        width: 95%;
        margin: 0 auto;
        margin-top: 3rem;
        p {
            text-align: center;
            margin-top: -3rem;
        }
        span {
            display: flex;
            height: 90px;
            width: 90px;
            transform: translateY(-60px);
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    .owl-nav {
        display: flex !important;
        justify-content: space-between;
        width: 118px;
        margin: 0 auto;
        margin-top: 1.5rem;

        .owl-prev,
        .owl-next {
            background-image: url(../img/testimonial/arrow.svg)!important;
            background-repeat: no-repeat!important;
            background-size: contain!important;
            background-position: center!important;
            opacity: 0.5;
            width: 25px;
            height: 25px;
            background-color: transparent !important;
            border-radius: 50%;
            outline: none;
        }

        .owl-next {
            transform: rotate(180deg);
        }

        .btn-active {
            opacity: 1;
        }
    }
    .owl-dots{
        display: flex;
        width: 63px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        transform: translateY(-25px);
    
        .owl-dot{
            display: flex;
            width: 25px;
            height: 25px;
            background-color: transparent;
            border: 2px solid @whiteColor;
            margin-right: 7px;
            outline: none;
            border-radius: 18px;
            &:last-child {
                margin-right: 0;
            }
        }
        
        .owl-dot.active{
            background-color: @whiteColor;
        }
    
    }
}
// End Testimonial Section

// Start Facts Section
.fact {
    padding: @sectionPadding;
    .fact-container {
        display: flex;
        flex-direction: column;
    }
    .heading {
        margin-bottom: 0;
        h2 {
            margin-bottom: 1rem;
        }
        p {
            text-align: center;
        }
    }
    .fact-list {
        display: flex;
        flex-direction: column;
    }
    .fact-content {
        display: flex;
        justify-content: space-between;
        background-color: @whiteColor;
        box-shadow: @shadowLight;
        padding: 1rem;
        border-left: 4px solid @darkblueColor;
        margin-top: 2rem;
    }
    .img {
        display: flex;
        height: 50px;
        width: 50px;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        width: calc(100% - 65px);
    }
}
// End Facts Section