@font-face {
  font-family: 'Roboto';
  src: url('webfonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('webfonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('webfonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('webfonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}
* {
  box-sizing: border-box;
  font-family: Roboto;
}
p {
  line-height: 1.6;
  font-size: 14px;
  margin: 0;
  color: #181818;
}
p strong,
p b {
  font-weight: 700;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
h2 {
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
}
ul,
li {
  padding: 0;
  margin: 0;
  color: #181818;
  list-style: none;
}
li {
  font-size: 14px;
}
.container {
  width: 100%;
}
.flex-container {
  display: flex;
  margin: auto;
}
body {
  margin: 0;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.buttons img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.buttons .btn-blue,
.buttons .btn-white {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 18px;
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.098);
  min-width: 150px;
  white-space: nowrap;
  border-radius: 50px;
}
.buttons .btn-blue {
  background: #0064D8;
  color: #FFFFFF;
}
.buttons .btn-white {
  background-color: #FFFFFF;
  color: #000000;
}
.heading {
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
  z-index: 1;
}
.heading::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 80px;
  height: 4px;
  border-radius: 10px;
  background-color: #1C2848;
  top: -10px;
}
.heading h2 {
  width: 100%;
  font-size: 26px;
}
.heading span {
  color: #0064D8;
  font-size: 26px;
}
.center-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-heading h2 {
  text-align: center;
  justify-content: center;
}
.white-heading h2 {
  color: #FFFFFF;
}
.navbar {
  display: flex;
}
.navbar ul {
  list-style-type: none;
  margin-bottom: 0;
}
.navbar ul .links-li {
  padding: 8px 0;
  border-bottom: 1px dotted #000000;
  cursor: pointer;
}
.navbar ul .links-li:first-child {
  padding-top: 0;
}
.navbar ul .links-li:nth-last-child(2) {
  border-bottom: none;
  padding-bottom: 0;
}
.navbar ul .links-li:last-child {
  display: none;
  padding-bottom: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navbar ul .links-li:last-child a {
  display: flex;
  width: 35px;
  height: 35px;
  padding: 6px;
  background-color: #1C2848;
}
.navbar ul .links-li:last-child img {
  width: 100%;
  height: 100%;
}
.navbar ul .links-li .link {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}
.navbar ul .buttons {
  display: none;
}
.navbar .top-bar {
  display: none;
}
.navbar .container {
  display: flex;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.098);
  background-color: #FFFFFF;
}
.navbar .container .menu.active {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.047);
}
.navbar .container .menu.active + .menu-links {
  padding: 15px;
  width: 80%;
}
.navbar .container .menu.active + .menu-links .menu-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar .bpt-logo {
  display: flex;
  width: 200px;
}
.navbar .bpt-logo img {
  width: 100%;
  height: 100%;
}
.navbar .menu {
  display: flex;
  z-index: 1;
  margin-left: auto;
}
.navbar .menu img {
  width: 22px;
  height: 23px;
}
.navbar .menu-links {
  width: 0;
  transition: all 0.5s;
  height: fit-content;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 15;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.098);
  flex-direction: column;
}
.navbar .menu-links .menu-toggle {
  color: #000000;
}
.navbar .menu-links .menu-toggle img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.banner {
  display: flex;
  flex-direction: column;
}
.banner .banner-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}
.banner .banner-container .banner-content {
  display: flex;
  flex-direction: column;
}
.banner .banner-container .banner-content p {
  color: #181818;
  margin-bottom: 1rem;
  line-height: 1.8;
}
.banner .banner-container .banner-content button {
  width: 82px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.098);
  padding: 0.5rem;
  background-color: #1C2848;
  border-radius: 0;
  outline: none;
  color: #FFFFFF;
  border: none;
  position: relative;
}
.banner .banner-container .banner-content button::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 16px solid #1C2848;
  transform: rotate(35deg);
  left: -9px;
}
.banner h1 {
  font-size: 26px;
  margin-bottom: 1rem;
}
.banner .search {
  display: flex;
  border: 2px solid #1C2848;
  padding: 0.5rem;
  width: 100%;
}
.banner .search input {
  width: 88%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.098);
  padding: 0.8rem 0.5rem;
  padding-right: 1.5rem;
  border: none;
}
.banner .topic-list {
  display: flex;
  margin-top: 2rem;
}
.banner .topic-list ul {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: auto;
}
.banner .topic-list li {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.098);
}
.banner .topic-list li:nth-child(1) a {
  background-color: rgba(28, 40, 72, 0.8);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.banner .topic-list li:nth-child(2) a {
  background-color: rgba(28, 40, 72, 0.83);
}
.banner .topic-list li:nth-child(3) a {
  background-color: rgba(28, 40, 72, 0.89);
}
.banner .topic-list li:nth-child(4) a {
  background-color: rgba(28, 40, 72, 0.92);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.banner .topic-list a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.banner .topic-list a img:first-child {
  width: 35px;
  height: 30px;
}
.banner .topic-list a img:last-child {
  width: 20px;
  height: 20px;
}
.banner .topic-list a p {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding-right: 1rem;
  border-right: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-weight: 600;
  width: 65%;
}
.banner .topic-list a span {
  font-size: 14px;
  line-height: normal;
}
.banner .topic-list .owl-dots {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.banner .topic-list .owl-dots .owl-dot {
  display: flex;
  width: 15px;
  height: 15px;
  background-color: #C7C7C7;
  margin-right: 7px;
  outline: none;
  border-radius: 18px;
}
.banner .topic-list .owl-dots .owl-dot.active {
  background-color: #FFFFFF;
  width: 20px;
  height: 20px;
}
@media (min-width : 768px) {
  .buttons .btn-blue,
  .buttons .btn-white {
    font-size: 16px;
  }
  .navbar {
    width: 100%;
  }
  .navbar ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0.8rem;
    width: 100%;
    background: linear-gradient(#0064D8, #1C2848);
    order: 2;
  }
  .navbar ul .links-li {
    display: flex!important;
    flex-direction: column;
    border-bottom: none;
    margin-right: 0.5rem;
    padding: 0;
    color: #000000;
    font-weight: 500;
  }
  .navbar ul .links-li:last-child {
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
    width: 140px;
    flex-direction: row;
  }
  .navbar ul .links-li .link {
    font-weight: 600;
    transition: none;
    color: #FFFFFF;
    padding-bottom: 3px;
  }
  .navbar ul .links-li span {
    background-color: #FFFFFF;
    width: 0;
    height: 3px;
    position: relative;
    visibility: hidden;
    transition: 1s all;
  }
  .navbar ul .links-li span::before {
    content: none;
    position: absolute;
    height: 3px;
    width: 15px;
    border-left: 4px solid #1C2848;
    border-right: 4px solid #1C2848;
    left: 30px;
  }
  .navbar ul .links-li:hover span {
    width: 100%;
    visibility: visible;
    transition: 1s all;
  }
  .navbar ul .links-li:hover span::before {
    content: '';
  }
  .navbar ul .buttons .btn-white {
    margin-right: 1rem;
    padding: 0.5rem;
    min-width: 40px;
    height: 40px;
  }
  .navbar ul .buttons .btn-white img {
    margin-right: 0;
  }
  .navbar ul .buttons .btn-white:last-child {
    margin-right: 0;
  }
  .navbar .top-bar {
    display: flex;
    width: 100%;
    background: #FFFFFF !important;
    order: 1;
    justify-content: flex-start;
  }
  .navbar .top-bar .buttons {
    display: flex;
    margin-top: 0;
    margin-left: auto;
  }
  .navbar .top-bar .buttons .btn-blue {
    border-radius: 20px;
  }
  .navbar .top-bar li {
    display: flex;
    align-items: center;
  }
  .navbar .top-bar li:nth-child(2) span {
    margin-right: 0;
  }
  .navbar .top-bar li span {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-right: 20px;
    padding: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.098), 2px -2px 0 #1C2848;
  }
  .navbar .top-bar li span img {
    width: 100%;
    height: 100%;
  }
  .navbar .top-bar li .info {
    display: none;
  }
  .navbar .container {
    padding: 0;
    position: relative;
    z-index: 1;
  }
  .navbar .container::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 73px;
    background-image: url(../img/master/nav-bg.png);
    background-size: 100% 100%;
    bottom: -7px;
    background-repeat: no-repeat;
  }
  .navbar .bpt-logo {
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 30%;
    background: linear-gradient(#E2E2E2, #ffffff);
  }
  .navbar .menu {
    display: none;
  }
  .navbar .menu-links {
    width: 71%;
    display: flex;
    align-items: center;
    overflow: unset;
    position: relative;
    box-shadow: none;
  }
  .navbar .menu-links .menu-toggle {
    display: none;
  }
  .banner {
    padding: 3rem 2rem;
    background-image: url(../img/master/banner-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: transparent;
    position: relative;
  }
  .banner::before {
    content: '';
    position: absolute;
    bottom: 0;
    background-image: url(../img/master/banner-layer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 36%;
    left: 0;
    z-index: 0;
  }
  .banner .banner-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0;
    padding-top: 3rem;
    z-index: 1;
  }
  .banner .banner-container .banner-content {
    align-items: flex-start;
    width: 50%;
  }
  .banner .banner-container .topic-list {
    width: 46%;
    margin-top: 0;
  }
}
@media (min-width : 1024px) {
  .navbar .top-bar li:first-child {
    margin-right: 1.5rem;
  }
  .navbar .top-bar li span {
    margin-right: 10px!important;
    min-width: 40px;
  }
  .navbar .top-bar li .info {
    display: flex;
    flex-direction: column;
    width: 81%;
  }
  .navbar .top-bar li .info p {
    font-size: 18px;
    font-weight: 700;
  }
  .navbar .top-bar li .info a {
    font-size: 14px;
    font-weight: 500;
  }
  .navbar .menu {
    display: none;
  }
  .navbar .menu-links {
    width: 70%;
  }
  .banner::before {
    height: 56%;
  }
  .banner .banner-container .banner-content {
    width: 55%;
  }
  .banner .banner-container .topic-list {
    width: 40%;
  }
  .banner .banner-container .topic-list a p {
    width: 70%;
  }
  .banner .search {
    width: 76%;
  }
}
@media (min-width : 1366px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .buttons .btn-blue,
  .buttons .btn-white {
    font-size: 18px;
  }
  .heading h2 {
    font-size: 32px;
  }
  .heading span {
    font-size: 32px;
  }
  .navbar ul .links-li {
    margin-right: 2rem;
  }
}
.about-us {
  padding: 3rem 1.5rem;
}
.about-us .about-container {
  display: flex;
  flex-direction: column;
}
.about-us .about-content {
  display: flex;
  flex-direction: column;
}
.about-us .about-image {
  display: flex;
  flex-direction: column;
}
.about-us .heading {
  margin-bottom: 2rem;
}
.about-us .heading h2 {
  text-align: center;
}
.about-us .heading p {
  margin-top: 0.5rem;
  text-align: center;
}
.about-us .values-info {
  display: flex;
}
.about-us .values-info img {
  width: 100%;
  height: 100%;
}
.testimonial {
  padding: 3rem 1.5rem;
}
.testimonial .testimonial-container {
  display: flex;
  flex-direction: column;
}
.testimonial .testimonial-content {
  display: flex;
  flex-direction: column;
}
.testimonial .testimonial-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(#00326C 68%, #FFFFFF 68%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.098);
  position: relative;
  z-index: 1;
  width: 96%;
  margin: 8px auto;
}
.testimonial .testimonial-item::before,
.testimonial .testimonial-item::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}
.testimonial .testimonial-item::before {
  left: 0;
  bottom: 0;
  background-image: url(../img/aboutus/layer-left.png);
}
.testimonial .testimonial-item::after {
  right: 0;
  bottom: 0;
  background-image: url(../img/aboutus/layer-right.png);
}
.testimonial .testimonial-item p {
  text-align: center;
  color: #FFFFFF;
}
.testimonial .testimonial-item span {
  display: flex;
  width: 60px;
  height: 60px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.testimonial .testimonial-item span img {
  width: 100%;
  height: 100%;
}
.testimonial .testimonial-item h3 {
  margin-bottom: 0.5rem;
}
.testimonial .testimonial-item .stars {
  width: 100px;
  margin-top: 0.5rem;
}
.testimonial .testimonial-item .designation {
  color: #181818;
}
.testimonial .owl-nav {
  display: flex;
  justify-content: space-between;
  width: 96px;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.testimonial .owl-nav .owl-prev,
.testimonial .owl-nav .owl-next {
  background-image: url(../img/aboutus/testimonial-arrow.svg) !important;
  background-repeat: no-repeat !important;
  background-size: contain!important;
  background-position: center!important;
  opacity: 0.5;
  width: 35px;
  height: 35px;
  background-color: #fff !important;
  border-radius: 50%;
  outline: none;
}
.testimonial .owl-nav .owl-next {
  transform: rotate(180deg);
}
.testimonial .owl-nav .btn-active {
  opacity: 1;
}
.skills {
  padding: 3rem 1.5rem;
}
.skills .skills-container {
  display: flex;
  flex-direction: column;
}
.skills .skills-list {
  display: flex;
  flex-direction: column;
}
.skills .skills-item {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.098);
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
.skills .skills-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  left: 0;
  top: 0;
}
.skills .skills-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills .skills-content h3 {
  margin: 0.5rem 0;
  text-align: center;
  font-size: 18px;
}
.skills .skills-content p {
  text-align: center;
}
.skills .skills-content span {
  display: flex;
  width: 50px;
  height: 50px;
}
.skills .skills-content span img {
  width: 100%;
}
@media (min-width : 768px) {
  .about-us {
    padding: 3rem 2rem;
  }
  .about-us .about-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .about-us .about-content {
    width: 48%;
  }
  .about-us .about-content .heading h2 {
    text-align: left;
  }
  .about-us .about-content .heading p {
    text-align: left;
  }
  .about-us .about-image {
    width: 48%;
    position: sticky;
    top: 55px;
    height: fit-content;
  }
  .about-us .about-image .heading h2 {
    text-align: left;
  }
  .about-us .about-image .heading p {
    text-align: left;
  }
  .testimonial {
    padding: 3rem 2rem;
  }
  .testimonial .testimonial-item {
    width: 85%;
  }
  .skills {
    overflow: hidden;
  }
  .skills .skills-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .skills .skills-content {
    transform: rotate(45deg);
  }
  .skills .skills-content p {
    width: 80%;
  }
  .skills .skills-content h3 {
    font-size: 15px;
  }
  .skills .skills-item {
    width: 34%;
    transform: rotate(-46deg);
    margin-top: 4rem;
  }
}
@media (min-width : 1024px) {
  .about-us .about-content {
    padding-left: 2rem;
    position: relative;
    z-index: 1;
  }
  .about-us .about-content::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 11px;
    top: 1px;
    width: 5px;
    height: 427px;
    border-left: 2px dashed #000000;
  }
  .about-us h2 {
    position: relative;
    z-index: 1;
  }
  .about-us h2::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: -28px;
    top: 8px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 5px solid #0064D8;
    background-color: #FFFFFF;
  }
  .about-us .about-image .heading h2::before {
    content: none;
  }
  .testimonial {
    background-image: url(../img/aboutus/testimonial-bg.png);
    background-size: 100% 95%;
    background-repeat: no-repeat;
  }
  .testimonial .testimonial-item {
    background: linear-gradient(#00326C 61%, #FFFFFF 61%);
  }
}
@media (min-width : 1366px) {
  .about-us {
    padding: 4rem 0rem;
  }
  .about-us .about-content h2::after {
    height: 390px;
  }
  .about-us .about-content h2::before {
    top: 10px;
  }
  .testimonial {
    padding: 4rem 0rem;
  }
}
