@media @size-md{

    // Start Steps Section
    .steps {
        padding: @sectionPadding-md;
        padding: 4rem 2rem;
        position: relative;
        z-index: 1;
        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            height: 90%;
            width: 300px;
            background-image: url(../img/cart/ring.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .steps-container {
            position: relative;
            z-index: 1;
            &::before {
                content: '';
                z-index: -1;
                position: absolute;
                top: 90px;
                left: -32px;
                height: 93%;
                width: 350px;
                background: @blueGradient;
                border-radius: 0px 40px 40px 0px;
            }
            .heading {
                margin-bottom: 3rem;
            }
        }
        .payment-container {
            flex-direction: row;
            justify-content: flex-start;
            margin-top: 0;
        }
        .detail-container {
            width: 35%;
            background-image: none;
            align-self: center;
            padding: 0;
            .detail {
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 4rem;
                &:last-child {
                    margin-bottom: 0;
                }
                p {
                    order: 1;
                    text-align: left;
                    margin-top: 0;
                    width: calc(100% - 50px);
                    font-size: 18px;
                }
                .number {
                    order: 2;
                    transform: translateX(24px);
                }
            }
        }
        .order-container {
            width: 62%;
            margin-top: 0;
        }
        .form {
            padding: 1.5rem 3rem;
            .buttons {
                width: 100%;
                justify-content: flex-end;
            }
        }
        .form-inner{
            background-color: @whiteColor;
            position: relative;
            margin-top: 0;
        }
        .card-detail{
            background-image: url(../img/cart/credit-bg.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-color: transparent;
            padding: 3rem;
            padding-bottom: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            position: absolute;
            top: -35px;
            right: 0;
            left: 0;
            margin: auto;

            .input-container{
                width: 48%;
            }

        }
        .billing-details{
            padding: 1.5rem 2rem!important;
              width: 100%!important;
              background-color: transparent!important;
              margin-top: 6rem !important;
            h2 {
                margin-top: 0 !important;
            }
            .buttons{
                flex-direction: row;
                .btn-blue{
                    margin-top: 0;
                }
                .btn-white{
                    margin-right: 1rem;
                }
            }
        }
        .payment-detail {
            background-color: @whiteColor;
            padding: 2rem;
            box-shadow: @shadowLight;
            .buttons {
                flex-direction: row;
                margin-top: 0;
                justify-content: flex-end;
                width: 100%;
                .btn-blue {
                    margin-left: 1rem;
                }
            }
        }
        .payment {
            h2 {
                text-align: left;
            }
        }
        .payment-content {
            p {
                text-align: left;
            }
        }
    }
    // End Steps Section
}
@media @size-lg{

    // Start Banner section //
    .cart-banner {
        background: none;
        background-image: url(../img/cart/banner-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        .banner-container {
            width: 48%;
        }
    
    }
    // End Banner section //

    // Start Steps Section
    .steps {
        .steps-container {
            &::before {
                top: 88px;
                height: 95%;
                width: 365px;
            }
        }
        .detail-container {
            width: 25%;
        }
        .order-container {
            width: 70%;
            #stepOne {
                .form-input {
                    .input-container {
                        &:last-child {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .form {
            padding: 1.5rem 4rem;
            .cart-heading{
                flex-direction: row;
                justify-content: space-between;
            }
        }
        .form-input {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .input-container {
            width: 48%;
        }
        .form-inner{
            top: 15px;
        }
        .card-detail{
            width: 94%;
            .input-container {
                &:last-child {
                    width: 48%;
                }
            }
        }
        .billing-details{
            .form-consent{
                align-items: center;
                width: 66%;
                justify-content: flex-end;
                label{
                    align-items: flex-end;
                    justify-content: flex-end;
                    width: auto;
                }
            
            }
            .input-container{
                width: 48%;
            }
        }
        .delegate {
            .card-detail {
                .input-container {
                    width: 100%;
                }
            }
        }
        .delegate-details{

            
            p{
                font-size: 12px;
                margin-bottom: 1rem;
            }
            .form-consent{
                margin-top: 0rem;
                margin-bottom: 0;
                     top: 21px;

                     label{
                         width: 25%;
                     }
            }
            .form-input{
                h3{
                    margin-bottom: 1rem;
                }
            }
        }
        .payment-detail {
            padding: 2rem 3rem;
        }
    }
    // End Steps Section
}
@media @size-xl{

    // Start Steps Section
    .steps {
        padding: @sectionPadding-xl;
        .steps-container {
            &::before {
                left: -83px;
                width: 445px;
            }
        }
        .detail-container {
            width: 25%;
            .detail {
                .number {
                    transform: translateX(24px);
                }
            }
        }
        .form {
            padding: 1.5rem 4rem;
        }
        .delegate-details{
            .form-consent{
                     label{
                         width: 20%;
                     }
            }
          
        }
        .payment-detail {
            padding: 2rem 4rem;
        }
    }
    // End Steps Section
}

@size-xl-max: ~"(min-width : 1400px)";
@media @size-xl-max
{

    // Start Steps Section
    .steps {
        .steps-container {
            &::before {
                left: 0px;
            }
        }
        .detail-container {
            padding-left: 2rem;
        }
    }
    // End Steps Section
}

@media @size-xll {

    // Start Steps Section
    .steps {
        .steps-container {
            &::before {
                left: 0px;
            }
        }
        .detail-container {
            padding-left: 2rem;
        }
    }
    // End Steps Section
}