@media @size-md{

    // Start Banner Section
    .catalouge-banner {
        background: none;
        background-image: url(../img/catalouge/banner-bg.png);
        background-size: 100% 79%;
        background-repeat: no-repeat;
        .banner-container {
            flex-direction: row;
            justify-content: space-between;
        }
        .banner-text {
            width: 50%;
        }
        .banner-testi {
            width: 42%;
            margin-top: 0;
            position: relative;
        }
        .owl-nav {
            width: 100%;

            .owl-prev,
            .owl-next {
                position: absolute;
                top: 37%;
            }

            .owl-prev {
                left: 0;
            }

            .owl-next {
                right: 0;
            }
        }
        .filter-top {
            margin-top: 2rem;
        }
        .form {
            flex-direction: row;
            justify-content: space-between;
        }
        .select-dropdown {
            width: 33%;
        }
    }
    // End Banner Section

}

@media @size-lg{

    // Start Banner Section
    .catalouge-banner {
        .banner-text {
            width: 46%;
        }
        .banner-testi {
            width: 50%;
        }
    }
    // End Banner Section

}

@media @size-xl{}