@media @size-md {
  
      // Start Footer Section
      .contact{
        padding: @sectionPadding-md;
        .input-container{
          width: 48%;
          &:last-child{
            width: 100%;
          }
        }
          .contact-info{
            margin-top: 0;
          }
          .item{
          width: 49%;
          &:last-child{
            width: 54%;
            margin: auto;
          }
          }
          .social{
            align-self: center;
            width: 45%;
          }
          .contact-list{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
          }
      }
      // End Footer Section

      //Start information section
      .information{
        padding: @sectionPadding-md;
        background-image: linear-gradient(#1C2848 54.5%, #FFFFFF 45%);
        .heading{
            &::before{
                background-color: @whiteColor;
            }
            h2{
                color: @whiteColor;
            }
        }
        .info-list{
            flex-direction: row;
            justify-content: space-between;
            margin-top: 2rem;
        }
        .info-content{
            width: 32%;
            margin-top: 0!important;
          
        }
        p{
          min-height: 140px;
        }
        }
      //End information section  

      //Start locate section
      .locate{
        padding: @sectionPadding-md;
      }

      // Start FAQ Section
      .faq{
          padding: @sectionPadding-md;
          .faq-container{
              flex-direction: row-reverse;
              justify-content: space-between;
              align-items: center;
          }
          .faq-content{
              width: 50%;
          }
          .experience{
              flex-direction: row;
              justify-content: space-between;
              margin-top: 0;
              width: 48%;
              background-image: url(../img/contactus/dotted-map.png);
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              height: 370px;
          }
          .experience-info{
              align-self: center;
              background-image: url(../img/contactus/experience-bg.png);
              background-size: 100% 100%;
              background-repeat: no-repeat;
              width: 287px;
              height: 255px;
              align-items: center;
              justify-content: center;
              img{
                display: flex;
                height: 100%;
                width: 100%;
              }
              h2{
                  color: @whiteColor;
                  margin-right: 2rem;
                  width: 45%;
              }
          }
          .platforms{
              flex-direction: column;
              justify-content: space-around;
              width: auto;
              margin:0;
              transform: translate(-28px, 0px);
              align-self: auto;
          }
          a{
              &:first-child{
                  transform: translate(-62px,14px);
              }
              &:last-child{
                  transform: translate(-62px,-14px);
              }
          }
      }
      // End FAQ Section
  
    }
  
@media @size-lg {
  
       //Start banner section//
       .contact-banner {
        background-image:url(../img/contactus/banner-bg.png);
        .banner-container {
            width: 45%;
        }
        }
        //End banner section//  
  
        // Start Footer Section
        .contact{
          .contact-container{
            flex-direction: row-reverse;
            align-items: flex-start;
          }
          .form{
            width: 60%;
            padding: 2rem;
          }
          .contact-info{
              width: 43%;
              background-image: url(../img/contactus/phone-bg.png);
              background-size: 100% 100%;
              background-repeat: no-repeat;
              justify-content: flex-start;
              align-items: flex-start;
              padding: 3.5rem;
              padding-right: 5rem;
              .contact-list{
                width: 100%;
                align-self: center;
                .item{
                  width: 100%;
                }
              }
          }
          .social{
            margin: 1.5rem 0;
            width: 100%;
            padding-top: 0;
          }
          }
        // End Footer Section

        //Start information section
        .information{
          background-image: linear-gradient(#1c2848 56.3%, #fff 45%);
        .info-list{
            justify-content: space-around;
        }
        .info-content{
            width: 28%;
        }
        .info-text{
            padding: 2rem;
         
        }
        p{
          min-height:118px ;
        }
      
        
        }
        // End information section

        // Start FAQ Section
        .faq{
            .faq-content{
                width: 56%;
            }
            .experience{
                width: 45%;
                height: 350px;
            }
            .experience-info{
                width: 380px;
                height: 335px;
                h2{
                  font-size: 32px;
                }
            }
            a{
              &:first-child{
                transform: translate(-62px,-5px);
              }
              &:last-child{
                transform: translate(-62px,5px);
              }
            }
            }
        // End FAQ Section
  }
  
@media @size-xl {
  
      // Start Footer Section
      .contact{
        padding: @sectionPadding-xl;
        padding-top: 6rem;
        padding-bottom: 6rem;
        .contact-container{
          position: relative;
          align-items: center;
          .contact-info{
            width: 34%;
            position: absolute;
            left: 0;
            top: -20px;
          }
          .form{
            width: 73%;
            padding-left: 5rem;
            align-self: center;
          }
        }
      }
      // End Footer Section 

      //Start information section
      .information{
        padding: @sectionPadding-xl;
        background-image: linear-gradient(#1c2848 58%, #fff 45%);

        .info-content{
            width: 28%;
          
        }
        p{
          min-height: 104px;
        }
      
        }
        //End information section

        // Start locate section
        .locate{
          padding: @sectionPadding-xl;
        }
        // End locate section

        // Start FAQ Section
        .faq{
            padding: @sectionPadding-xl;
            .experience{
                width: 40%;
            }
            .experience-info{
              width: 430px;
                    height: 370px;
                  }
                  }
        // End FAQ Section
  }