@media @size-md{
    // Start Unable Section
    .unable {
        padding: @sectionPadding-md;
        background: none;
        background-image: url(../img/courses/unable-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .unable-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        h2, p {
            color: @whiteColor;
        }
    }
    // End Unable Section
}

@media @size-lg{
    // Start Unable Section
    .unable {
        p {
            width: 60%;
        }
    }
    // End Unable Section
}

@media @size-xl{
    // Start Unable Section
    .unable {
        padding: @sectionPadding-xl;
    }
    // End Unable Section
}