@media @size-md{
    // Start Unable Section
    .unable {
        padding: @sectionPadding-md;
        background: none;
        background-image: url(../img/courses/unable-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .unable-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        h2, p {
            color: @whiteColor;
        }
    }
    // End Unable Section

    // Start virtual Section
    .virtual {
        padding: @sectionPadding-md;
        .virtual-list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .virtual-content {
            width: 43%;
            &:nth-child(2) {
                margin-top: 0;
            }
        }
        .virtual-img {
            width: 55%;
            align-self: center;
        }
    }
    // End virtual Section

    // Start Work Section
    .work {
        padding: @sectionPadding-md;
        .work-list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .content {
            width: 32%;
        }
    }
    // End Work Section

    // Start Language Section
    .language {
        padding: @sectionPadding-md;
        .language-container {
            display: flex;
            flex-direction: column;
        }
        .language-img {
            width: 55%;
            align-self: center;
        }
        .buy {
            padding: 0;
        }
        .language-list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .content {
                width: 48%;
                background-size: 23% 100%;
            }
        }
    }
    // End Language Section

    // Start Skill Section
    .skill {
        padding: @sectionPadding-md;
        .heading {
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
                text-align: center;
            }
        }
        .skill-list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .skill-content {
            width: 46%;
        }
    }
    // End Skill Section

    // Start Related Section
    .related {
        padding: @sectionPadding-md;
        .related-list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        .related-content {
            width: 48%;
            margin-right: 1.5rem;
            &:nth-child(even) {
                margin-right: 0;
            }
        }
    }
    // End Related Section
}

@media @size-lg{
    // Start Unable Section
    .unable {
        p {
            width: 60%;
        }
    }
    // End Unable Section

    // Start virtual Section
    .virtual {
        .virtual-container {
            flex-direction: row;
            justify-content: space-between;
        }
        .virtual-list {
            width: 64%;
        }
        .virtual-content {
            width: 43%;
            &:nth-child(2) {
                margin-top: 0;
            }
            .content {
                display: flex;
                justify-content: space-between;
                margin-bottom: .5rem;
                span {
                    display: flex;
                    height: 50px;
                    width: 50px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                h2 {
                    width: calc(100% - 60px);
                }
            }
        }
        .virtual-img {
            width: 35%;
            align-self: flex-start;
            margin-top: 0;
        }
    }
    // End virtual Section

    // Start Work Section
    .work {
        .work-container {
            flex-direction: row;
        }
        .work-content {
            width: 26%;
        }
        .work-list {
            align-items: flex-end;
            width: 73%;
            justify-content: center;
        }
        .content {
            width: 33%;
            margin-top: 0;
            &:nth-child(2) {
                transform: translateY(-45px);
            }
            &:last-child {
                transform: translateY(-73px);
            }
        }
    }
    // End Work Section

    // Start Language Section
    .language {
        background-image: url(../img/courses/building.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 15% 44%;
        .language-container {
            flex-direction: row;
            justify-content: space-between;
        }
        .language-img {
            width: 36%;
            align-self: flex-start;
            position: relative;
            z-index: 1;
        }
        .price {
            &::before {
                content: '';
                position: absolute;
                bottom: -26px;
                right: -28px;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                background-color: @lightblueColor;
                opacity: .26;
                z-index: -1;
                animation: size 4s linear infinite
            }
        }
        .language-content {
            width: 58%;
            margin-top: 0;
        }
        .language-list {
            .content {
                background-size: 29% 100%;
            }
        }
    }
    // End Language Section

    // Start Skill Section
    .skill {
        .skill-list {
            justify-content: center;
        }
        .skill-content {
            width: 25%;
            align-items: flex-start;
            h3 {
                min-height: 50px;
            }
            p {
                text-align: left;
                min-height: 66px;
            }
        }
    }
    // End Skill Section

    // Start Related Section
    .related {
        background: none;
        background-image: url(../img/courses/related-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .related-content {
            width: 31%;
            &:nth-child(2), &:nth-child(4), &:nth-child(6) {
                margin-right: 1.5rem;
            }
            &:nth-child(3), &:nth-child(5) {
                margin-right: 0;
            }
            &:nth-child(4),&:nth-child(5) {
                width: 35%;
            }
        }
    }
    // End Related Section

}

@media @size-xl{
    // Start Unable Section
    .unable {
        padding: @sectionPadding-xl;
    }
    // End Unable Section

    // Start virtual Section
    .virtual {
        padding: @sectionPadding-xl;
        .virtual-list {
            width: 68%;
        }
        .virtual-img {
            width: 30%;
        }
    }
    // End virtual Section

    // Start Work Section
    .work {
        padding: @sectionPadding-xl;
        .work-content {
            width: 26%;
        }
        .work-list {
            width: 63%;
        }
    }
    // End Work Section

    // Start Language Section
    .language {
        padding: @sectionPadding-xl;
        .language-container {
            flex-direction: row;
            justify-content: space-between;
        }
        .language-img {
            width: 32%;
        }
        .language-content {
            width: 62%;
        }
        .language-list {
            .content {
                background-size: 22% 100%;
            }
        }
    }
    // End Language Section

    // Start Skill Section
    .skill {
        padding: @sectionPadding-xl;
        .skill-content {
            width: 22%;
            h3 {
                min-height: auto;
            }
            p {
                min-height: 66px;
            }
        }
    }
    // End Skill Section

    // Start Related Section
    .related {
        padding: @sectionPadding-xl;
        .related-content {
            width: 31%;
            &:nth-child(2), &:nth-child(4), &:nth-child(6) {
                margin-right: 1.5rem;
            }
            &:nth-child(3), &:nth-child(5) {
                margin-right: 0;
            }
            &:nth-child(4),&:nth-child(5) {
                width: 35%;
            }
        }
    }
    // End Related Section
}