@media @size-md{

// Start  empty section
.empty{
    padding: @sectionPadding-md;
    padding-top: 1rem!important;
    background-image: url(../img/emptycart/cart-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    span{
        width: 575px;
    }
}
// End empty section
.order{
    padding: @sectionPadding-md;
    .order-main{
        .buttons{
            flex-direction: row;
            justify-content: space-between;
            margin-top: 2rem;
            .btn-white{
                margin-bottom: 0rem;
            }
        }
    }
    .inner-content{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        .total-main{
            width: 40%;
            position: sticky;
            top: 85px;
        }
        .order-main{
            width: 58%;
            .order-courses{
                align-self: center;
                width: 100%;
                &:first-child{
                    margin-top: 0;
                }
            }
         
        }

    }
}

}

@media @size-lg{

    // Start cart-banner section
    .cart-banner{
        background-color: transparent;
        background-image: url(../img/emptycart/banner-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .banner-container{
            width: 50%;
        }
    }
    // End cart-banner section
    .order{
        .inner-content{
            .total-main{
                width: 30%;
            }
            .order-main{
                width: 68%;             
            }
        }
        .order-main{
            .course-info{
                flex-direction: row;
                justify-content: space-between;
                padding: 0;
                .detail{
                    width: 38%;
                    justify-content: center;
                    padding: 1.5rem;
                    margin-bottom: 0;
                    p{
                        font-size: 13px;
                    }
                    li{
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                    &:nth-child(odd){
                        background-color: @greyColor;
                    }
                    &:nth-child(even){
                        background-color: @whiteColor;
                    }
                }
                .delivery-method{
                    width: 25%;
                    flex-direction: column!important;
                    p{
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .counts{
                    flex-direction: column!important;
                    justify-content: center;
                    p{
                        text-align: center;
                        margin-bottom: 1.5rem;
                        width: 100%;
                    }
                    .count{
                        margin: 0   auto;
                        justify-content: center;
                    }
                }
            }
        }
       
    }
}

@media @size-xl{

    // Start cart-banner section
    .cart-banner{
        padding: @sectionPadding-xl;
    }
    // End cart-banner section

    // Start  empty section
    .empty{
        padding: @sectionPadding-xl;
        background-size: cover;
    }
    // End empty section
    .order{
        padding: @sectionPadding-xl;
        .inner-content{
            .total-main {
                width: 25%;
            }
            .order-main {
                width: 72%;
            }
        }
     
    }
}