@media @size-md{
    // Start banner section //
    .home-banner{
        background-image: url(../img/master/banner-bg.png);
        position: relative;
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          background-image: url(../img/master/banner-layer.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          width: 100%;
          height: 36%;
          left: 0;
          z-index: -1;
        }
        .banner-container{
        flex-direction: row;
        justify-content: space-between;
        z-index: 1;
        box-shadow: none;
        .topic-list{
          width: 46%;
          margin-top: 0;
        }
        }
    }
    // End banner section //

    // Start courses section //
    .courses{
        padding: @sectionPadding-md;
        .courses-list{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .course-name{
            width: 46%;
          
            // &:nth-child(3),&:nth-child(6),&:nth-child(9),&:nth-child(12){
               
            // }
            .icon{
                display: flex;
            }
            .name{
                h3{
                    min-height: 42px;
                    display: flex;
                    align-items: center;
                }
                h3, p{
                        text-align: left;
                }
            }
        }
    }
    // End banner section //

    // Start banner section //
    .effective{
        padding: @sectionPadding-md;
        background: transparent;
        background-image: url(../img/home/call-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 68%;
        background-position: bottom;
        padding-top: 0!important;
        .effective-container{
            flex-direction: row;
            justify-content: space-between;
            background: @blueGradient;
            padding: .5rem 1rem;
            border-radius: 100px;
            height: 82px;
        }
        .content{
            width: 70%;
            flex-direction: row; 
            text-align: left;
            p {
                margin-top: 0;
            }
            img {
           
                margin-right: 1.5rem;
                transform: translate(10px, -30px);
            }
        }
        .buttons{
            width: 30%;
            justify-content: flex-end;
            margin-top: 0;

            .btn-blue{
                margin-left: 0.5rem;
            }
        }
    
    }
    // End banner section// 

    // Start whychoose section //
    .whychoose{
        padding: @sectionPadding-md;
        background-color: #fbfbfb;
        padding-top: 0.5rem!important;
        .choose-list{
            flex-direction: row;
            justify-content: space-between;
        }
        .item{
            width: 35%;
            padding: 2rem;
            margin-top: 0;
        
        }
        h3{
            min-height: 50px;
        }
    }
    // End whychoose section //

    // Start ways section //
    .ways{
        padding: @sectionPadding-md;
        .ways-container{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .ways-content{
            width: 48%;
        }
        .ways-image{
            width: 48%;
            margin-top: 0;

        }
        .item{
            &::before{
                top: 20%;
            }

        }
    }
    // End ways section //

    // Start delivery section//
    .delivery{
        padding: @sectionPadding-md;
        .heading{
            &::before{
                left: 0;
                right: 0;
                margin: auto;
            }
            h2{  
                text-align: center;
            }
        }
        .delivery-list{
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            position: relative;
            z-index: 1;
            &::before{
                content: '';
                position: absolute;
                width: 51%;
                height: 2px;
                left: 0;
                right: 0;
                margin: 0 auto;
                background-color: #ebebeb;
                bottom: -48px;
            }
        }
        .item{
            width: 48%;
            height: 290px;
            justify-content: flex-end;
            padding: 2rem;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-color: transparent;
            background-size: cover;
            position: relative;
            align-items: center;
            z-index: 1;
            align-items: center;
            &::before, &::after{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto; 
                bottom: -48px;
            }
            &:before{
                width: 2px;
                background-color: #ebebeb;
                height: 48px;
            }
            &::after{
                width: 12px;
                height: 12px;
                background-color: @lightblueColor;
                border: 4px solid #ebebeb;
                border-radius: 50%;
            }
            &:nth-child(1){
                background-image: url(../img/home/classroom-bg.png);

            }
            &:nth-child(2){
                background-image: url(../img/home/led-bg.png);

            }
            &:nth-child(3){
                background-image: url(../img/home/paced-bg.png);

            }
            &:nth-child(4){
                background-image: url(../img/home/onsite-bg.png);

            }
            p{
                text-align: center;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            &:hover{
                .overlay{
                    background: @blueGradient;
                }
                p{
                    -webkit-line-clamp: inherit;
                    overflow: inherit;
                }
                img{
                    width: 80px;
                    height: 80px;
                }
            }
        }
        
        .overlay{
            display: flex;
            background:  linear-gradient(@blackColor,#575757);
            opacity: .8;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
     }
    }
    // End delivery section //

    // Start facts section //
    .facts{
        padding: @sectionPadding-md;
        .item{
            width: 25%;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background-image: url(../img/home/facts-arrow.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 50px;
                height: 14px;
                right: -23px;
                top: 30px;
            
            }
            &:last-child{
                &::before{
                    content: none;
                }
            }
        }
    } 
    // end facts section //

    // Start location section //
    .locations{
        background-image: url(../img/home/map.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        .content{
            width: 100%;
        }
        .locations-container{
            justify-content: flex-start;
        }
        .location-name{
            width: 21%;
            height: 150px;
            justify-content: space-between;
            margin-right: 2rem;
            span{
                font-size: 48px;    
                width: 50%;
            }
            img{
                width: 40px;
                height: 40px;
                margin: 0;
            
            }
            p{
                font-size: 16px;
                width: 100%;
            }
            &:nth-child(5n){
                margin-right: 0;
            }
            &:nth-last-child(2){
                margin-right: 0;
            }
        }
    }
    // End location section //

    // Start looking section//
    .looking{
        padding: @sectionPadding-md;
        position: relative;
        z-index: 1;
        &::before{
            content: '';
            position: absolute;
            background-image: url(../img/home/triangles.png);
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
            width: 382px;
            height: 318px;
            right: 0;
            z-index: 0;
            top: 62px;
            z-index: -1;
        }
        .looking-container{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        .looking-for{
            width: 350px;
            border-radius: 100%;
            height: 350px;
            align-items: center;
            justify-content: center;
            padding: 2rem;
        }
        .clients-reviews{
            width: 46%;
            margin-top: 0;
        }
    }
    // End looking section //

    // Start partners section //
    .partners{
        padding: @sectionPadding-md;
        .partners-images{
            width: 100%;
            img{
                &:last-child{
                 margin: inherit;
                }
            }
    
        }
    }
    // End partners section //
}

@media @size-lg{
    
    // Start banner section //
    .home-banner{
        &::before {
            height: 70%;
        }
        .banner-container{
            .topic-list{
              width: 40%;
              a{
                p{
                  width: 70%;
                  line-height: 1.4;
                }
              }
            }
        }
    }
    
    // End banner section //

    // Start courses section //
    .courses{
        .courses-list{
            justify-content: center;
        }
        .course-name{
            width: 31%;
            margin-right: 2rem;
            
            &:nth-child(3n),&:last-child{
                margin-right: 0;
            }
        }
    }
    // end courses section //

    // Start effective section //
    .effective{
        .effective-container{
            width: 90%;
            margin: auto;
            padding: 0 2rem;
        }
        .content{
            img{
                width: 100px;
                height: 100px;
            }
        }
        .buttons{
         width: 25%;
            .btn-blue{
                margin-left: 0;
            }
        }
    }
    // End effective section //

    // Start whychoose section//
    .whychoose{
        padding-bottom: 2rem;
        h3{
            min-height: auto;
        }
    }
    // end whychoose section //

    // Start ways section //
    .ways{
        background-image: url(../img/home/ways-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: #fbfbfb;
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
        .ways-content{
            width: 60%;
            align-items: flex-end;
            background-image: url(../img/home/professionals.png);
            background-repeat: no-repeat;
            background-size: 42% 72%;
            background-position: left top;

        }
        .heading{
            width: 54%;
        }
        .ways-image{
            width: 35%;
            margin-top: 2rem;
        }
        .ways-list{
            background-color: @darkblueColor;
            padding: 1.5rem;
            position: relative;
            width: 75%;
            &::before{
                content: '';
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                background-color: @whiteColor;
                z-index: 0;
                opacity: 0.3;
                left: 11%;
            }
        }
        .item{
            margin: 0;
            padding-top: 1.5rem;
            flex-direction: row;
            &:first-child{
                padding-top: 0;
            }
            span{
                 margin-right: 1rem;
            }
            &::before{
                content: none;
            }
        }
        .content{
            width: 82%;
        }
        h3{
            margin-top: 0;
            font-size: 18px;
        }
    }
    // End ways section //

    //Start delivery section //
    .delivery{
        background-image: url(../img/home/delivery-bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        .delivery-list{
            &::before{
                width: 76%;
            }
        }
        .item{
            width: 24%;
        }
    } 
    // End delivey section

    // Start facts section //
    .facts{
        .facts-container{
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
        }
        .fact-content{
            width: 30%;
        }
        .facts-list{
            width: 68%;
            align-items: center;
        }
        .item{
            margin-top: 0;
            p{
                min-height: 44px;
            }
        }
    } 
    // End facts section //

    // Start location section //
    .locations{
        .content{
            width: 61%;
            padding-right: 3rem;
        }
        .location-name{
            width: 17%;
            margin-top: 2rem;
            &:nth-child(2){
                margin-top: 0;
            }
            &:nth-child(3){
                margin-top: 0;
                margin-right: 0;
            }
            &:nth-child(5n){
                margin-right: 2rem;
            }
        }
    }
    // End location section //

    // Start looking section//
    .looking{
        // background-image: linear-gradient(0deg , @whiteColor 0%, @whiteColor 9%, @darkblueColor 9%, @darkblueColor 3%, @lightblueColor 34%, @lightblueColor 90%, @bgColor 91%, @bgColor 100%);
        background-image: linear-gradient(0deg, @whiteColor 0%, @whiteColor 14%, @darkblueColor 14%, @darkblueColor 4%, @lightblueColor 34%, @lightblueColor 86%, @bgColor 86%, @bgColor 100%);
        background-position: center;
        background-repeat: no-repeat;
        padding-right: 4rem;
        .looking-for{
            background-image: url(../img/home/moon.png);
            background-size: 100% 50%;
            background-position: bottom;
            background-repeat: no-repeat;
            margin-left: 2rem;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background-image: url(../img/home/circles.png);
                background-size: 100% 100%;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 0;
                width: 400px;
                height: 385px;
                left: -25px;
                top: -18px;
            }
        }
        .clients-reviews{
            width: 50%;
            padding: 0 1rem;
        }
        .reviews-outer{
            position: relative;
        }
         .owl-nav{
             width: 100%;
             position: absolute;
             top: 5%;
            .owl-prev{
                transform: translateX(-48px);
            
            }
            .owl-next{
                transform: translateX(40px) rotate(180deg);
            }
        } 
    }
    // End looking section//

    // Start partners section //
    .partners{
        background-image: url(../img/home/dotted-globe.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        padding-bottom: 0 !important;
        padding-top: 1rem  !important;
        .partners-images{
            background-image: url(../img/home/partners-bg.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 4rem 7rem;
            margin-top: 0;
            img{
                margin-top: 0 !important;
            }
        }
    }
    // End partners section //

    
}

@media @size-xl{
    
    
    // Start banner section //
    .home-banner{
        h1{
            font-size: 32px;
        }
        .banner-container{
            .topic-list{
              a{
                p{
                    font-size: 16px;
                }
              }
            }
        }
    }
    // End banner section //

    // Start courses section //
    .courses{
        padding: @sectionPadding-xl;
        .courses-list{
            &:hover{
                .course-name {
                    transform: scale(0.9);
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        .course-name{
            transition: 1s all;
        }
    }
    // End courses section //

    // Start effects section//
    .effective{
        padding: @sectionPadding-xl;
       
        .content{
                width: 75%;
        }
        .buttons{
            width: 21%;
        }
    }
    // End effects section //

    // Start whychoose section //
    .whychoose{
        padding: @sectionPadding-xl;
    }
    // End whychoose section //
    // Start ways section //
    .ways{
        padding: @sectionPadding-xl;
        .ways-list{
            &::before{
                left: 9%;
            }
        }
        .content{
            width: 86%;
        }
    }
    // End ways section //

    // start delivery section //
    .delivery{
        padding: @sectionPadding-xl;
        .delivery-list{
            &::before{
                width: 78%;
            }
        }
        .item{
            width: 22%;
            &::after{
                animation: go 2s linear infinite;
            }
            @keyframes go {
                0%{
                    transform: translateY(0px);
                }   
                50%{
                    transform: translateY(-33px);
                }
                100%{
                    transform: translateY(0px);
                }
 
            }
        }
        h3{
            font-size: 18px;
        }
    } 
    // End delivery section //

    // Start facts section //
    .facts{
        padding: @sectionPadding-xl;
        background-image: url(../img/home/facts-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .fact-content{
            background: transparent;
            padding: 0;
            p{
                text-align: left;
            }
        }
        h2{
            text-align: left;
        }
        .facts-list{
            width: 62%;

        }
        .item{
            p{
                min-height: auto;
            }
        }
    } 
    // End facts section //

    // Start location section //
    .locations{
        padding: @sectionPadding-xl;
        .locations-container{
            justify-content: space-around;
        }
    }
    // End location section //

    // Start looking section//
    .looking{
        padding: @sectionPadding-xl;
    } 
    // End looking section //

    // Start partners section//
    .partners{
        padding: @sectionPadding-xl;
        .heading {
            width: 80%;
            margin: auto;
            margin-bottom: 1rem;
            h2{
                line-height: 1.2;
            }
        }
    }
    // End partners section//
}
@media @size-xllll{
  .facts{   
    padding: 2rem 0rem;
    margin-top: 2rem;
    background-image: linear-gradient(90deg, @darkblueColor 40%, @whiteColor 39%);
  }
}