@media @size-md{
    .home-banner{
        background-image: url(../img/master/banner-bg.png);
        position: relative;
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          background-image: url(../img/master/banner-layer.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          width: 100%;
          height: 36%;
          left: 0;
          z-index: 0;
        }
        .banner-container{
        justify-content: space-between;
        z-index: 1;
        }
    }
    .courses{
        padding: @sectionPadding-md;
        .courses-list{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .course-name{
            width: 48%;
            flex-direction: row;
            span{
                display: flex;
            }
        }
    }
    .effective{
        padding: @sectionPadding-md;
        background: transparent;
        .effective-container{
            flex-direction: row;
            justify-content: space-between;
            background: @blueGradient;
            padding: .5rem 1rem;
            border-radius: 100px;
        }
        .content{
            width: 70%;
            flex-direction: row; 
            text-align: left;
            p {
                margin-top: 0;
            }
            img {
                width: 80px;
                height: 80px;
                margin-right: 2rem;
                transform: translate(10px, -48px);
            }
        }
        .buttons{
            width: 30%;
            justify-content: flex-end;
            margin-top: 0;
        }
    
    }
    .whychoose{
        padding: @sectionPadding-md;
        .choose-list{
            flex-direction: row;
            justify-content: space-between;
        }
        .item{
            width: 30%;
            padding: 2rem;
        
        }
    }
    .ways{
        padding: @sectionPadding-md;
        .ways-container{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .ways-content{
            width: 52%;
        }
        .ways-image{
            width: 40%;
            margin-top: 0;

        }
        .item{
            &::before{
                top: 20%;
            }

        }
    }
    .delivery{
        padding: @sectionPadding-md;
        .delivery-list{
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .item{
            width: 48%;
            height: 290px;
            justify-content: flex-end;
            padding: 2rem;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-color: transparent;
            background-blend-mode: soft-light;
            &:hover{
                align-items: center;
                p{
                    text-align: center;
                }
                img{
                    transition: 1s all;
                    width: 96px;
                    height: 96px;
                }
                &:nth-child(1){
                    background-image: url(../img/home/classroom-bg.png), @blueGradient;
    
                }
                &:nth-child(2){
                    background-image: url(../img/home/led-bg.png), @blueGradient;
    
                }
                &:nth-child(3){
                    background-image: url(../img/home/paced-bg.png), @blueGradient;
    
                }
                &:nth-child(4){
                    background-image: url(../img/home/onsite-bg.png), @blueGradient;
    
                }
            }
            &:nth-child(1){
                background-image: url(../img/home/classroom-bg.png), linear-gradient(#000000,#575757);

            }
            &:nth-child(2){
                background-image: url(../img/home/led-bg.png), linear-gradient(#000000,#575757);

            }
            &:nth-child(3){
                background-image: url(../img/home/paced-bg.png), linear-gradient(#000000,#575757);

            }
            &:nth-child(4){
                background-image: url(../img/home/onsite-bg.png), linear-gradient(#000000,#575757);

            }
        }
    }
    .facts{
        padding: @sectionPadding-md;
        .item{
            width: 25%;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background-image: url(../img/home/facts-arrow.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 50px;
                height: 14px;
                right: -23px;
                top: 30px;
            
            }
            &:last-child{
                &::before{
                    content: none;
                }
            }
        }
    } 
    .locations{
        background-image: url(../img/home/map.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        .locations-container{
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .content{
            width: 50%;
        }
        .location-name{
            width: 22%;
            height: 150px;
            justify-content: space-between;
            span{
                font-size: 48px;    
                width: 54%;
            }
            img{
                width: 40px;
                height: 40px;
                margin: 0;
            
            }
            p{
                font-size: 16px;
                width: 100%;
            }
        }
    }
    .looking{
        padding: @sectionPadding-md;
        background-size: 100% 72%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url(../img/home/triangles.png);
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
            width: 382px;
            height: 318px;
            right: 0;
            z-index: 0;
            top: 62px;

        }
        .looking-container{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        .looking-for{
            width: 350px;
            border-radius: 100%;
            height: 350px;
            align-items: center;
            justify-content: center;
            padding: 2rem;
        }
        .clients-reviews{
            width: 46%;
            margin-top: 0;
        }
    }
    .partners{
        padding: @sectionPadding-md;
        .partners-images{
            img{
                margin: 0 !important;
            }
    
        }
    }
}

@media @size-lg{
    .courses{
        .course-name{
            width: 31%;
        }
    }
    .effective{
        .effective-container{
            width: 90%;
            margin: auto;
            padding: 0 4rem;
        }
        .content{
            img{
                width: 100px;
                height: 100px;
                transform: translate(10px,-30px);
            }
        }
    }
    .ways{
        background-image: url(../img/home/ways-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: transparent;
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
        .ways-content{
            width: 60%;
            align-items: flex-end;
            background-image: url(../img/home/professionals.png);
            background-repeat: no-repeat;
            background-size: 42% 72%;
            background-position: left top;

        }
        .heading{
            width: 54%;
        }
        .ways-image{
            width: 35%;
            margin-top: 2rem;
        }
        .ways-list{
            background-color: @darkblueColor;
            padding: 1.5rem;
            position: relative;
            width: 75%;
            &::before{
                content: '';
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                background-color: @whiteColor;
                z-index: 0;
                opacity: 0.3;
                left: 11%;
            }
        }
        .item{
            margin: 0;
            padding-top: 1.5rem;
            flex-direction: row;
            &:first-child{
                padding-top: 0;
            }
            span{
                 margin-right: 1rem;
            }
            &::before{
                content: none;
            }
        }
        .content{
            width: 82%;
        }
        h3{
            margin-top: 0;
            font-size: 18px;
        }
    }
    .delivery{
        .item{
            width: 24%;
            height: 320px;
        }
    } 
    .facts{
        .facts-container{
            flex-direction: row;
            justify-content: space-between;
        }
        .fact-content{
            width: 30%;
        }
        .facts-list{
            width: 68%;
            align-items: center;
        }
        .item{
            margin-top: 0;
        }
    } 
    .looking{
        .looking-for{
            background-image: url(../img/home/moon.png);
            background-size: 100% 50%;
            background-position: bottom;
            background-repeat: no-repeat;
            margin-left: 2rem;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background-image: url(../img/home/circles.png);
                background-size: 100% 100%;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 0;
                width: 400px;
                height: 385px;
                left: -16px;
            }
        }
        .clients-reviews{
            width: 50%;
            padding: 0 1rem;
            margin-top: 3rem;
        }
        .reviews-outer{
            .owl-nav {
                display: flex;
                justify-content: space-between;
                width: 100%;
                transform: translateY(-142px);

                .owl-prev, .owl-next{
                    background-repeat: no-repeat;
                    width: 32px;
                    height: 30px;
                    background-size: contain;
                    outline: none;
                    opacity: .5;
                    span {
                        display: none;
                    }
                }
                .owl-prev {
                    background-image: url('../img/home/left-arrow.png');
                    transform: translateX(-48px);
                }
                .owl-next {
                    background-image: url('../img/home/right-arrow.png');
                    transform: translateX(32px);
                }
                .btn-active {
                    opacity: 1;
                }
            }
        }
    }
    .partners{
        .partners-images{
            background-image: url(../img/home/partners-bg.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 7rem;
            margin-top: 0;
        }
    }

    
}

@media @size-xl{
    .courses{
        padding: @sectionPadding-xl;
    }
    .effective{
        padding: @sectionPadding-xl;
    }
    .whychoose{
        padding: @sectionPadding-xl;
    }
    .ways{
        padding: @sectionPadding-xl;
        .ways-list{
            &::before{
                left: 9%;
            }
        }
        .content{
            width: 86%;
        }
    }
    .delivery{
        padding: @sectionPadding-xl;
        .item{
            width: 22%;
            height: 290px;
        }
        h3{
            font-size: 18px;
        }
    } 
    .facts{
        padding: @sectionPadding-xl !important;
        background-image: url(../img/home/facts-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .fact-content{
            background: transparent;
            padding: 0;
            p{
                text-align: left;
            }
        }
        h2{
            text-align: left;
        }
        .facts-list{
            width: 62%;

        }
    } 
    .locations{
        padding: @sectionPadding-xl;
    }
    .looking{
        padding: @sectionPadding-xl;
        .reviews-outer{
            .owl-nav{
                .owl-next{
                    transform: translateX(46px);
                }
            }
        } 
    } 
}