
@media @size-md {

    // Start benefit section
.benefit{
    padding: @sectionPadding-md;
    .benefit-list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .benefit-info{
        width: 26%;
        margin-top: 0;
        align-self: flex-start;
    }
}
// End benefit section

// Start pass-clients section //

.pass-clients{
    padding: @sectionPadding-md;

    .pass-container{
        flex-direction: row;
        justify-content: space-between;
            align-items: center;
    }

    .pass-content{
        width: 51%;
    }

    .clients-pass{
        width: 40%;
        span{
            &:nth-child(1),&:nth-child(2){
                margin-top: 0;
            }
        }
    }
}

// End pass-clients section //


// Start requirement section
.requirement{
    display: flex;
    padding: @sectionPadding-md;
    background: linear-gradient(180deg, @darkblueColor 63%, transparent 20%);
    .reuqirement-container{ 
        display: flex;
        flex-direction: column;
    }
    .headline{
        text-align: center;
        color: @whiteColor;
    }
    .chart{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        box-shadow: @shadowLight;
        background-color: @whiteColor;
    }
    .chart-title{
        display: flex;
        flex-direction: row;
        padding: 1rem;
        background: @blueGradient;
        color: white;
        h3{
            width: 25%;
            text-align: center;
            &:first-child{
                width: 50%;
                text-align: left;
            }
        }
    }
    .course-list{
        display: flex;
        flex-direction: column;
        .active{
            .course-name{
                background-color: transparent;
                border-bottom: 2px solid #c0c0c0;
                .image{
                    .blue{
                        display: flex;
                    }
                    .white{
                        display: none;
                    }
                }
            }
        }
    }
    .course-content{
        display: flex;
        flex-direction: column;
    }
    .course-name{
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: @bgColor;
        border-bottom: 2px solid transparent;
        padding: 1rem;
        cursor: pointer;
        .image{
            position: absolute; 
            right: 20px;
            width: 28px;
            height: 28px;
            top: 0;
            bottom: 0;
            margin: auto;
            img{
                width: 100%;
                height: 100%;
            }
            .blue{
                display: none;
            }
            .white{
                display: flex;
            }
        }
        p,span{
            color: @lightblueColor;
            font-weight: 900;
            width: 25%;
            text-align: center;
            font-size: 18px;
        
        }
        p{
            width: 50%;
            text-align: left;
            position: relative;
            padding-left: 2rem;
            &::before{
                content: '';
                position: absolute;
                background-image: url(../img/knowledge-pass/star.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width: 20px;
                height: 22px;
                left: 0;
                top: 4px;
            }
        }

    }
    .bold{
        font-weight: 600;
    }
    .description{
        display: none;
        flex-direction: column;
        padding: 1rem;
    
    }
    .course-detail{
        display: flex;
        flex-direction: row; 
        padding-bottom: 1rem; 
    
        p{
            width: 25%;
            text-align: center;
            font-size: 16px;
            &:first-child{
                width: 50%;
                text-align: left;
            }
            &:last-child{
                display: flex;
                justify-content: space-between;
                text-align: center;
                padding: 0 2rem;
                span{
                    width: 48%;
                }
            }
        }
        .select{
            display: flex;
            justify-content: center;
            width: 25%;
            select{ 
                width: 45px;
                padding-left: 3px;
                height: 24px;
                border: 2px solid @darkblueColor;
                border-radius: 10px;
                background: url(../img/knowledge-pass/select-bg.png); 
            background-position:  right;
            background-size: contain;
            -webkit-appearance: none;
            background-repeat: no-repeat;
            outline: none;
           
            }
            option{
                color: @blackColor;
            }
        }
    }
    .summary{
        display: flex;
        padding: 1rem;
        width: 58%;
    
        p{
            font-size: 20px;
            font-weight: 700;
            width: 50%;
            &:first-child{
                border-right: 2px solid @blackColor;
                width: 27%;
                padding-right: 1rem;
                margin-right: 1rem;
            }
        }
    }
}
// End requirement section

// Start spending section //
.spending{
    padding: @sectionPadding-md;
    .spending-container{
      padding: 2rem 1rem;
      background-color: @bgColor;
    }

    .spending-list{
        flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }

    .item{
    background-color: @whiteColor;
    width: 45%;
        &::before{
            width: 325px;
            height: 83px;
        }
    }
    h3{
        font-size: 17px;
    }
}
// End spending section //

// Start right section //
.why-right{
    padding: @sectionPadding-md;


    .right-list{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .content{
         width: 75%;
         margin-left: 1rem;
         margin-top: 0;
        h2,p{
            text-align: left;
        }
        p{
            font-size: 12px
        }
        h2{
            font-size: 16px;
        }
    }

    .right-item{
        width: 45%;
      flex-direction: row;
    }
}
// End right section //

    // Start budget section
    .budget {
        padding: @sectionPadding-md;
        display: flex;
        .budget-container{
            display: flex;
            flex-direction: column;
        }
        .headline{
            text-align: center;
        }
        .budget-table{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
        }
        table{
            display: flex;
            flex-direction: column;
        }
        tbody{
            border-collapse: collapse;
        }
        tr{
            text-align: left;
            border-bottom: 2px solid #E4E4E4;
            &:last-child,&:nth-last-child(2){
                border-bottom: 0;
            }
            &:last-child{
                td{
                    background-color: transparent;
                }
            }
        }
        th{
            padding: 1rem;
            text-align: center;
            &:first-child{
                background-color: @lightblueColor;
                color: @whiteColor;
                text-align: left;
                width: 52%;
                border-top: 2px solid @lightblueColor;
            }
            &:nth-child(2){
                background-color: #F9EDE7;
                border-top: 2px solid   #BF4C17;
            ;
            }
            &:nth-child(3){
                background-color: #F7F7F7;
                border-top: 2px solid #C0C0C0;
            ;
            }
            &:nth-child(4){
                background-color: #FBF6E8;
                 border-top: 2px solid  #DAA520;

            }

        }
        td{
            padding: 1rem;
            font-size: 12px;
            img{
                width: 20px;
                height: 20px;
            }
            &:nth-child(2){
                background-color: #F9EDE7;
            }
            &:nth-child(3){
                background-color: #F7F7F7;
            }
            &:nth-child(4){
                background-color: #FBF6E8;
            }
            &:nth-child(2),&:nth-child(3),&:nth-child(4){
                text-align: center;
            }
            p{
                margin-bottom: .5rem;
            &:first-child{
                color: @lightblueColor;
                font-weight: 500;
            }
            &:nth-child(2){
                margin-bottom: 0;
            }
            }
            .buttons{
                margin-top: 0;
            }
            .btn-blue{
                font-size: 12px;
                min-width: 116px;
                img{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
    // End budget section
    
    // Start knowledge section
    .knowledge{
        padding: @sectionPadding-md;
        padding-top: 0rem!important;
        .booking-list{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .booking-info{
            width: 31%;
        }
        h3{
            min-height: 50px;
            width: 83%;
        }
    }
    // End knowledge section

    // Start study section
    .study{
        padding: @sectionPadding-md;
        .study-list{
            flex-direction: row;
            justify-content: space-between;
        }
        .study-content{
            width: 46%;
            margin-bottom: 0;
        }
    }
    // End study section
    
}

@media @size-lg {

    // Start knowledge banner section //
        .knowledge-banner{
            background-image: url(../img/knowledge-pass/banner-left.png),url(../img/knowledge-pass/banner-right.png),@blueGradient;
            background-size: contain , 50% 45%, 20% 100%;
            background-position: left,center right 38%, right;
            background-repeat: no-repeat;
            p,h1{
                color: @textColor;
            }

            .banner-container{
                 flex-direction: row;
                 justify-content: space-between;
                 align-items: center;
                 .banner-content{
                     width: 48%;
                 }
                 .banner-info{
                     display:flex;
                     width: 42%;
                     border:  4px solid @whiteColor;
                     margin-top: 0;
                 }

                 .breadcrums{
                     li{
                         color: @textColor;
                     }
                     .white{
                         display: none;
                     }
                     .black{
                         display: flex;
                     }
                 }
                 
            }

        }
    // End knowledge banner section //

    // Start benefit section
    .benefit{
        .benefit-info{
            width: 30%;
        }
    }
    // End benefit section

    // Start pass-clients section //

.pass-clients{
    .pass-content{
    width: 56%;
    }

    .clients-pass{
        position: relative;
        height: 315px;
        span{
            position: absolute;
            margin-top: 0;
            width: 120px;
             height: 110px;
            &:nth-child(1){
                top: 100px;
                left: 0;
                width: 150px;
                height: 140px;
            }
            &:nth-child(2){
                bottom: 0;
                left: 100px;
            }
            &:nth-child(3){
                top: 0;
                left: 100px;
                height: 132px;
                width: 140px
            }
            &:nth-child(4){
                top: 100px;
                right: 53px;
                z-index: -1;
                width: 150px;
                height: 130px;
            }
            &:nth-child(5){
                
                bottom: 0;
                right: 0;
            }
            &:nth-child(6){
                top: 22px;
                right: 0;
                height: 100px;
            }
        }
    }
}

// End pass-clients section //

// Start spending section //
.spending{
    .item{
         width: 30%;
        &::before{
            width: 301px;
        }
    }
    h3{
        word-break: break-all;
    }
}
// End spending section //

// Start right section //
.why-right{

    .right-item{
         width: 32%;
         align-items: flex-start;
    }
}
// End right section //

        // Start budget section
        .budget {
            .budget-table{
                box-shadow: @shadowLight;
                margin-top: 4rem;
            }
            table{
                width: 95%;
                align-self: center;
                transform: translate(0px, -25px);
            }
            td{
                .buttons{
                    margin-top: 1rem;
                }
                .btn-blue{
                    font-size: 18px;
                    min-width: 150px;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
        // End budget section

        // Start knowledge section
        .knowledge{
            .knowledge-container{
                flex-direction: row;
                justify-content: space-between;
            }
            .pass-info{
                width: 50%;
                padding-right: 5rem;
                border: 5px solid #C2C2C2;
                border-right: none;
                align-self: center;
                padding: 2.5rem;
            }
            .booking-list{
                width: 50%;
                margin-top: 0;
                justify-content: flex-start;
            }
            .booking-info{
                align-self: flex-start;
                width: 50%;
                margin-top: 0;
                &:nth-child(3){
                    background-color: @bgColor;
                }
                &:nth-child(4){
                    background-color: @whiteColor;
                }
            }

        }
        // End knowledge section

        // Start study section
        .study{
            .study-content{
                &::before{
                    height: 60px;
                }
                h2{
                    margin-top: 0;
                }
            }
        }
        // End study section

}


@media @size-xl {

    // Start knowledge-banner section //

    .knowledge-banner {
        padding-bottom: 4rem;
        box-shadow: @shadowLight;
       
    }

    // End knowledge-banner  section //

     // Start benefit section
     .benefit{
         padding: @sectionPadding-xl;
        .benefit-info{
            width: 14%;
        }
    }
    // End benefit section


    
// Start pass-clients section //
    .pass-clients{
        padding: @sectionPadding-xl;
        .clients-pass{
            width: 33%;
        }
    }
// End pass-clients section //


// Start spending section //
.spending{
    padding: @sectionPadding-xl;
    .item{
        width: 28%;
        &::before{
            width: 354px;
            left: -14px;
        }
    }
}
// End spending section //

// Start right section //
.why-right{
    padding: @sectionPadding-xl;

    .right-item{
         width: 28%;
    }
}
// End right section //

    // Start budget section
    .budget {
        padding: @sectionPadding-xl;
    }
    // End budget section

    // Start knowledge section
    .knowledge{
        padding: @sectionPadding-xl;
        .pass-info{
            width: 54%;
        }
        .booking-list{
            width: 46%;
        }

    }
    // End knowledge section

    // Start study section
    .study{
        padding: @sectionPadding-xl;
    }
    // End study section
    
}

@media @size-xlll{
 .knowledge-banner{
    background-size: contain , 32% 70%, 26% 100%;

 }
}