@media @size-md{
    // Start Banner section //
    .location-banner {
       
        &::before {
            content: none;
        }
        .banner-container {
            background-image: url(../img/location/dotted-map.png);
            background-repeat: no-repeat;
            background-position: left;
            background-size: 100% 100%;
        }
    }
    // End Banner section //

    // Start Convenient section //
    .convenient {
        padding: @sectionPadding-md;
        padding-bottom: 6rem;
        .convenient-list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 2rem;
        }
        .convenient-content {
            width: 42%;
            padding: 1rem;
            span {
                transform: rotate(45deg) translate(-31px, 32px);
            }
        }
        .largest {
            background: none;
            background-image: url(../img/location/largest-bg.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            height: 325px;
            width: 340px;
            padding: 3rem;
            align-self: center;
            position: relative;
            z-index: 1;
            margin-top: 6rem;
            &::before {
                content: '';
                z-index: -1;
                position: absolute;
                height: 430px;
                width: 430px;
                bottom: -51px;
                left: -40px;
                background-image: url(../img/location/arc-circle.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                animation: rotate 30s linear infinite;
            }
        }
    }
    // End Convenient section //

    // Start Find section //
    .find {
        padding: @sectionPadding-md;
        .find-container {
            flex-direction: row;
            justify-content: space-between;
        }
        span {
            margin-bottom: 0rem;
        }
        .content {
            width: 60%;
            h2, p {
                text-align: left;
            }
            h2 {
                margin-bottom: .5rem;
            }
        }
        .buttons {
            margin-top: 0;
            width: 22%;
        }
    }
    // End Find section //

    // Start Popular Section
    .popular {
        padding: @sectionPadding-md;
        .popular-info {
            flex-direction: row;
            justify-content: space-between;
            h2 {
                width: auto;
            }
        }
        .search {
            width: 80%;
        }
        .popular-list {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .popular-content {
            width: 44%;
            margin-right: 3rem;
            &:nth-child(2n) {
                margin-right: 0;
            }
            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                background-image: url(../img/location/polygon.png);
                background-size: cover;
                height: 79px;
                width: 88px;
                top: -9px;
                left: -16px;
            }
            .img {
                left: -6px;
                z-index: 1;
            }
        }
    }
    // End Popular Section

    // Start Buy Section
    .buy {
        display: flex;
        padding: @sectionPadding-md;
        padding-top: 1rem;
        padding-bottom: 1rem;
        .buy-container {
            display: flex;
            flex-direction: column;
        }
        .img {
            display: flex;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    // End Buy Section

    // Start Form-Map Section
    .form-map {
        padding: @sectionPadding-md;
        .form-container {
            form {
                .form-input {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .input-container {
                        width: 48%;
                        &:last-child {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    // End Form-Map Section
}
@media (min-width:768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    // Start Convenient section //
    .convenient {
        .convenient-content {
            span {
                transform: rotate(45deg) translate(-41px, 42px);
            }
        }
    }
    // End Convenient section //
}

@media @size-lg{
    // Start Banner section //
    .location-banner {
        background: none;
        background-image: url(../img/location/banner-bg.png);
        background-repeat: no-repeat;
        background-position: right;
        box-shadow: @shadowLight;
        background-size: 60% 100%;
        h1,p {
            color: @blackColor;
        }
        h1 {
            font-size: 32px;
        }
        .breadcrums {
            .black {
                display: flex;
            }
            .white {
                display: none;
            }
            ul {
                li {
                    color: @blackColor;
                }
            }
        }
       .banner-container {
        p {
            width: 44%;
        }
       }
    }
    // End Banner section //

    // Start Convenient section //
    .convenient {
        padding-bottom: 3rem;
        .convenient-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            z-index: 1;
            &::before {
                content: '';
                z-index: -1;
                position: absolute;
                background-image: url(../img/location/dotted-circle.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                height: 423px;
                width: 413px;
                right: -19px;
                top: 0;
            }
        }
        .convenient-list {
            width: 64%;
            padding-right: 0;
        }
        .convenient-content {
            width: 45%;
        }
        .largest {
            width: 34%;
            margin-top: 0;
            &::before {
                content: none;
            }
        }
    }
    // End Convenient section //

    // Start Find section //
    .find {
        .find-container {
            width: 74%;
            margin: 0 auto;
        }
    }
    // End Find section //

    // Start Popular Section
    .popular {
        .popular-content {
            width: 28%;
            margin-right: 3rem;
            &:nth-child(2n) {
                margin-right: 3rem;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    // End Popular Section

    // Start Form-Map Section
    .form-map {
        .form-container {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            form {
                width: 50%;
                position: relative;
                z-index: 1;
                background-image: url(../img/location/form-img.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                &::before, &::after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    right: -16px;
                    width: 0;
                    height: 0;
                    border-right: 16px solid transparent;
                }
                &::before {
                    top: 0;
                    border-bottom: 16px solid #C0C0C0;
                }
                &::after {
                    bottom: 0;
                    border-top: 16px solid #C0C0C0;
                }
            }
            .map {
                width: 50%;
                margin-top: 0;
                height: 490px;
            }
        }
    }
    // End Form-Map Section
    
}

@media @size-xl {

    // Start Convenient section //
    .convenient {
        padding: @sectionPadding-xl;
        .convenient-container {
            &::before {
                height: 497px;
                width: 446px;
                right: -68px;
                top: -32px;
            }
        }
        .convenient-list {
            width: 55%;
        }
        .largest {
            width: 30%;
            height: 350px;
            padding: 3.5rem;
            &::before {
                content: '';
                height: 450px;
                width: 450px;
                left: -44px;
            }
        }
    }
    // End Convenient section //

    // Start Popular Section
    .popular {
        .popular-content {
            width: 22%;
            &::before {
                left: -13px;
            }
            &:nth-child(3n) {
                margin-right: 3rem;
            }
            &:nth-child(4n) {
                margin-right: 0;
            }
            .img {
                left: -3px;
            }
        }
    }
    // End Popular Section

    // Start Buy Section
    .buy {
        padding: @sectionPadding-xl;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    // End Buy Section

    // Start Form-Map Section
    .form-map {
        padding: @sectionPadding-xl;
        .form-container {
            form {
                &::before, &::after {
                    right: -14px;
                    border-right: 14px solid transparent;
                }
                &::before {
                    top: -1px;
                    border-bottom: 14px solid #C0C0C0;
                }
                &::after {
                    bottom: -1px;
                    border-top: 14px solid #C0C0C0;
                }
            }
        }
    }
    // End Form-Map Section
}