@size-md: ~"(min-width : 768px)"; // 768
@size-lg: ~"(min-width : 1024px)"; // 1024
@size-xl: ~"(min-width : 1366px)"; //1366
@size-xll: ~"(min-width : 1500px)"; // 1500
@size-xlll: ~"(min-width : 1600px)"; // 1600
@size-xllll: ~"(min-width : 1800px)"; // 1800
@size-xlllll: ~"(min-width : 1900px)"; // 1900

@media @size-md {
  //Start buttons
      .buttons {
        .btn-blue, .btn-white{
          font-size: 16px;
        }
      }
  //End buttons

    //Start navbar //
  
    .navbar {
      width: 100%;
  
      ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0.8rem;
        width: 100%;
        background: @blueGradient;
        order: 2;

        .links-li {
          display: flex!important;
          flex-direction: column;
          border-bottom: none;
          margin-right: 0.5rem;
          padding: 0;
          color: @blackColor;
          font-weight: 500;

          &:last-child {
            margin-top: 0;
            margin-right: 0;
            margin-left: auto;
            width: 140px;
            flex-direction: row;
        
          }

          .link {
            font-weight: 600;
            transition: none;
            color: @whiteColor;
            padding-bottom: 3px;
          }
          span{
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgb(23 50 97) 49%, rgba(5,106,185,1) 57%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 69%, rgb(23 50 97) 69%, rgb(23 50 97) 77%, rgba(255,255,255,1) 77%, rgba(255,255,255,1) 88%, rgb(23 50 97) 88%, rgba(255,255,255,1) 88%);;
            width: 0;
            height: 3px;
            visibility: hidden;
            transition: 1s all;
          }
          &:hover {
            span{
              width: 100%;
              visibility: visible;
              transition: 1s all;
            }
          }
        }

        .buttons {
          .btn-white {
            margin-right: 1rem;
            padding: .5rem;
            min-width: 40px;
            height: 40px;
            img{
              margin-right: 0;
            }
            &:last-child{
              margin-right: 0;
            }
          }
        }
      }
      .top-bar{
        display: flex;
        width: 100%;
        background: @whiteColor!important;
        order: 1;
        justify-content:flex-start;
        .buttons{
            display: flex;
            margin-top: 0;
            margin-left: auto;
            .btn-blue{
            border-radius: 20px;
            }
        }
        li{
          display: flex;
          align-items: center;
          &:nth-child(2){
            span{
              margin-right: 0;
            }
          }
          span{
            display: flex;
            width: 40px;
            height: 40px;
            background-color: @whiteColor;
            border-radius: 50%;
            margin-right: 20px;
            padding: 8px;
            box-shadow: @shadowLight, 2px -2px 0 #1C2848;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .info{
            display: none;
          }
        }
    }
      .container {
       padding: 0;
       position: relative;
       z-index: 1;
       &::before{
         content: '';
         position: absolute;
         z-index: -1;
         width: 100%;
         height: 73px;
         background-image: url(../img/master/nav-bg.png);
         background-size: 100% 100%;
         bottom: -7px;
         background-repeat: no-repeat;
       }
      }
      .bpt-logo{
          padding: 1rem;
          align-items: center;
          display: flex;
          justify-content: center;
          width: 30%;
          background: linear-gradient(#E2E2E2 , #ffffff);
        }
      .menu{
        display: none;
      }
      
      .menu-links {
        width: 71%;
        display: flex;
        align-items: center;
        position: relative;
        .menu-toggle {
          display: none;
        }

        
      }
  
    }
    //End navbar //

    //Start banner //
    .banner {
      padding: @sectionPadding-md;
      background-image: url(../img/master/banner-bg.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-color: transparent;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        background-image: url(../img/master/banner-layer.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 36%;
        left: 0;
        z-index: 0;

      }
      .banner-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 0;
        padding-top: 3rem;
        z-index: 1;
          .banner-content{
            align-items: flex-start;
            width: 50%;
          }
          .topic-list{
            width: 46%;
            margin-top: 0;
          }
      }
    } 
    //End banner //

    //Start footer
    .footer{
      padding: @sectionPadding-md;
      .footer-content{
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
      }
      .content{
          width: 48%;
      }
  }
    //End footer

}

@media @size-lg {
      //Start navbar //
      .navbar {
          .top-bar{
            li{
              &:first-child{
                margin-right: 1.5rem;
              }
              span{
                margin-right: 10px!important;
                min-width: 40px;
              }
              .info{
                display: flex;
                flex-direction: column;
                width: 81%;
                p{
                    font-size: 18px;
                    font-weight: 700;
                }
                a{
                  font-size: 14px;
                  font-weight: 500;

                }
              }
            }
          }
          .menu {
            display: none;
          }
          .menu-links{
          width: 70%;
          }
      }
    //End navbar //
    
    //Start banner //
    .banner {
      &::before {
        height: 56%;
      }
      .banner-container {
          .banner-content{
            width: 55%;
          }
          .topic-list{
            width: 40%;
            a{
              p{
                width: 70%;
              }
            }
          }
      }
      .search {
          width: 76%;
      }
    } 
    //End banner //

    //Start footer
    .footer{
      background: linear-gradient(0deg, @darkblueColor 80%, @whiteColor 48%);
      padding-top: 0;
    
      .content{
          width: 25%;
          padding-right: 1.2rem;
          margin-bottom: 0;
          &:last-child{
              padding-right: 0;
          }
      }
      .footer-content{
          background-image: url('../../../img/master/footer-bg.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top;
          background-color: transparent;
          padding: 0rem 2rem;
          padding-top: 5rem;
          padding-bottom: 2rem;
      }
  }
    //End footer

}




@media @size-xl {
    .container {
      width: 1200px;
      margin: 0 auto;
    }
    
  //Start buttons
  .buttons {
    .btn-blue, .btn-white{
      font-size: 18px;
    }
  }
//End buttons
    // Start heading //
    .heading {
      h2{
          font-size: 32px;
      }
      span{
          font-size: 32px;
      }
  }
  // End heading //
    //Start navbar //
    .navbar {
      
      ul {
        .links-li {
          margin-right: 2rem;
  
        }
      }
      }
    //End navbar//
      
    //Start footer
    .footer{
      padding: 0;
      .footer-content{
          padding-top: 6rem;
          padding-bottom: 3rem;

      }
      .links,.blog{
          width: 20%;
      }
      .contact-us{
          align-items: center;
          justify-content: center;
          display: flex;
          flex-direction: column;
          position: relative;
          width: 30%;
          &::before,&::after{
              content: '';
              background-image: url('../../../img/master/footer-circle.png');
              background-repeat: no-repeat;
              background-size: cover;
              width: 100%;
              height: 100%;
              top: 0;
              position: absolute;
              
          }
          &::after{
              background-image: url('../../../img/master/footer-circle-outer.png');
          }
          h2{
              font-size: 32px;
          }
          ul{
              width: 80%;
              margin: 0 auto;
          }
      }
  }
    //End footer

}
