@size-md: ~"(min-width : 768px)"; // 768
@size-lg: ~"(min-width : 1024px)"; // 1024
@size-xl: ~"(min-width : 1366px)"; //1366
@size-xll: ~"(min-width : 1500px)"; // 1500
@size-xlll: ~"(min-width : 1600px)"; // 1600
@size-xllll: ~"(min-width : 1800px)"; // 1800
@size-xlllll: ~"(min-width : 1900px)"; // 1900

@media @size-md {
 
  //Start buttons
      .buttons {
        .btn-blue, .btn-white{
          font-size: 16px;
        }
      }
  //End buttons

  
    //Start cookie
      .cookie-div{
        bottom: 0px;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;
        align-items: center;
    
        p{
          width: 70%;
          text-align: left;
        }
        .buttons{
          width: 25%;
          margin-top: 0;
          justify-content: flex-end;
        }
    }
  //End cookie
    //Start navbar //
  
    .navbar {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      .container{
        padding: 1rem 2rem;
        .menu.active {
          &+.menu-links {
              width: 50%;
          }
      }
      }
  
    }
    //End navbar //

    //Start banner //
    .banner {
      padding: @sectionPadding-md;
      padding-top: 6rem !important;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: transparent;
      z-index: 4;
      padding-bottom: 3rem;
      box-shadow: @shadowLight;
      .banner-container {
        padding: 0;
          .banner-content{
            align-items: flex-start;
            width: 50%;
          }
      }
    } 
    //End banner //

    //Start footer
    .footer{
      padding: @sectionPadding-md;
      .terms{
        width: 80%;
        text-align: center;
        padding-bottom: 1rem;
      }
      .footer-content{
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
      }
      .content{
          width: 48%;
      }
  }
    //End footer
  
    // bottom bar
    .bottom-bar{
      display: none;
    }
    //end bottom bar


    // Start popup
    .enquiry-popup{
      padding: @sectionPadding-md;
      .enquire-popup{
        width: 355px;
        margin: auto;
          .cross{
            &:after{
              content: '';
              position: absolute;
              right: -28px;
              top: -4px;
              background-image: url(../img/master/cross-bg.png);
              background-size: 100% 100%;
              background-repeat: no-repeat;
              height: 31px;
              width: 27px;
            }
        
            
          }
      }
      .form{
          box-shadow: none;
          width: 100%;
          padding: 0;

          .heading{
              padding-top: 0;
              margin-top: -2rem;
          }
          .form-input{
              justify-content: center;
              padding-top: 3rem;
          }
      }
  }
  // End popup

  // Start top-arrow{
    .up-arrow{
      right: 32px;
      bottom: 68px;
}
// end top-arrow

  // Start no-schedule
  .no-schedule{
    width: 70%;
    margin: auto;
    margin-top: 2rem;
  }
  // no-schedule

  //Start Sticky
  .sticky{
    .country-list{    
          top: 60px;
      }
      
}
  //End sticky

}

@media @size-lg {
  //Start banner
  .banner{    
    padding-top: 11rem !important;
  }
  //End banner

      //Start breadcrums

    .black-breadcrums {
      li{
        color: @textColor;
      }
      .black{
        display: flex;
      }
      .white{
        display: none;
      }
    }


      //Start navbar //
      .navbar {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
          .container{
            padding: 0;
            position: relative;
            z-index: 1;
            align-items: inherit;
            
            &::before{
              content: '';
              position: absolute;
              z-index: -1;
              width: 100%;
              height: 73px;
              background-image: url(../img/master/nav-bg.png);
              background-size: 100% 100%;
              bottom: -7px;
              background-repeat: no-repeat;
            }
            .menu.active {
              &+.menu-links {
                  width: 50%;
              }
          }
          
          }
          .menu-list{
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0.8rem;
            width: 100%;
            background: @blueGradient;
            order: 2;
            position: relative;
            .links-li{
              display: flex!important;
              flex-direction: column;
              border-bottom: none;
              margin-right: 0.5rem;
              padding: 0;
              color: @blackColor;
              font-weight: 500;
              position: relative;

              &:last-child {
                margin-top: 0;
                margin-right: 0;
                margin-left: auto;
                width: 140px;
                flex-direction: row;
            
              }
              .link{
                font-weight: 600;
                transition: none;
                color: @whiteColor;
                padding-bottom: 3px;
                padding-bottom: 0;
                i{
                  display: none;
                }

              }
              .mobile{
                display: none;
              }
              .desktop{
                display: flex;
                img{
                  display: flex;
                  height: 10px;
                  width: 10px;
                  margin-left: 5px;
                  transform: rotate(180deg);
                  transition: .6s ease;
                }
              }
              .desktop.active{
                img{
                  transform: rotate(360deg);
                  transition: .6s ease;
                }
              }
              .cart{
                position: relative;
                p{    
                  position: absolute;
                  color: @darkblueColor;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  top: -7px;
                  font-weight: 800;
                  right: -7px;
                  width: 17px;
                  background-color: white;
                  font-size: 14px;
                  height: 17px;
                  border-radius: 2px;
                }
              }
            span{
              background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgb(23 50 97) 49%, rgba(5,106,185,1) 57%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 69%, rgb(23 50 97) 69%, rgb(23 50 97) 77%, rgba(255,255,255,1) 77%, rgba(255,255,255,1) 88%, rgb(23 50 97) 88%, rgba(255,255,255,1) 88%);;
              width: 0;
              height: 3px;
              visibility: hidden;
              transition: 1s all;
              position: absolute;
              bottom: -7px;
              left: 0;
            }
            &:hover {
              span{
                width: 100%;
                visibility: visible;
                transition: 1s all;
              }
            }
            }
            
          .buttons {
            .btn-white {
              margin-right: 1rem;
              padding: .5rem;
              min-width: 40px;
              height: 40px;
              img{
                margin-right: 0;
              }
              &:last-child{
                margin-right: 0;
              }
            }
          }
            
            #aboutdropdown.active{
              .link{
                img{
                  transform: rotate(360deg);
                  transition: .6s ease-in-out;
                  
                }
              }
                ul{
                  display: flex !important;
                  transition: 1s ease-in-out;
                }
            }
          }
          .bpt-logo{
              padding: 0.8rem;
              align-items: center;
              display: flex;
              justify-content: center;
              width: 30%;
              background: linear-gradient(#E2E2E2 , #ffffff);
            }
          .menu{
            display: none;
          }
          .menu-links{
            width: 71%;
            display: flex;
            align-items: center;
            position: relative;
            .menu-toggle {
              display: none;
            }
          }
          
            .top-bar{
              display: flex;
              width: 100%;
              background: @whiteColor!important;
              order: 1;
              justify-content:flex-start;
              padding: 0.8rem;
              .buttons{
                  display: flex;
                  margin-top: 0;
                  margin-left: auto;
                  
              }
              li{
                display: flex;
                align-items: center;
                span{
                  display: flex;
                  width: 40px;
                  height: 40px;
                  background-color: @whiteColor;
                  border-radius: 50%;
                  margin-right: 20px;
                  padding: 8px;
                  min-width: 40px;
                  box-shadow: @shadowLight, 2px -2px 0 #1C2848;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
                .info{
                        display: flex;
                        flex-direction: column;
                        width: 81%;
                        p{
                            font-size: 18px;
                            font-weight: 700;
                        }
                        a{
                          font-size: 14px;
                          font-weight: 500;
            
                        }
                      }
                      &:first-child{
                        margin-right: 1rem;
                      }
              }
          }
        .country-list {
          display: none;
          flex-direction: column;
          background: @whiteColor;
          box-shadow: @shadowLight;
          padding: 1rem;
          position: absolute;
          top: 127px;
          right: 0;
          width: 240px;
          max-height: 180px;
          overflow-y: scroll;
          .flag{
            margin-right: .5rem;
          }
          li {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
            padding-bottom: 0.4rem;
            border-bottom: 1px solid @greyColor;
            &:last-child {
              margin-bottom: 0;
              padding-bottom: 0;
              border-bottom: none;
            }
            a {
              display: flex;
              align-items: center;
              justify-content: space-between;
              img {
                height: 30px;
                width: 30px;
              }
              p {
                width: calc(100% - 50px);
                font-size: 14px;
                color: @darkblueColor;
              }
            }
          }
        }
        .flag {
          background-image: url(../img/master/flags.png);
          background-repeat: no-repeat;
          width: 20px;
          height: 12px;
        }
        .country-active {
          display: flex;
        }
      }
      .dropdown-menu {
        width: 100%;
        position: absolute;
        left: 0;
        top: 140px;
        z-index: 5;
        .dropdown-list{
            display: flex;
            justify-content: space-between;
            box-shadow: @shadowLight;   
            border-bottom-right-radius: 100px;
            border-bottom-left-radius: 100px;
        }
        h3{
          color: @blackColor;
          border-bottom: 2px solid #E2E2E2;
          padding-bottom: .7rem;
          margin-bottom: 1rem;
          width: 70%;
          font-size: 22px;
        }
        .category-menu {
            display: flex;
            flex-direction: column;
            background-color: @darkblueColor;
            width: 32%;
            z-index: 1;
            padding: 1.5rem;
            padding-right: 0;
            border-bottom-left-radius: 22px;
            h3{
              color: @whiteColor;
            }
            a {
                display: flex;
                align-items: center;
                color: @whiteColor;
                font-size: 16px;
                font-weight: bold;
                &:hover {
                    cursor: pointer;
                }
                span{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 60px;
                  width: 60px;
                  margin-right: 1rem;
                  .blue{
                    display: none;
                  }
                  img{
                    height: 30px;
                    width: 30px;
                  }
                }
                p{
                  color: @whiteColor;
                  width: 72%;
                }
            }
            .topic-active {
              background: linear-gradient(#cccccc, #cfcfcf);
                color: @blackColor;
                position: relative;
                span{
                  background-color: #C2C2C2;
                  .white{
                    display: none;
                  }
                  .blue{
                    display: flex;
                  }
                }
                p{
                  color: @blackColor;
                }
                &::before {
                  content: '';
                  position: absolute;
                  width: 62px;
                  height: 60px;
                  right: -27px;
                  top: 0;
                  background-image: url('../img/master/arrow-grey.png');
                  background-repeat: no-repeat;
                  background-size: 100% 100%;
                  z-index: -1;
                }
            }
        }

        .topic-menu {
          display: flex;
          flex-direction: column;
          width: 34%;
          background-color: @bgColor;
          .course-content {
              display: flex;
              flex-direction: column;
              padding: 1.5rem;
              padding-left: 2rem;
              padding-right: 0;
             .course {
              display: flex;
              flex-direction: column;
              h3{
                color: @blackColor;
                align-self: flex-start;
              }
              a {
                display: flex;
                align-items: center;
                  font-size: 16px;
                  font-weight: bold;
                  text-align: left;
                 span{
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   height: 60px;
                   width: 60px;
                   margin-right: 1rem;
                   .white{
                     display: none;
                   }
                   img{
                    height: 30px;
                    width: 30px;
                  }
                 }
                 p{
                   width: 72%;
                 }
              }
              .course-active {
                background: linear-gradient(#0064D8,#00326C);
                color: @whiteColor;
                position: relative;
                span{
                  background-color: #2674CF;
                  .white{
                    display: flex;
                  }
                  .blue{
                    display: none;
                  }
                }
                p{
                  color: @whiteColor;
                }
                &::before {
                  content: '';
                  position: absolute;
                  width: 45px;
                  height: 60px;
                  right: -25px;
                  top: 0;
                  background-image: url(../img/master/dropdown-blue.png);
                  background-repeat: no-repeat;
                  background-size: 100% 100%;
                  z-index: 0;
                }
              }
             }
            
          }
        }
       
        .course-menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 34%;
            padding: 1.5rem;
            padding-left: 2rem;
            padding-right: 0;
            border-bottom-right-radius: 100px;
            background-color: @whiteColor;
               .menu-info {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                a {
                    width: 100%;
                    padding: 7px;
                    font-size: 14px;
                    font-weight: bold;
                    position: relative;
                    padding-left: 30px;
                    cursor: pointer;
                    &::before{
                      content: '';
                      position: absolute;
                      left: 0;
                      background-image: url('../img/master/blue-circle.svg');
                      background-repeat: no-repeat;
                      background-size: contain;
                      background-position: top;
                      width: 22px;
                      height: 22px;
                    }
                }
               }
               .menu-content{
                 display: flex;
                 flex-direction: column;
               }
               .buttons{
                 justify-content: flex-start;
                 .btn-blue{
                   img{
                     margin-right: 0;
                     margin-left: 5px;
                   }
                 }
               }
        }
    }

    //End navbar //

    

    //Start banner //
    .banner {
      &::before {
        height: 56%;
      }
      .banner-container {
          .banner-content{
            width: 55%;
          }
      }
      .search {
          width: 76%;
      }
    } 
    //End banner //

    //Start footer
    .footer{
      background: linear-gradient(0deg, @darkblueColor 80%, @whiteColor 48%);
      padding-top: 0;
      .content{
          width: 25%;
          padding-right: 1.2rem;
          margin-bottom: 0;
          &:last-child{
              padding-right: 0;
          }
      }
      .footer-content{
          background-image: url('../img/master/footer-bg.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top;
          background-color: transparent;
          padding: 0rem 2rem;
          padding-top: 5rem;
          padding-bottom: 2rem;
      }
      .links{
        width: 23%;
      }
      .blog{
        width: 27%;
      }
  }
    //End footer

}

@media @size-xl {
    .container {
      width: 1200px;
      margin: 0 auto;
    }
    
  //Start buttons
  .buttons {
    .btn-blue, .btn-white{
      font-size: 18px;
    }
  }
//End buttons
    // Start heading //
    .heading {
      h2{
          font-size: 32px;
      }
      span{
          font-size: 32px;
      }
  }
  // End heading //
    //Start navbar //
    .navbar {
      
      .menu-list {
        .links-li {
          margin-right: 1rem;
  
        }
      }
      }
    //End navbar//
      
    
  //Start banner
  .banner{    
    padding-left: 0;
    padding-right: 0;
  }
  //End banner
    //Start footer
    .footer{
      padding: 0;
      h2{
        font-size: 26px;
      }
      .logo-image {
        width: 260px;
      }
      .footer-content{
          padding-top: 6rem;
          padding-bottom: 3rem;

      }
      .links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 20%;
        a{
          width: 100%;
        }
      }
      
      .blog{
        width: 25%;
      }
      .contact-us{
          align-items: center;
          justify-content: center;
          display: flex;
          flex-direction: column;
          position: relative;
          width: 30%;
          padding: 3.5rem 2rem;
          &:last-child{
            padding-right: 2rem;
          }
          &::before,&::after{
              content: '';
              background-image: url('../../../img/master/footer-circle.png');
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              width: 90%;
              height: 90%;
              top: 15px;
              position: absolute;
              z-index: 0;
             
              
          }
          &::after{
              background-image: url('../../../img/master/footer-circle-outer.png');
              width: 100%;
              height: 100%;
              top: 0px;
              right: 0 ;
          }
          &::before {
              right: 17px ;
          }
        
      
       
          ul{
              width: 70%;
              margin: 0 auto;
              z-index: 1;
            
          }
          li{
            margin-bottom: 0.5rem;
          }
          h2{
            text-align: center;
          }
      }
  }
    //End footer

    // Start social
    .tooltips{
      display: flex;
      position: fixed;
      bottom: 40%;
      left: -125px;
      z-index: 5;
      ul{
          display: flex;
          flex-direction: column;
      }
      li{
          display: flex;
          justify-content: flex-end;
          color: #fff;
          background-color: @darkblueColor;
          font-size: 14px;
          padding: 14px 12px;
          width: 100%;
          box-shadow: 0 0 4px @whiteColor;
          margin-bottom: .5rem;
          border-radius: 0px 30px 30px 0px;
          transition: 1s all;
  
          img{
              width: 25px;
              height: 25px;
              margin-left: 1rem;
          }
          &:hover{
                  -webkit-transform: translate(123px, 0);
                  -moz-transform: translate(123px, 0);
                  -ms-transform: translate(123px, 0);
                  -o-transform: translate(123px, 0);
                  transform: translate(123px, 0);
                  img{
                              transform: rotate(360deg);
                              transition: all 1s;
                  }
          }
      }
      a{
          display: flex;
          align-items: center;
      }
      }
      // End social

}
