@media @size-md{
        // Start offer-Banner section //
        .offer-banner {
            padding: @sectionPadding-md;
            padding-top: 1rem;
        }
        // End offer-banner section

}

@media @size-lg{

    // Start offer-Banner section //
    .offer-banner {
        background-image: url(../img/offer/banner-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        
    }
    // End offer-banner section
}

@media @size-xl{

}