@media @size-md{
        // Start offer-Banner section //
        .offer-banner {
            padding: @sectionPadding-md;
            padding-top: 1rem!important;
            background-image: none;
            &::before{
                content: none;
            }
            .banner-container{
                flex-direction: column;
            }
        }
        // End offer-banner section

        // Start bundle section
        .bundle{
            padding: @sectionPadding-md;
            .bundle-list{
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .project-bundle{
                width: 48%;
            }
            .bundles-info{
                display: flex;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        // End bundle section

        // Start management section
        .management{
            padding: @sectionPadding;
            .management-bundles{
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            .bundle-info{
                width: 45%;
                background-image: url(../img/offer/bundle-bg.png);
                background-position: center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            ul{
                width: 50%;
            }
            .buttons{
                margin-top: 0;
            }
        }
        // End management section

        //Start recommend section
        .recommend{
            padding: @sectionPadding-md;
            background-color: transparent;
            background-image: url(../img/offer/recommend-bg.png);
            .recommend-info{
                flex-direction: row;
                justify-content: space-between;
            }
            p{
                text-align: left;
                width: 38%;
            }
            input{
                width: 35%;
            }
        }
        // End recommend section

}

@media @size-lg{

    // Start offer-Banner section //
    .offer-banner {
        background-image: url(../img/offer/banner-bg.png);
        background-repeat: no-repeat;
        background-size: 50% 100%;
        background-position: right;
        .banner-container{
            width: 50%;
        }
        
    } 
    // End offer-banner section

    // Start bundle section
    .bundle{
        .bundle-container{
            flex-direction: row;
            justify-content: space-between;
        }
        .range{
            width: 50%;
        }
        .top-bundles{
            margin-top: 0;
            width: 45%;
        }
    }
    // End bundle section

    //Start recommend section
    .recommend{
        .heading{
            justify-content: flex-start;
            align-items: flex-start;
            h2{
                text-align: left;
            }
        }
        input{
            width: 35%;
        }
    }
    // End recommend section
}

@media @size-xl{

    // Start offer-Banner section //
    .offer-banner {
        padding: @sectionPadding-xl;
        
    } 
    // End offer-banner section

    // Start bundle section
    .bundle{
        padding: @sectionPadding-xl;
        .range{
            width: 55%;
        }
        .top-bundles{
            width: 40%;
        }
    }
    // End bundle section

    //Start recommend section
    .recommend{
        padding: @sectionPadding-xl;
    }
    // End recommend section

}