@media @size-md{
        // Start offer-Banner section //
        .offer-banner {
            padding: @sectionPadding-md;
            padding-top: 1rem!important;
        }
        // End offer-banner section

        // Start bundle section
        .bundle{
            padding: @sectionPadding-md;
            .bundle-list{
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .project-bundle{
                width: 48%;
            }
            .bundles-info{
                display: flex;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        // End bundle section

        // Start management section
        .management{
            padding: @sectionPadding;
            .management-bundles{
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            .bundle-info{
                width: 48%;
            }
            ul{
                width: 100%;
            }
        }
        // End management section

        //Start recommend section
        .recommend{
            padding: @sectionPadding-md;
            background-color: transparent;
            background-image: url(../img/offer/recommend-bg.png);
            .heading{
                &::before{
                    right: inherit;
                }
                h2{
                    text-align: left;
                }
            }
            .recommend-info{
                flex-direction: row;
                justify-content: space-between;
            }
            p{
                text-align: left;
                width: 38%;
            }
            input{
                width: 35%;
            }
            .buttons{
                margin-top: 0;
            }
        }
        // End recommend section

        //Start new-bundle section
.new-bundle{
    padding: @sectionPadding-md;
    .new-bundle-container{
        display: flex;
        flex-direction: row;
    }
    .inform-us{
        display: flex;
        .inform-content{
            display: flex;
        }
        p{
            font-weight: bold;
        }
        .inform-list{
            display: flex;
            flex-direction: column;
        }
        .inform-item{
            display: flex;
            margin-top: .7rem;
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                background: @blueGradient;
                height: 40px;
                width: 40px;
                border-radius: 50px;
                padding: .6rem;
                margin-right: .5rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .latest-bundles{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        align-items: flex-start;
    }
}
// End new-bundle section

}

@media @size-lg{

    // Start offer-Banner section //
    .offer-banner {
        background-image: url(../img/offer/banner-bg.png);
        background-repeat: no-repeat;
        background-size: 50% 100%;
        background-position: right;
        .banner-container{
            width: 50%;
        }
        
    } 
    // End offer-banner section

    // Start bundle section
    .bundle{
        .bundle-container{
            flex-direction: row;
            justify-content: space-between;
        }
        .range{
            width: 50%;
        }
        .top-bundles{
            margin-top: 0;
            width: 45%;
        }
    }
    // End bundle section

    //Start recommend section
    .recommend{
        .heading{
            justify-content: flex-start;
            align-items: flex-start;
            h2{
                text-align: left;
            }
        }
        input{
            width: 35%;
        }
    }
    // End recommend section
    
    // Start management section
    .management{
        .bundle-info{
            width: 48%;
            background-image: url(../img/offer/bundle-bg.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 4rem 3rem;
            box-shadow: none;
            position: relative;
            span{
                position: absolute;
                background-image: url(../img/offer/offer-bg.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 140px;
                height: 110px;
                color: @whiteColor;
                padding: 1rem 1.5rem;
                right: 0;
                top: 0;
            }
        }
        h3{
            width: 62%;
        }
        ul{
            width: 55%;
        }
        .buttons{
            width: 42%;
            justify-content: flex-end;
            align-items: flex-end;
            margin-top: 0;
        
        }
    }
    // End management section
}

@media @size-xl{

    // Start offer-Banner section //
    .offer-banner {
        padding: @sectionPadding-xl;
        
    } 
    // End offer-banner section

    // Start bundle section
    .bundle{
        padding: @sectionPadding-xl;
        .range{
            width: 55%;
        }
        .top-bundles{
            width: 40%;
        }
    }
    // End bundle section

    //Start recommend section
    .recommend{
        padding: @sectionPadding-xl;
    }
    // End recommend section

    // Start management section
    .management{
        padding: @sectionPadding-xl;
        .bundle-info{
            padding-left: 4rem;
        }
    } 
    // End management section
}