@media @size-md{

    // Start training section
    .onsite-training{
        padding:@sectionPadding-md;
        .training-map{
            width: 75%;
            align-self: center;
        }
    }
    // End training section

    // Start doorstep section
    .doorstep{
        padding: @sectionPadding-md;
        .form{
            padding: 2rem;
        }
        .input-container{
            width: 48%;
        }
        .info{
            .info-list{
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            .item{
                width: 48%;
            }
            .item-info{
                width: 100%;
            }
        }
    }
    // End doorstep section

    // Start choose section
    .choose {
        padding: @sectionPadding-md;
        .choose-list{
            flex-direction: row;
            flex-wrap: wrap; 
            justify-content: center;
        }
        .choose-item{
            width: 48%;
            padding-right: 1.5rem;
         
        }
    }
    // End choose section

    //Start solution section
    .solution{
        padding: @sectionPadding-md;
        background-image: url(../img/onsite/solution-bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        .solution-list{
            background-image: url(../img/onsite/bg-line.png);
            background-size: 70% 35%;
            background-repeat: no-repeat;
            background-position: center;
        }
        .solution-item{
            width: 25%;
        }

    }
    // End solution section

}

@media @size-lg{
    // Start banner section
    .onsite-banner{
        background-color: transparent;
        background-image: url(../img/onsite/banner-bg.png);
        .banner-container{
            width: 48%;
        }
    }
    // End banner section

    // Start training section
    .onsite-training{
        .training-container{
            flex-direction: row;
            justify-content: space-between;
        }
        .training-info{
            width: 45%;
            align-items: flex-start;
            .heading{
                &::before{
                    right: inherit;
                }
                h2{
                    text-align: left;
                }
            }
        }
        p{
            text-align: left;
        }
        .delegate{
            width: 49%;
            margin-top: 0;
            
        }
       
        .training-map{
            width: 100%;
        }
    }
    // End training section

    // Start doorstep section
    .doorstep{
        .doorstep-container{
            flex-direction: row;
        }
        .form{
            width: 50%;
        }
        .info{
            padding: 3rem 1.5rem;
            box-shadow: @shadowLight;
            align-self: center;
            width: 50%;
            background-image: url(../img/onsite/information-bg.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            margin-top: 0;
            .item{
                width: 100%;
                margin-top: 2.5rem;
            }
        }
    }
    // End doorstep section

    // Start choose section
    .choose {
        .choose-item{
            width: 33%;
          
          
         
            p {
                min-height: 76px;
            }
        }
    }
    // End choose section
    //Start solution section
    .solution{
        margin-bottom: 4rem;

    }
    // End solution section
}

@media @size-xl{
    // Start banner section
    .onsite-banner{
        .banner-container{
            width: 60%;
        }
    }
    // End banner section

    // Start training section
    .onsite-training{
        padding: @sectionPadding-xl;
        padding-bottom: 5rem;
        .training-info{
            width: 48%;
        }
        .delegate {
            position: relative;
            .heading {
                justify-content: flex-start;
                align-items: flex-start;
                width: 62%;
                h2 {
                    text-align: left;
                }
            }
        }
        .trained-bg {
            display: flex;
            flex-direction: column;
            background-image: url(../img/onsite/trained-bg.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: .5rem 1rem;
            width: 37%;
            position: absolute;
            right: 0;
            top: 22px;
            h3, p {
                color: @whiteColor;
                text-align: center;
            }
            h3 {
                margin-bottom: .5rem;
            }
        }
    }
    // End training section
    
    // Start doorstep section
    .doorstep{
        padding: @sectionPadding-xl;
      padding: 2rem 0rem;
	padding-top: 2rem;
	background-image: url(../img/onsite/information-bg.png);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: right bottom;
    box-shadow: 0px 0px 10px #dddddd;
	margin-top: 6rem;
    
        .doorstep-container{
            position: relative;
            padding: 1.5rem;
            padding-top: 0;
        }
        .form{
            position: absolute;
            left: 0px;
            top: -70px;
        }
        .info{
            box-shadow: none;
            padding: 0;
            background-image: none;
            margin-left: auto;
            width: 45%;
        }
    }
    // End doorstep section

    // Start choose section
    .choose {
        padding: @sectionPadding-xl;
        padding-top: 6rem;
        .choose-item{
            width: 25%;
        
        }
    }
    // End choose section

    //Start solution section
    .solution{
        padding: @sectionPadding-xl;
    }
    // End solution section
}

@media @size-xll {
    
}