@media @size-md{

    // Start training section
    .onsite-training{
        padding:@sectionPadding-md;
        .training-map{
            width: 75%;
            align-self: center;
        }
    }
    // End training section

    // Start doorstep section
    .doorstep{
        padding: @sectionPadding-md;
        .form{
            padding: 2rem;
        }
        .input-container{
            width: 48%;
        }
        .info{
            .info-list{
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            .item{
                width: 48%;
            }
            .item-info{
                width: 100%;
            }
        }
    }
    // End doorstep section

    // Start choose section
    .choose {
        padding: @sectionPadding-md;
        .choose-list{
            flex-direction: row;
            flex-wrap: wrap;
        }
        .choose-item{
            width: 48%;
            padding-right: 1.5rem;
        }
    }
    // End choose section

    //Start solution section
    .solution{
        padding: @sectionPadding-md;
        background-image: url(../img/onsite/solution-bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        .solution-list{
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            background-image: url(../img/onsite/bg-line.png);
            background-size: 75% 35%;
            background-repeat: no-repeat;
            background-position: center;
        }
        .solution-item{
            width: 25%;
        }

    }
    // End solution section

}

@media @size-lg{
    // Start banner section
    .onsite-banner{
        background-image: url(../img/onsite/banner-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        .banner-container{
            width: 48%;
        }
    }
    // End banner section

    // Start training section
    .onsite-training{
        .training-container{
            flex-direction: row;
            justify-content: space-between;
        }
        .training-info{
            width: 45%;
            align-items: flex-start;
            .heading{
                &::before{
                    right: inherit;
                }
                h2{
                    text-align: left;
                }
            }
        }
        p{
            text-align: left;
        }
        .delegate{
            width: 47%;
            margin-top: 0;
        }
        .training-map{
            width: 100%;
        }
    }
    // End training section

    // Start doorstep section
    .doorstep{
        .doorstep-container{
            flex-direction: row;
        }
        .form{
            width: 50%;
        }
        .info{
            padding: 3rem 1.5rem;
            box-shadow: @shadowLight;
            align-self: center;
            width: 50%;
            background-image: url(../img/onsite/information-bg.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            margin-top: 0;
            .item{
                width: 100%;
                margin-top: 2.5rem;
            }
        }
    }
    // End doorstep section

    // Start choose section
    .choose {
        .choose-item{
            width: 33%;
            p {
                min-height: 76px;
            }
        }
    }
    // End choose section

    //Start solution section
    .solution{
        .solution-list{
            background-size: 70% 35%;
        }

    }
    // End solution section
}

@media @size-xl{
    // Start banner section
    .onsite-banner{
        .banner-container{
            width: 60%;
        }
    }
    // End banner section

    // Start training section
    .onsite-training{
        padding: @sectionPadding-xl;
        padding-bottom: 5rem;
        .training-info{
            width: 48%;
        }
        .delegate{
            width: 46%;
        }
    }
    // End training section
    
    // Start doorstep section
    .doorstep{
        padding: @sectionPadding-xl;
        padding-top: 6rem;
        background-image: url(../img/onsite/information-bg.png);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: right bottom;
        .container{
            width: 100%;
        }
        .doorstep-container{
            position: relative;
            box-shadow: @shadowLight;
            padding: 1.5rem;
        }
        .form{
            width: 51%;
            position: absolute;
            left: 120px;
            top: -47px;
        }
        .info{
            box-shadow: none;
            padding: 0;
            padding-left: 5rem;
            background-image: none;
            margin-left: auto;
            width: 41%;
        }
    }
    // End doorstep section

    // Start choose section
    .choose {
        padding: @sectionPadding-xl;
        padding-top: 6rem;
        .choose-list{
            justify-content: space-between;
        }
        .choose-item{
            width: 25%;
        }
    }
    // End choose section

    //Start solution section
    .solution{
        padding: @sectionPadding-xl;
        margin-bottom: 4rem;
    }
    // End solution section
}

@media @size-xll {

    // Start doorstep section
    .doorstep{
        .container{
            width: 1200px;
        }
        .doorstep-container{
            box-shadow: none;
            padding-bottom: 4.3rem;
        }
        .form{
            left: 0px;
        }
        .info{
            width: 49%;
        }
    }
    // End doorstep section

    // Start choose section
    .choose {
        padding-top: 4rem;
    }
    // End choose section
    
}