@media @size-md{
    // Start Banner section //
    .testimonial-banner {
    background: none;
    background-image: url(../img/testimonial/banner-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    &::before {
        content: none;
    }
    .banner-container {
        width: 60%;
    }
    }
    // End Banner section //

    // Start Customers Section
    .customers {
        padding: @sectionPadding-md;
        .customers-container {
            position: relative;
            z-index: 1;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                background-image: url(../img/testimonial/box.png);
                background-repeat: no-repeat;
                background-size: contain;
                height: 70px;
                width: 80px;
                animation: rotate 13s linear infinite;
            }
        }
        p {
            width: 90%;
        }
        .customers-list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
            z-index: 1;
            &::before,
            &::after {
                content: none;
                position: absolute;
                z-index: -1;
                background-image: url(../img/testimonial/curve.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
            &::before {
                height: 178px;
                width: 177px;
                top: 291px;
                right: -42px;
            }
            &::after {
                height: 136px;
                width: 124px;
                bottom: 161px;
                left: -129px;
                transform: rotate(45deg);
            }
        }
        .customers-content {
            width: 46%;
            position: relative;
            z-index: 1;
            &::after {
                content: '';
                z-index: -1;
                position: absolute;
                bottom: 16px;
                left: -35px;
                width: 45px;
                height: 25px;
                transform: rotate(90deg);
                background-image: url(../img/testimonial/triangle.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
            .info {
                transform: translate(-20px, -5px);
                box-shadow:  9px 10px 10px rgba(0, 0, 0, 0.098)
            }
            .content {
                p {
                    min-height: 154px;
                }
            }
        }
    }
    // End Customers Section

    // Start Services Section
    .services {
        padding: @sectionPadding-md;
    }
    // End Services Section

    // Start Testimonial Section
    .testimonial {
        padding: @sectionPadding-md;
        background: url(../img/testimonial/testimonial-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    // End Testimonial Section

    // Start Facts Section
    .fact {
        padding: @sectionPadding-md;
        .fact-list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        .fact-content {
            width: 47%;
            &:first-child {
                margin-right: 2rem;
            }
        }
    }
    // End Facts Section
}

@media @size-lg{

    // Start Customers Section
    .customers {
        .customers-content {
            width: 30%;
            .content {
                p {
                    min-height: 176px;
                }
            }
        }
    }
    // End Customers Section

    // Start Services Section
    .services {
        .services-container {
            flex-direction: row;
            justify-content: space-between;
        }
        .phone {
            display: flex;
            margin-bottom: 0;
        }
        .heading {
            width: 66%;
            align-items: flex-start;
            margin-bottom: 0;
            h2 {
                margin-bottom: .5rem;
            }
            h2, p {
                text-align: left;
            }
        }
        .buttons {
            width: 16%;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 0;
        }
    }
    // End Services Section

    // Start Testimonial Section
    .testimonial {
        .testimonial-info {
            padding: 1rem 3rem;
            width: 85%;
        }
    }
    // End Testimonial Section

    // Start Facts Section
    .fact {
        background-image: url(../img/testimonial/facts-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .heading {
            p {
                width: 65%;
            }
        }
        .fact-content {
            width: 30%;
            margin-right: 2rem;
            &:last-child(2) {
                margin-right: 0rem;
            }
        }
    }
    // End Facts Section
}

@media @size-xl{

    // Start Customers Section
    .customers {
        padding: @sectionPadding-xl;
        p {
            width: 63%;
        }
        .customers-list {
            &::before,
            &::after {
                content: '';
            }

        }
        .customers-content {
            .content {
                p {
                    min-height: 132px;
                }
            }
        }
    }
    // End Customers Section

    // Start Services Section
    .services {
        padding: @sectionPadding-xl;
    }
    // End Services Section

    // Start Testimonial Section
    .testimonial {
        padding: @sectionPadding-xl;
        .testimonial-info {
            padding: 2rem 3rem;
        }
    }
    // End Testimonial Section

    // Start Facts Section
    .fact {
        padding: @sectionPadding-xl;
    }
    // End Facts Section

    
}