

@media @size-md {

    // Start topic-banner section //
    .topic-banner{

        .banner-container{
            flex-direction: row;
            justify-content: space-between;
            .banner-content{
                width: 46%;
            }
        }
       
        .choose-list{
            width: 51%;
            margin-top: 0;
        }
    }
    // End topic-banner section //

    // Start topic-courses section //

    .topic-courses{
        padding: @sectionPadding-md;

        .explore-courses{
            width: 53%;
            .heading{
                justify-content: flex-start;
                h2{
                    text-align: left;
                }
            }
        }

        .course-item{
            flex-direction: row;
            padding-left: 0;
            padding: .5rem 1rem;
           
            
            span{
                margin-bottom: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            
        }
        .course-name{
                flex-direction: row;
                justify-content: space-between;
                margin-left: 1rem;
              
            a{
                width: calc(100% - 95px);
                text-align: left;
                margin-bottom: 0;
                font-size: 16px;
            }
            
        }
        .courses-info{
              width: 42%;
              margin-top: 0;
              position: sticky;
              top: 60px;
              height: fit-content;
        }
        .courses-container{
            display: flex;
            justify-content: space-between;
        }
    }
// End topic-courses section //

    // Start experiences section //
    .experiences{
        padding: @sectionPadding-md;
        background-image: url(../img/topic/experience-bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        .top-arrow{
            display: flex;
            position: absolute;
            bottom: -15px;
            left: 0;
            right: 0;
            margin: auto;
            width: 25px;
            height: 25px;
             transform: rotate(180deg) translateX(2px);
             img{
                 width: 100%;
                 height: 100%;
             }
        }
        h3{
            min-height: 50px;
        }
        .experiences-list{
            flex-direction: row;
            justify-content: space-between;
        }

        .experiences-item{
              width: 32%;
        }
    }
    // end experiences section //

    // start topic-delivery section //
    .topic-delivery{
        padding: @sectionPadding-md;
        .delivery-list{
            .item{
                width: 19%;
            }
        }
    }
    // End topic-delivery section //


    // Start topic-choose section //
    .topic-choose{
        padding: @sectionPadding-md;


        .choose-container{
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        .choose-content{
            width: 50%;
            align-items: flex-start;
            .heading{
                justify-content: flex-start;

                h2{
                    text-align: left;
                }
            }
            p{
                text-align: left;
            }
        }
        .count{
            flex-direction: row;
            margin-bottom: 0;
            width: 165px;
        }
        .circle{
            margin-right: .7rem;
        }
        .choose-image{
            width: 48%;
            margin-top: 0;
            position: sticky;
            height: fit-content;
            top: 70px;
        }
       
    }
    // End topic-choose section //


    // Start explore section //
    .explore{
        padding: @sectionPadding-md;

        .explore-list{
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .explore-item{
            width: 45%;
            a{
                min-height: 48px;
            }
        }
    }
    // End explore section //



    // Start goals section //
    .goals{
        padding: @sectionPadding-md;

       
        .goal-image{
            .heading{
                display: flex;
                justify-content: center;
            }
            h2,p{
                text-align: center;
            }

            .img{
                width: 80%;
                margin: auto;
                margin-top: 1rem;
            }
        }

       
        .goal-item{
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
        .content{
            align-items: flex-start;
            width: 62%;
            margin-top: 0;
            width: calc(100% - 110px);
            p,h3{
                text-align: left;
            }
            
        }
        .goals-list{
            width: 85%;
          margin: auto;
        }
    }
    // End goals section //

}

@media @size-lg {

    // Start topic-banner section //
    .topic-banner{
        background-image: url(../img/topic/banner-bg.png);
         padding-bottom: 4rem;
         p,h2,h1,li{
            color: @blackColor;
        }
         .choose-list{
            width: 38%;
            .heading{
                &::before{
                    background-color: @blackColor;
                }
            }
            ul{
                li{
                    &::before{
                        background-image: url(../img/topic/check.svg);
                    }
                }
            }
        }
    }
    // end topic-banner section //

    // Start topic-courses section //

    .topic-courses{
        background-image: url(../img/topic/courses-bg.png);
        background-size: 100% 30%;
        background-repeat: no-repeat;
        background-position: bottom;
        .course-name{
              width: 100%;
        }
    }
// End topic-courses section //

    // Start topic-choose section //
    .topic-choose{
        background-image: url(../img/topic/choose-bg.png);
        background-size: 30% 50%;
        background-repeat: no-repeat;
        background-position: bottom left;
        .choose-image{
            width: 45%;
        }
        .count{
             width: 206px;
            .txt-name{
                text-align: left;
            }
        }
        .choose-progress{
            width: 90%;
        }
    }
    // End topic-choose section //


    // Start topic-delivery section //
        .topic-delivery{
            background-image: url(../img/topic/delivey-bg.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;

                p,h2{
                    text-align: left;
                }

            .delivery-container{
                display: flex;
                justify-content: space-between;
            }
            .delivery-content{
                display: flex;
                flex-direction: column;
                 width: 37%;
                 .heading{
                     align-items: flex-start;
                 }
            }
            .delivery-list{
                justify-content: space-between;
                    width: 61%;
                    align-items: center;
                .item{
                width: 24%;
                justify-content: center;
                margin-top: 0;
                padding-left: 0.3rem;
                border-left: 1px solid #C0C0C0;
                height: fit-content;
                &:nth-child(1){
                    border-left: none;
                    padding-left: 0;
                }
                }
            }
        }
    // End topic-delivery section//

    // Start experiences section //
    .experiences{
        h3{
            min-height: auto;
        }
    }
    // End experience section //

    // Start explore section
    .explore{
        .explore-item{
            width: 30%;
        }
    }
    // End explore section


    // Start goal section //
    .goals{
        background-color: transparent;
        background: linear-gradient(180deg,@whiteColor,#F6F6F6), url(../img/topic/goal-bg.png);
        background-position: top,bottom;
        background-repeat: no-repeat;
        background-size: 100% 50%, 100% 50%;
        .goals-container{
            flex-direction: row;
            justify-content: space-between;
        }
        .goal-image{
            width: 42%;
            .heading{
                justify-content: flex-start;
            }
            h2,p{
                text-align: left;
            }

            .img{
                width: 85%;
                margin-top: 1rem;
            }
        }

        .content{
         p{
             font-size: 12px;
         }
         
        }

        .goal-item{
            &:nth-child(1){
                margin-top: 0;
            }
        }

        .goals-list{
             width: 54%;
             margin: 0;
        }
    }
    // End goal section //

}


@media @size-xl {

    // Start topic-banner section //
    .topic-banner{
        padding-bottom: 6rem;
        .choose-list{
            width: 35%;
        }
    }
    // End .topic-banner section //

       // Start topic-courses section //

       .topic-courses{
           padding: @sectionPadding-xl;
        .explore-courses{
            width: 49%;
        }
        .courses-info{
            width: 46%;
        }
        .course-item{
            border: 2px solid transparent;
            a{
                width: 93%;
                font-size: 15px;
                overflow: hidden;
            }
            &:hover{
                border: 2px solid @lightblueColor;
            }
        }
    }
// End topic-courses section //

    // Start topic-delivery section//
        .topic-delivery{
            padding: @sectionPadding-xl;
            .delivery-content{
                width: 45%;
                p{
                    font-size: 13px;
                }
            }
            .delivery-list{
                width: 55%;
            }
        }
    // End topic-delivery section//

    // Start topic-choose section //
    .topic-choose{
        padding: @sectionPadding-xl;
        .choose-progress{
            width: 80%;
        }
    }
    // End topic-choose section //

    // Start experiences section //
    .experiences{
        padding: @sectionPadding-xl;
        
        .experiences-item{
            width: 28%;
        }
    }
    // End experiencessection //

    // Start explore section //
    .explore{
        padding: @sectionPadding-xl;

        .explore-list{
            justify-content: space-between;
        }
    }
    // End explore section //

    // Start goals section //
    .goals{
        padding: @sectionPadding-xl;
        .goals-list{
            width: 41%;
        }
        .goal-image{
            width: 53%;
        }
    }
    // End goals section //

}

@media @size-xlll{

    .topic-banner{
        .choose-list{
            width: 30%;
        }
    }
}